<html lang="tr">
<!--begin::Head-->
<head>
    <base href="../../">
    <meta charset="utf-8">
    <title> Netspeed Fiber Kampanyaları- Fiber ev interneti Kampanyaları</title>
    <meta name="searchTitle" content="Netspeed Fiber Ev İnterneti Kampanyaları">
    <meta name="description" content="Limitsiz Fiber İnternet keyfini Netspeed ile yaşayın! Türkiye'nin en ekonomik Taahhütsüz, Kotasız, Adsl, Vdsl, Fiber Hızında İnternet Paketleri Limitsiz Yalın Adsl - Ev ve Ofis interneti, Sınırsız Adsl.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="canonical" href="https://netspeed.com.tr/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Netspeed - Limitsiz Mutluluk">
    <meta property="og:image" content="assets/media/logos/netspeed-only-face.png">
    <meta property="og:url" content="https://www.netspeed.com.tr/fiber-tarifeler">
    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700">
    <!--end::Fonts-->
    <!--ilk::Gnl Styles-->
    <link href="assets/css/plugins.bundle.css" rel="stylesheet" type="text/css">
    <link href="assets/css/prismjs.bundle.css" rel="stylesheet" type="text/css">
    <link href="assets/css/style.bundle.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="assets/css/animate.min.css">





    <!--son::Gnl Styles-->
    <link rel="shortcut icon" href="assets/media/logos/favicon.ico">
</head>
<!--end::Head-->
<!--begin::Body-->
<body id="kt_body" class="header-fixed header-mobile-fixed subheader-enabled page-loading">
    <!--begin::Main-->
    <!--begin::header-sm-->
    <div class="header-sm py-0 d-flex flex-lg-column" style="background-color: #1c0646;" id="kt_header">
        <!--begin::Container-->

        <div class="container d-flex flex-column flex-md-row align-items-center justify-content-between">

            <!--begin::Nav-->
            <div class="nav nav-dark order-1 order-md-1">
                <div class="d-flex flex-wrap justify-content-center my-2">
                    <a href="#" class="text-dark-25 font-size-sm text-hover-info mr-lg-8 mr-5 mb-lg-0 mb-6">Bireysel</a>
                    <a href="#" class="text-dark-50 font-size-sm text-hover-info mr-lg-8 mr-5 mb-lg-0 mb-2">Kurumsal</a>

                </div>

            </div>
            <!--end::Nav-->
        </div>

    </div>
    <!--end::Container-->
    <!--end::header-sm-->
    <!--begin::Header Mobile-->
    <div id="kt_header_mobile" class="header-mobile header-mobile-fixed">
        <div class="d-flex align-items-center">
            <!--begin::Logo-->
            <a href="/" class="mr-5">
                <img alt="Logo" src="assets/media/svg/logos/bejjpluslogonew.svg" class="max-h-20px">
            </a>
            <!--end::Logo-->

        </div>
        <!--begin::Toolbar-->
        <!--begin::hizlimenu-->
        <button class="btn p-0 ml-0" id="kt_quick_actions_toggle" data-toggle="tooltip" data-placement="right" data-container="body" data-boundary="window" title="" data-original-title="">
            <span class="svg-icon svg-icon-xl">
                <!--begin::Svg Icon-->
                <div class="btn btn-icon btn-dropdown btn-lg mr-0">
                    <div class="btn btn-icon btn-dropdown btn-lg mr-0 pulse pulse-white">
                        <span class="svg-icon svg-icon-xl svg-icon-danger">
                            <!--begin::Svg Icon-->
                            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <rect x="0" y="0" width="24" height="24"></rect>
                                    <rect fill="#000000" x="4" y="4" width="7" height="7" rx="1.5"></rect>
                                    <path d="M5.5,13 L9.5,13 C10.3284271,13 11,13.6715729 11,14.5 L11,18.5 C11,19.3284271 10.3284271,20 9.5,20 L5.5,20 C4.67157288,20 4,19.3284271 4,18.5 L4,14.5 C4,13.6715729 4.67157288,13 5.5,13 Z M14.5,4 L18.5,4 C19.3284271,4 20,4.67157288 20,5.5 L20,9.5 C20,10.3284271 19.3284271,11 18.5,11 L14.5,11 C13.6715729,11 13,10.3284271 13,9.5 L13,5.5 C13,4.67157288 13.6715729,4 14.5,4 Z M14.5,13 L18.5,13 C19.3284271,13 20,13.6715729 20,14.5 L20,18.5 C20,19.3284271 19.3284271,20 18.5,20 L14.5,20 C13.6715729,20 13,19.3284271 13,18.5 L13,14.5 C13,13.6715729 13.6715729,13 14.5,13 Z" fill="#000000" opacity="0.3"></path>
                                </g>
                            </svg>
                            <!--end::Svg Icon-->
                        </span>
                        <span class="pulse-ring"> </span>

                    </div>
                </div>
            </span>
        </button>
    </div>
    <!--end::Toolbar-->


    <div id="kt_quick_actions" class="offcanvas offcanvas-left p-6 offcanvas-off" style="background-color: #290b63;">
        <!--begin::Header-->
        <div class="offcanvas-header d-flex align-items-center justify-content-between pb-10" kt-hidden-height="56" style="">
            <!--begin::Logo-->
            <a href="/" class="mr-7">
                <img alt="Logo" src="assets/media/svg/logos/bejjpluslogonew.svg" class="max-h-20px">
            </a>
            <!--end::Logo-->
            <a href="#" class="btn btn-sm btn-icon btn-hover-info" id="kt_quick_actions_close">
                <i class="ki ki-close icon-sm text-muted"></i>
            </a>
        </div>
        <!--end::Header-->
        <!--begin::Content-->
        <div class="offcanvas-content pr-5 mr-n5 scroll ps" style="height: 815px; overflow: hidden;">
            <div class="row gutter-b">
                <!--begin::Item-->

                <div class="col-6">
                    <a href="kampanyalar" class="btn btn-block btn-hover-primary text-warning text-center py-5 px-5" style="background-color: #43257d">
                        <span class="fas fa-star font-size-h1 menu-icon">
                        </span>
                        <span class="d-block font-weight-bold text-white font-size-h8 mt-2">Kampanyalar</span>
                    </a>
                </div>
                <!--end::Item-->
                <!--begin::Item-->
                <div class="col-6">
                    <a href="basvur" class="btn btn-block btn-hover-primary text-warning text-center py-5 px-5" style="background-color: #43257d">
                        <span class="fab fa-wpforms font-size-h1 menu-icon">
                        </span>

                        <span class="d-block font-weight-bold text-white font-size-h8 mt-2">Şimdi Başvur</span>
                    </a>
                </div>
                <!--end::Item-->
            </div>
            <div class="row gutter-b">
                <!--begin::Item-->
                <div class="col-6">
                    <a href="altyapi-sorgula" class="btn btn-block btn-hover-primary text-center py-5 px-5" style="background-color: #43257d">
                        <i class="flaticon-placeholder-3 font-size-h1 text-warning"></i>

                        <span class="d-block font-weight-bold text-white font-size-h8 mt-2">Altyapı Sorgula</span>
                    </a>
                </div>
                <!--end::Item-->
                <!--begin::Item-->
                <div class="col-6">
                    <a href="destek" class="btn btn-block btn-hover-primary text-warning text-center py-5 px-5" style="background-color: #43257d">
                        <span class="fas fas fa-question-circle font-size-h1 menu-icon">
                        </span>

                        <span class="d-block font-weight-bold text-white font-size-h8 mt-2">Yardım &amp; Destek</span>
                    </a>
                </div>
                <!--end::Item-->
            </div>
            <div class="row gutter-b">
                <!--begin::Item-->
                <div class="col-6">
                    <a href="hiz-testi" class="btn btn-block btn-hover-primary text-warning text-center py-5 px-5" style="background-color: #43257d">
                        <span class="fas fa-tachometer-alt font-size-h2 menu-icon"></span>
                        <span class="d-block font-weight-bold text-white font-size-h8 mt-2">Hız Testi</span>
                    </a>
                </div>
                <!--end::Item-->
                <!--begin::Item-->
                <div class="col-6">
                    <a href="sozlesme-ve-form" class="btn btn-block btn-hover-primary text-warning text-center py-5 px-5" style="background-color: #43257d">

                        <!--begin::Svg Icon-->
                        <span class="fas fa-file-signature font-size-h1 menu-icon">
                        </span>
                        <span class="d-block font-weight-bold text-white font-size-h8 mt-2">Sözleşme / Formlar</span>
                    </a>
                </div>
                <!--end::Item-->
            </div>
            <div class="row">
                <!--begin::Item-->
                <div class="col-6">
                    <a href="destek/fatura-odeme" class="btn btn-block btn-hover-primary text-warning text-center py-5 px-5" style="background-color: #43257d">
                        <span class="fas fa-credit-card font-size-h1 menu-icon ">
                        </span>

                        <span class="d-block font-weight-bold text-white font-size-h8 mt-2">Fatura Ödeme</span>
                    </a>
                </div>
                <!--end::Item-->
                <!--begin::Item-->
                <div class="col-6">
                    <a href="giris" class="btn btn-block btn-hover-primary btn-info text-warning text-center py-5 px-5" style="background-color: #43257d">
                        <span class="fas fa-user-alt font-size-h1 menu-icon">
                        </span>

                        <span class="d-block font-weight-bold text-white font-size-h8 mt-2">Online İşlemler</span>
                    </a>
                </div>
                <!--end::Item-->
            </div>
            <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div>
        </div>
        <!--end::Content-->
    </div>


    <!--end::Header Mobile-->
    <!--begin::Header-->
    <div id="kt_header" class="header flex-column header-fixed">

        <!--begin::Top-->
        <div class="header-top" style="background-color: #290b63">

            <!--begin::Container-->
            <div class="container">

                <!--begin::Left-->
                <div class="d-none d-lg-flex align-items-center mr-3">
                    <!--begin::Logo-->
                    <a href="/" class="mr-10">
                        <img alt="Logo" src="assets/media/svg/logos/bejjpluslogonew.svg" class="max-h-25px">
                    </a>
                    <!--end::Logo-->
                    <!--begin::Header Menu Wrapper-->
                    <div class="header-menu-wrapper header-menu-wrapper-left" id="kt_header_menu_wrapper">
                        <!--begin::Header Menu-->
                        <div id="kt_header_menu" class="header-menu header-menu-left header-menu-mobile header-menu-layout-default">
                            <!--begin::Header Nav-->
                            <ul class="menu-nav">

                                <li class="menu-item menu-item-rel" aria-haspopup="true">
                                    <a href="kampanyalar" class="link m-3">
                                        <span class="text-white text-hover-warning font-size-h6">Kampanyalar</span>
                                    </a>
                                </li>
                                <li class="menu-item menu-item-rel" aria-haspopup="true">
                                    <a href="basvur" class="link m-3">
                                        <span class="text-white text-hover-warning font-size-h6">Hemen Başvur</span>
                                    </a>
                                </li>
                                <li class="menu-item menu-item-rel" aria-haspopup="true">
                                    <a href="/altyapi-sorgula" class="link m-3">
                                        <span class="text-white text-hover-warning font-size-h6">Altyapı Sorgula</span>
                                    </a>
                                </li>
                                <li class="menu-item menu-item-rel" aria-haspopup="true">
                                    <ul class="menu-subnav">
                                        <li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">

                                            <a href="javascript:;" class="link m-3">
                                                <span class="text-white text-hover-warning font-size-h6">Destek</span>

                                            </a>
                                            <div class="menu-submenu menu-submenu-classic menu-submenu-left" data-hor-direction="menu-submenu-left" style="background-color: #290b63">
                                                <ul class="menu-subnav">
                                                    <li class="menu-item" aria-haspopup="true">
                                                        <a href="sozlesme-ve-form" class="menu-link">
                                                            <span class="fas fas fa-sticky-note menu-icon">
                                                            </span>
                                                            <span class="font-size-h6 text-hover-warning menu-text">Sözleşme &amp; Formlar</span>
                                                        </a>
                                                    </li>
                                                    <li class="menu-item" aria-haspopup="true">
                                                        <a href="destek" class="menu-link">
                                                            <span class="fas fas fa-question-circle menu-icon">
                                                            </span>
                                                            <span class="font-size-h6 text-hover-warning menu-text">Yardım &amp; Destek</span>
                                                        </a>
                                                    </li>
                                                    <li class="menu-item" aria-haspopup="true">
                                                        <a href="hiz-testi" class="menu-link">
                                                            <span class="fas fa-tachometer-alt menu-icon">

                                                            </span>
                                                            <span class="font-size-h6 text-hover-warning menu-text">Hız Testi</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="topbar">
                    <!--begin::Desktop Arama-->
                    <div class="d-none m-4 d-lg-flex align-items-center">
                        <div class="quick-search quick-search-inline ml-4 w-250px" id="kt_quick_search_inline">
                            <!--begin::Form-->
                            <form method="get" class="quick-search-form">
                                <div class="input-group rounded">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <span class="svg-icon svg-icon-lg">
                                                <!--begin::Svg Icon | path:assets/media/svg/icons/General/Search.svg-->
                                                <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <rect x="0" y="0" width="24" height="24"></rect>
                                                        <path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                                                        <path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" fill="#000000" fill-rule="nonzero"></path>
                                                    </g>
                                                </svg>
                                                <!--end::Svg Icon-->
                                            </span>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control h-40px" placeholder="Nasıl yardımcı olabiliriz?">
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="quick-search-close ki ki-close icon-sm" style="display: none;"></i>
                                        </span>
                                    </div>
                                </div>
                            </form>
                            <!--end::Form-->
                            <!--begin::arama-sonuclari-->
                            <div id="kt_quick_search_toggle" data-toggle="dropdown" data-offset="0px,0px"></div>
                            <!--son::Search-->
                            <!--ilk::aclrm-->
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg dropdown-menu-anim-up">
                                <div class="quick-search-wrapper scroll ps" data-scroll="true" data-height="350" data-mobile-height="200" style="height: 350px; overflow: hidden;">
                                    <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                                        <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;">
                                        </div>
                                    </div>
                                    <div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div>
                                </div>
                            </div>
                            <!--son::aclrm-->
                        </div>
                    </div>
                    <!--end::Desktop Arama-->
                    <!--end::Topbar-->
                    <!--ilk::mini panel-->
                    <div class="topbar-item">
                        <div class="btn btn-icon btn-sm btn-clean btn-text m-1 mr-2" id="kt_quick_user_toggle" data-toggle="tooltip" title="Fatura Öde">
                            <a href="destek/fatura-odeme" class="text-white text-hover-warning font-weight-bold font-size-sm d-none d-md-inline mr-1">
                                <span class="svg-icon svg-icon-2x">

                                    <span class="svg-icon svg-icon-danger svg-icon-2x">
                                        <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect x="0" y="0" width="24" height="24"></rect>
                                                <rect fill="#000000" opacity="0.3" x="2" y="5" width="20" height="14" rx="2"></rect>
                                                <rect fill="#000000" x="2" y="8" width="20" height="3"></rect>
                                                <rect fill="#000000" opacity="0.3" x="16" y="14" width="4" height="2" rx="1"></rect>
                                            </g>
                                        </svg><!--end::Svg Icon-->
                                    </span>

                                </span>
                            </a>
                        </div><a href="destek/fatura-odeme" class="text-white text-hover-warning font-weight-bold font-size-sm d-none d-md-inline mr-1">
                            <!--son::mini panel-->
                            <!--begin::User-->
                        </a><div class="topbar-item">
                            <a href="destek/fatura-odeme" class="text-white text-hover-warning font-weight-bold font-size-sm d-none d-md-inline mr-1">

                            </a><a href="giris" class="btn btn-sm text-white btn-outline-info">Online İşlemler</a>
                        </div>
                    </div>
                </div>
                <!--end::Topbar-->
            </div>
        </div>
    </div>






    <!--end::Header Menu Wrapper-->
    <!--begin::Body-->
    <div class="subheader py-8 mr-0 bg-secondary py-lg-6 subheader-transparent" id="kt_subheader">
        <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-5">
                <!--begin::Page Heading-->
                <div class="d-flex align-items-baseline flex-wrap mr-5">
                    <!--begin::Page Title-->
                    <h5 class="text-dark-50 font-weight-bold my-1 mr-5">Fiber Tarifeler</h5>
                    <!--end::Page Title-->
                    <!--begin::Breadcrumb-->
                    <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                        <li class="breadcrumb-item">
                            <a href="/" class="text-muted">Anasayfa</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="kampanyalar" class="text-muted">Kampanyalar</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="kampanyalar/fiber-tarifeler" class="text-muted">Fiber Tarifeler</a>
                        </li>
                    </ul>
                    <!--end::Breadcrumb-->
                </div>
                <!--end::Page Heading-->
            </div>
            <!--end::Info-->
            <!--end::Toolbar-->
        </div>
    </div>

    <!-- Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-0" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background:#290b63">
                    <i class="fa fas fa-headphones-alt font-size-h2 text-white"></i>
                    <h5 class="modal-title text-white" id="exampleModalLabel">Biz Sizi Arayalım!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="text-white font-size-h6 ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body bg-secondary">
                    <div class="form-group fv-plugins-icon-container">
                        <input type="text" class="form-control h-auto py-4 px-6 border-1 rounded-lg font-size-h6" name="lname" placeholder="Adı Soyadı" value="">
                        <div class="fv-plugins-message-container"></div>
                    </div>

                    <div class="form-group fv-plugins-icon-container">
                        <input type="tel" class="form-control h-auto py-4 px-6 border-1 rounded-lg font-size-h6" name="phone" placeholder="GSM Numaranız">
                        <div class="fv-plugins-message-container"></div>
                        <div class="row m-2"><span class="form-text text-info">Lütfen size ulaşabileceğimiz GSM numaranızı yazınız.</span></div>
                    </div>


                    <div class="footer col-sm-0 d-flex align-items-center justify-content-sm-end">

                        <button type="button" class="btn btn-warning text-white font-weight-bold px-12 m-2" data-dismiss="modal">İptal</button>
                        <button onclick="CallUs();" type="button" class="btn btn-info font-weight-bold px-12 m-2">Beni Arayın</button>
                    </div>
                </div>
                <div class="modal-footer bg-secondary">
                    <p>
                        <small>
                            Başvurunuz esnasında paylaşacağınız GSM numarası, Ad-Soyadı, hizmet almak istediğiniz adreste mevcut altyapıya uygun Netspeed ürün ve kampanyaları hakkında tarafınıza bilgi verilebilmesi, tarafınızla iletişime geçilebilmesi ve size doğru şekilde hitap edilebilmesi amaçlarıyla istenmektedir. Bu bilgiler Netspeed İnternet AŞ tarafından işlenecek ve belirtilen amaçlar haricinde kullanılmayacaktır. Kişisel Verilerin Korunması Kanunu kapsamında sahip olduğunuz haklarınız ve detaylar için <span>
                                <a href="destek/kvkk" target="_blank" class=" text-danger">Kişisel veri aydınlatma metni</a>
                            </span>
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>





    <!--end::Section-->

    <div class="container pt-0 py-0">

        <div class="container text-center pt-15 py-0">

            <h1 class="text-center font-weight-bolder text-dark mb-6">Fiber Ev İnterneti Paketleri</h1>
            <p class="text-center font-size-h6 text-dark-50 mb-8">Netspeed’te herkese uygun bir kampanya ya da tarife var! Sana en uygun tarifeyi seç, Taahhütsüz İnternet’in keyfini Netspeed ile yaşa!</p>

            <div class=" justify-content-center">

                <span><a href="kampanyalar/adsl-tarifeler" class="btn m-4 px-8 font-weight-bolder btn-outline-primary">ADSL</a></span>
                <span><a href="kampanyalar/vdsl-tarifeler" class="btn m-4 px-8 font-weight-bolder btn-outline-danger">VDSL</a></span>
                <span><a href="kampanyalar/fiber-tarifeler" class="btn m-4 px-8 font-weight-bolder btn-info">FİBER</a></span>
                <span><a href="kampanyalar" class="btn m-4 px-8 font-weight-bolder btn-outline-warning">TÜMÜ</a></span>


            </div>
        </div>
    </div>

    <!--son::duyuru-banner-->

    <div class="container pt-15 py-8">

        <p class="text-center font-size-h2 font-weight-bolder text-dark mb-2">Fiber Tarifeler</p>

        <div class="row my-1 justify-content-center py-8">


            <!--ilk: blm-->
            <div class="col-md-6 mt-2 col-xxl-3">
                <div class="overlay">
                    <div class="card rounded-lg overlay-layer" style=" box-shadow:-webkit-box-shadow: -13px 68px 106px -16px rgba(0,0,0,0.37);
												-moz-box-shadow: -13px 68px 106px -16px rgba(0,0,0,0.37);
												box-shadow: -13px 68px 106px -16px rgba(0,0,0,0.37);"></div>

                    <div class="card rounded-lg bg-white bg-hover-white" style=" box-shadow:-webkit-box-shadow: -15px 24px 30px -31px rgba(0,0,0,0.23);
												-moz-box-shadow: -15px 24px 30px -31px rgba(0,0,0,0.23);
												box-shadow: 0 2px 0.75rem -3px rgba(37,51,66,.5)">


                        <div class="pt-0 pt-md-0 pb-15 px-0 ribbon ribbon-top ribbon text-center">
                            <div class="card-header" style="width: 100%;
							height: 80px;
							background-color: #ffffff;
							justify-content: center;
							align-items:center;
							overflow:hidden;
							position:relative;
							clip-path: ellipse(140% 100% at 50% -12%);">
                                <div class="ribbon-target bg-info" style="top: -2px; right: 20px;">FİBER</div>
                                <div class="d-flex flex-center position-relative mb-5">

                                    <span class="svg-icon svg-icon-3x svg-icon-primary">
                                        <!--begin::Svg Icon | \General\Thunder.svg--><svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect x="0" y="0" width="24" height="24"></rect>
                                                <path d="M12.3740377,19.9389434 L18.2226499,11.1660251 C18.4524142,10.8213786 18.3592838,10.3557266 18.0146373,10.1259623 C17.8914367,10.0438285 17.7466809,10 17.5986122,10 L13,10 L13,4.47708173 C13,4.06286817 12.6642136,3.72708173 12.25,3.72708173 C11.9992351,3.72708173 11.7650616,3.85240758 11.6259623,4.06105658 L5.7773501,12.8339749 C5.54758575,13.1786214 5.64071616,13.6442734 5.98536267,13.8740377 C6.10856331,13.9561715 6.25331908,14 6.40138782,14 L11,14 L11,19.5229183 C11,19.9371318 11.3357864,20.2729183 11.75,20.2729183 C12.0007649,20.2729183 12.2349384,20.1475924 12.3740377,19.9389434 Z" fill="#000000"></path>
                                            </g>
                                        </svg><!--end::Svg Icon-->

                                    </span>
                                    <span class="svg-icon svg-icon-info svg-icon-3x">
                                        <!--begin::Svg Icon-->
                                        <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect x="0" y="0" width="24" height="24"></rect>
                                                <path d="M14,7 C13.6666667,10.3333333 12.6666667,12.1167764 11,12.3503292 C11,12.3503292 12.5,6.5 10.5,3.5 C10.5,3.5 10.287918,6.71444735 8.14498739,10.5717225 C7.14049032,12.3798172 6,13.5986793 6,16 C6,19.428689 9.51143904,21.2006583 12.0057195,21.2006583 C14.5,21.2006583 18,20.0006172 18,15.8004732 C18,14.0733981 16.6666667,11.1399071 14,7 Z" fill="#000000"></path>
                                            </g>
                                        </svg><!--end::Svg Icon-->
                                    </span>
                                </div>
                            </div>
                            <h4 class="font-size-h3 d-block font-weight-boldest mb-7 text-dark-75">Fiber Pro 75</h4>
                            <span class="px-8 py-2 d-inline-flex flex-center rounded-lg mb-8 bg-primary-o-10">

                                <span class="opacity-70">Ayda&nbsp;&nbsp;/&nbsp;</span><span class="pr-2 font-size-h1 font-weight-boldest ">94</span>
                                <span class="pr-2 opacity-70">₺</span>

                            </span>
                            <div class="d-flex flex-column flex-root">
                                <span class="font-size-h5 font-weight-bolder mb-2" style="color: #dc3287;"> 75 Mbps'e Kadar Hız</span>
                                <span class="opacity-70">
                                    5 Mbps'e Kadar Upload
                                    <br>Taahhütsüz
                                    <br>Limitsiz
                                </span>
                            </div>
                            <br>
                            <div class="d-flex justify-content-center">
                                <span><a href="kampanyalar/fiber-pro-75-kampanyasi" type="button" class="btn  btn-warning font-weight-bolder px-14 py-3">İncele</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--son: blm-->
            <!--ilk: blm-->
            <div class="col-md-6 col-xxl-3 mt-2 ">
                <div class="overlay">
                    <div class="card rounded-lg overlay-layer" style=" box-shadow:-webkit-box-shadow: -13px 68px 106px -16px rgba(0,0,0,0.37);
												-moz-box-shadow: -13px 68px 106px -16px rgba(0,0,0,0.37);
												box-shadow: -13px 68px 106px -16px rgba(0,0,0,0.37);"></div>

                    <div class="card rounded-lg bg-white bg-hover-white" style=" box-shadow:-webkit-box-shadow: -15px 24px 30px -31px rgba(0,0,0,0.23);
												-moz-box-shadow: -15px 24px 30px -31px rgba(0,0,0,0.23);
												box-shadow: 0 2px 0.75rem -3px rgba(37,51,66,.5)">


                        <div class="pt-0 pt-md-0 pb-15 px-0 ribbon ribbon-top ribbon text-center">
                            <div class="card-header" style="width: 100%;
							height: 80px;
							background-color: #ffffff;
							justify-content: center;
							align-items:center;
							overflow:hidden;
							position:relative;
							clip-path: ellipse(140% 100% at 50% -12%);">
                                <div class="ribbon-target bg-info" style="top: -2px; right: 20px;">FİBER</div>
                                <div class="d-flex flex-center position-relative mb-5">



                                    <span class="svg-icon svg-icon-3x svg-icon-primary">
                                        <!--begin::Svg Icon | \General\Thunder.svg--><svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect x="0" y="0" width="24" height="24"></rect>
                                                <path d="M12.3740377,19.9389434 L18.2226499,11.1660251 C18.4524142,10.8213786 18.3592838,10.3557266 18.0146373,10.1259623 C17.8914367,10.0438285 17.7466809,10 17.5986122,10 L13,10 L13,4.47708173 C13,4.06286817 12.6642136,3.72708173 12.25,3.72708173 C11.9992351,3.72708173 11.7650616,3.85240758 11.6259623,4.06105658 L5.7773501,12.8339749 C5.54758575,13.1786214 5.64071616,13.6442734 5.98536267,13.8740377 C6.10856331,13.9561715 6.25331908,14 6.40138782,14 L11,14 L11,19.5229183 C11,19.9371318 11.3357864,20.2729183 11.75,20.2729183 C12.0007649,20.2729183 12.2349384,20.1475924 12.3740377,19.9389434 Z" fill="#000000"></path>
                                            </g>
                                        </svg><!--end::Svg Icon-->

                                    </span>

                                    <span class="svg-icon svg-icon-info svg-icon-3x">
                                        <!--begin::avg-netspsvg--><svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect x="0" y="0" width="24" height="24"></rect>
                                                <rect fill="#000000" x="3" y="13" width="18" height="7" rx="2"></rect>
                                                <path d="M17.4029496,9.54910207 L15.8599014,10.8215022 C14.9149052,9.67549895 13.5137472,9 12,9 C10.4912085,9 9.09418404,9.67104182 8.14910121,10.8106159 L6.60963188,9.53388797 C7.93073905,7.94090645 9.88958759,7 12,7 C14.1173586,7 16.0819686,7.94713944 17.4029496,9.54910207 Z M20.4681628,6.9788888 L18.929169,8.25618985 C17.2286725,6.20729644 14.7140097,5 12,5 C9.28974232,5 6.77820732,6.20393339 5.07766256,8.24796852 L3.54017812,6.96885102 C5.61676443,4.47281829 8.68922234,3 12,3 C15.3153667,3 18.3916375,4.47692603 20.4681628,6.9788888 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                                            </g>
                                        </svg>
                                        <!--end::Svg Icon-->
                                    </span>
                                    <span class="svg-icon svg-icon-warning svg-icon-3x">
                                        <!--begin::Svg Icon--><svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect x="0" y="0" width="24" height="24"></rect>
                                                <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"></circle>
                                                <path d="M12.4208204,17.1583592 L15.4572949,11.0854102 C15.6425368,10.7149263 15.4923686,10.2644215 15.1218847,10.0791796 C15.0177431,10.0271088 14.9029083,10 14.7864745,10 L12,10 L12,7.17705098 C12,6.76283742 11.6642136,6.42705098 11.25,6.42705098 C10.965921,6.42705098 10.7062236,6.58755277 10.5791796,6.84164079 L7.5427051,12.9145898 C7.35746316,13.2850737 7.50763142,13.7355785 7.87811529,13.9208204 C7.98225687,13.9728912 8.09709167,14 8.21352549,14 L11,14 L11,16.822949 C11,17.2371626 11.3357864,17.572949 11.75,17.572949 C12.034079,17.572949 12.2937764,17.4124472 12.4208204,17.1583592 Z" fill="#000000"></path>
                                            </g>
                                        </svg><!--end::Svg Icon-->
                                    </span>
                                </div>
                            </div>
                            <h4 class="font-size-h3 d-block font-weight-boldest mb-7 text-dark-75">Fiber Eko</h4>
                            <span class="px-8 py-2 d-inline-flex flex-center rounded-lg mb-8 bg-primary-o-10">

                                <span class="opacity-70">Ayda&nbsp;&nbsp;/&nbsp;</span><span class="pr-2 font-size-h1 font-weight-boldest ">79</span>
                                <span class="pr-2 opacity-70">₺</span>

                            </span>
                            <div class="d-flex flex-column flex-root">
                                <span class="font-size-h5 font-weight-bolder mb-2" style="color: #dc3287;"> 24 Mbps'e Kadar Hız</span>
                                <span class="opacity-70">
                                    3 Mbps'e Kadar Upload
                                    <br>Taahhütsüz
                                    <br>Limitsiz
                                </span>
                            </div>
                            <br>
                            <div class="d-flex justify-content-center">
                                <span><a href="kampanyalar/fiber-eko-kampanyasi" type="button" class="btn  btn-warning font-weight-bolder px-14 py-3">İncele</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--son: blm-->
            <!--ilk: blm-->
            <div class="col-md-6 col-xxl-3 mt-2">
                <div class="overlay">
                    <div class="card rounded-lg overlay-layer" style=" box-shadow:-webkit-box-shadow: -13px 68px 106px -16px rgba(0,0,0,0.37);
												-moz-box-shadow: -13px 68px 106px -16px rgba(0,0,0,0.37);
												box-shadow: -13px 68px 106px -16px rgba(0,0,0,0.37);"></div>

                    <div class="card rounded-lg bg-white bg-hover-white" style=" box-shadow:-webkit-box-shadow: -15px 24px 30px -31px rgba(0,0,0,0.23);
												-moz-box-shadow: -15px 24px 30px -31px rgba(0,0,0,0.23);
												box-shadow: 0 2px 0.75rem -3px rgba(37,51,66,.5)">


                        <div class="pt-0 pt-md-0 pb-15 px-0 ribbon ribbon-top ribbon text-center">
                            <div class="card-header" style="width: 100%;
							height: 80px;
							background-color: #ffffff;
							justify-content: center;
							align-items:center;
							overflow:hidden;
							position:relative;
							clip-path: ellipse(140% 100% at 50% -12%);">
                                <div class="ribbon-target bg-info" style="top: -2px; right: 20px;">FİBER</div>
                                <div class="d-flex flex-center position-relative mb-5">


                                    <span class="svg-icon svg-icon-3x svg-icon-primary">
                                        <!--begin::Svg Icon | \General\Thunder.svg--><svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect x="0" y="0" width="24" height="24"></rect>
                                                <path d="M12.3740377,19.9389434 L18.2226499,11.1660251 C18.4524142,10.8213786 18.3592838,10.3557266 18.0146373,10.1259623 C17.8914367,10.0438285 17.7466809,10 17.5986122,10 L13,10 L13,4.47708173 C13,4.06286817 12.6642136,3.72708173 12.25,3.72708173 C11.9992351,3.72708173 11.7650616,3.85240758 11.6259623,4.06105658 L5.7773501,12.8339749 C5.54758575,13.1786214 5.64071616,13.6442734 5.98536267,13.8740377 C6.10856331,13.9561715 6.25331908,14 6.40138782,14 L11,14 L11,19.5229183 C11,19.9371318 11.3357864,20.2729183 11.75,20.2729183 C12.0007649,20.2729183 12.2349384,20.1475924 12.3740377,19.9389434 Z" fill="#000000"></path>
                                            </g>
                                        </svg><!--end::Svg Icon-->

                                    </span>
                                    <span class="svg-icon svg-icon-info svg-icon-3x">
                                        <!--begin::Svg Icon--><svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect x="0" y="0" width="24" height="24"></rect>
                                                <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"></circle>
                                                <path d="M12.4208204,17.1583592 L15.4572949,11.0854102 C15.6425368,10.7149263 15.4923686,10.2644215 15.1218847,10.0791796 C15.0177431,10.0271088 14.9029083,10 14.7864745,10 L12,10 L12,7.17705098 C12,6.76283742 11.6642136,6.42705098 11.25,6.42705098 C10.965921,6.42705098 10.7062236,6.58755277 10.5791796,6.84164079 L7.5427051,12.9145898 C7.35746316,13.2850737 7.50763142,13.7355785 7.87811529,13.9208204 C7.98225687,13.9728912 8.09709167,14 8.21352549,14 L11,14 L11,16.822949 C11,17.2371626 11.3357864,17.572949 11.75,17.572949 C12.034079,17.572949 12.2937764,17.4124472 12.4208204,17.1583592 Z" fill="#000000"></path>
                                            </g>
                                        </svg><!--end::Svg Icon-->
                                    </span>

                                    <span class="svg-icon svg-icon-3x svg-icon-warning">
                                        <!--begin::Svg Icon | path:assets/media/svg/icons/General/Star.svg-->
                                        <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                                <path d="M12,18 L7.91561963,20.1472858 C7.42677504,20.4042866 6.82214789,20.2163401 6.56514708,19.7274955 C6.46280801,19.5328351 6.42749334,19.309867 6.46467018,19.0931094 L7.24471742,14.545085 L3.94038429,11.3241562 C3.54490071,10.938655 3.5368084,10.3055417 3.92230962,9.91005817 C4.07581822,9.75257453 4.27696063,9.65008735 4.49459766,9.61846284 L9.06107374,8.95491503 L11.1032639,4.81698575 C11.3476862,4.32173209 11.9473121,4.11839309 12.4425657,4.36281539 C12.6397783,4.46014562 12.7994058,4.61977315 12.8967361,4.81698575 L14.9389263,8.95491503 L19.5054023,9.61846284 C20.0519472,9.69788046 20.4306287,10.2053233 20.351211,10.7518682 C20.3195865,10.9695052 20.2170993,11.1706476 20.0596157,11.3241562 L16.7552826,14.545085 L17.5353298,19.0931094 C17.6286908,19.6374458 17.263103,20.1544017 16.7187666,20.2477627 C16.5020089,20.2849396 16.2790408,20.2496249 16.0843804,20.1472858 L12,18 Z" fill="#000000">

                                                </path>
                                            </g>
                                        </svg>
                                        <!--end::Svg Icon-->
                                    </span>
                                </div>


                            </div>
                            <h4 class="font-size-h3 d-block font-weight-boldest mb-7 text-dark-75">Fiber Star</h4>
                            <span class="px-8 py-2 d-inline-flex flex-center rounded-lg mb-8 bg-primary-o-10">

                                <span class="opacity-70">Ayda&nbsp;&nbsp;/&nbsp;</span><span class="pr-2 font-size-h1 font-weight-boldest ">89</span>
                                <span class="pr-2 opacity-70">₺</span>

                            </span>
                            <div class="d-flex flex-column flex-root">
                                <span class="font-size-h5 font-weight-bolder mb-2" style="color: #dc3287;"> 35 Mbps'e Kadar Hız</span>
                                <span class="opacity-70">
                                    3 Mbps'e Kadar Upload
                                    <br>Taahhütsüz
                                    <br>Limitsiz
                                </span>
                            </div>
                            <br>
                            <div class="d-flex justify-content-center">
                                <span><a href="kampanyalar/fiber-star-kampanyasi" type="button" class="btn  btn-warning font-weight-bolder px-14 py-3">İncele</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!--son: blm-->
    <!--begin::Section-->
    <!--begin::Card-->
    <div class="container py-8 my-8">

        <!--begin::widgetler 14-->
        <div class="card card-custom card-stretch gutter-b" style=" box-shadow:-webkit-box-shadow: -13px 68px 106px -16px rgba(0,0,0,0.37);
			-moz-box-shadow: -13px 68px 106px -16px rgba(0,0,0,0.37);
			box-shadow: 0 2px 0.75rem -3px rgba(37,51,66,.5)">

            <div class="ribbon ribbon-right">
                <div class="ribbon-target bg-info" style="top: 4px; right:-1px;">Ev İnterneti</div>
                <div class="card-body p-8 pb-0" style="background-color: #f4f5f9">
                    <div class="row mb-0">
                        <div class="col-xxl-5 mb-11 mb-xxl-0">
                            <!--begin::Image-->
                            <div class="card-stretch">
                                <div class="card-body p-0 rounded px-10 py-15 d-flex align-items-center justify-content-center">
                                    <img src="assets/media/svg/illustrations/ev2.svg" class="mw-100 w-200px" style="transform: scale(1.8);">
                                </div>
                                <div class="container text-center pt-15 py-0">
                                    <div class=" justify-content-center">

                                        <span>
                                            <!--begin::Button-->
                                            <div class=" justify-content-center">

                                                <span>
                                                    <button type="button" class="btn btn-outline-info btn-hover-text-white text-dark-75 font-weight-bolder px-6 m-2 " data-toggle="modal" data-target="#exampleModal">
                                                        Sizi Arayalım mı?
                                                    </button>
                                                </span>

                                                <!-- Modal-->
                                                <div class="modal fade" id="exampleModal" tabindex="-0" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header" style="background:#290b63">
                                                                <i class="fa fas fa-headphones-alt font-size-h2 text-white"></i>
                                                                <h5 class="modal-title text-white" id="exampleModalLabel">Biz Sizi Arayalım!</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <i aria-hidden="true" class="text-white font-size-h6 ki ki-close"></i>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body bg-secondary">
                                                                <div class="form-group fv-plugins-icon-container">
                                                                    <input type="text" class="form-control h-auto py-4 px-6 border-1 rounded-lg font-size-h6" name="lname" placeholder="Adı Soyadı" value="">
                                                                    <div class="fv-plugins-message-container"></div>
                                                                </div>

                                                                <div class="form-group fv-plugins-icon-container">
                                                                    <input type="tel" class="form-control h-auto py-4 px-6 border-1 rounded-lg font-size-h6" name="phone" placeholder="GSM Numaranız">
                                                                    <div class="fv-plugins-message-container"></div>
                                                                    <div class="row m-2"><span class="form-text text-info">Lütfen size ulaşabileceğimiz GSM numaranızı yazınız.</span></div>
                                                                </div>


                                                                <div class="footer col-sm-0 d-flex align-items-center justify-content-sm-end">

                                                                    <button type="button" class="btn btn-warning text-white font-weight-bold px-12 m-2" data-dismiss="modal">İptal</button>
                                                                    <button type="button" class="btn btn-info font-weight-bold px-12 m-2">Beni Arayın</button>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer bg-secondary">
                                                                <p>
                                                                    <small>
                                                                        Başvurunuz esnasında paylaşacağınız GSM numarası, Ad-Soyadı, hizmet almak istediğiniz adreste mevcut altyapıya uygun Netspeed ürün ve kampanyaları hakkında tarafınıza bilgi verilebilmesi, tarafınızla iletişime geçilebilmesi ve size doğru şekilde hitap edilebilmesi amaçlarıyla istenmektedir. Bu bilgiler Netspeed İnternet AŞ tarafından işlenecek ve belirtilen amaçlar haricinde kullanılmayacaktır. Kişisel Verilerin Korunması Kanunu kapsamında sahip olduğunuz haklarınız ve detaylar için <span>
                                                                            <a href="destek/kvkk" target="_blank" class=" text-danger">Kişisel veri aydınlatma metni</a>
                                                                        </span>
                                                                    </small>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <span>
                                                    <a href="destek" type="button" class="btn m-4 px-6 text-dark-75 font-weight-bolder btn-hover-text-white btn-outline-danger">Yardım mı Lazım?</a>
                                                </span>


                                            </div>
                                        </span>
                                    </div>
                                </div>

                            </div>
                            <!--end::Image-->
                        </div>
                        <div class="col-xxl-7 pl-xxl-11 mt-10">
                            <h2 class="font-weight-bolder text-dark mb-2" style="font-size: 32px;">Netspeed Fiber Ev İnterneti</h2>
                            <div class="font-size-h2 mb-7 text-danger font-weight-boldest ml-0">Her eve avantajlı internet!</div>
                            <div class="font-size-h6 text-dark-50 mb-8">Hızlı ve kaliteli fiber ev internet peketlerini farklı ihtiyaçlara ve her bütçeye uygun şekilde hizmetinize sunuyoruz. Taahhütsüz, kaliteli ve ekonomik şekilde sizlere sunduğumuz ev interneti kampanyalarına göz atmaya başlayabilirsiniz.</div>

                            <div class="font-size-h6 text-dark-50 mb-6">Evde internet keyfini Netspeed kalitesiyle yaşamak isteyenlere sunduğumuz yalın Fiber, yalın ADSL ve yalın VDSL internet paketleri sayesinde ev telefonu bağlatmanıza gerek duymadan ve taahhüt vermeden evde internet hizmetimizi kullanabilirsiniz.</div>


                            <div class="accordion accordion-light accordion-light-borderless accordion-svg-toggle" id="accordionExample1">

                                <div id="headingOne1">
                                    <div data-toggle="collapse" data-target="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1" role="button">

                                        <div class="text-hover-warning text-dark-50 font-size-h6 font-weight mb-2" data-toggle="collapse" data-target="#collapseOne2">
                                            Daha Fazla <i class="text-dark-50 font-size-h7 flaticon2-down"></i> <div id="collapseOne2" class="collapse">

                                                <div class="font-size-h6 text-dark-50 mt-4 mb-8">Size her zaman tercih ettiğiniz tarifede tanımlı ve hattınız tarafından desteklenen en iyi hızı vermek istiyoruz. Bu nedenle tarifenizi seçmeden önce internet hizmetini alacağınız adreste altyapınızın uygunluğunu kontrol etmeli ve bağlantı türüne ve mesefaye göre altyapınızın desteklediği alabileceğiniz en yüksek hızı öğrenmelisiniz. Bu işlemi altyapı sorgulama sayfamızdan kolay bir şekilde gerçekleştirebilirsiniz. </div>

                                                <div class="font-size-h6 text-dark-50 mb-8">Evde İnternet hizmeti alabilmeniz için bir modeme ihtiyacınız olacak. Halihazırda kullanmakta olduğunuz modeminiz varsa ayrıca yeni bir modem almanıza gerek yoktur. Ancak modeminizin bağlantı türüne uyumlu olmasına dikkat etmelisiniz. Modeminiz yoksa alacağınız internet türüne uyumlu ADSL/VDSL modem satın almanız gerekmektedir. </div>

                                                <div class="font-size-h6 text-dark-50 mb-8">Alabileceğiniz hız santrale olan mesafenize bağlıdır. Santrale uzak telefon hatları daha yavaş hızları desteklemektedir. Yani, telefon hattınızın santrale olan mesafesi ne kadar kısa olursa alabileceğiniz hız da o kadar iyi olur.</div>

                                                <div class="font-size-h6 text-dark-50 mb-8">Herhangi bir nedenle aboneliğinizi iptal ettirmek isterseniz Netspeed Müşteri Hizmetlerini (0850 800 5 800) dilediğiniz zaman arayarak iptal süreci ile ilgili detaylı bilgileri alabilirsiniz. İptal talebinizi Abone/Hizmet numaranızı, iletişim bilgilerinizi ve imzanızı içerecek şekilde hazırladığınız iptal talep yazısını bize göndererek yapabilirsiniz. Talep yazınız 24 saat içerisinde işleme alınacak ve 7 gün içerisinde iptal işleminiz tamamlanacaktır. İptal talebiniz işleme alındığında ve iptal işleminiz tamamlandığında sizi iletişim numaranızdan SMS ile bilgilendireceğiz.</div>


                                                <div class="font-size-h6 text-dark-50 mb-8"> Sabit telefona ihtiyacınız yok! Tüm netspeed internet paketlerini sabit telefona ihtiyaç duymadan kullanabilirsiniz bunun için sizden ayrı bir ücret talep etmiyoruz telefonsuz interneti size en uygun fiyata sunuyoruz. Hizmet almakta olduğunuz aktif bir sabit hattınız bulunması durumunda ise aynı hat üzerinden internet hizmeti alırsınız.</div>

                                                <div class="d-flex mb-6 mt-5">
                                                </div>
                                                <!--end::widgetler 14-->
                                                <!--end::Button-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--end::Product-->
        </div>
        <!--end::Section-->
    </div>


    <!--end::Card-->
    <!--end::Product-->
    <!--end::Products-->
    <div class="d-flex flex-column-fluid"></div>

    <!--begin::Footer-top-->
    <div class="footer py-6 d-flex flex-lg-column" style="background-color: #301065;" id="kt_footer">
        <!--begin::Container-->
        <div class="container d-flex flex-column flex-md-row align-items-center justify-content-between">
            <!--begin::Copyright-->
            <div class="text-dark order-2 order-md-1">
                <span class="text-dark-25 font-weight-bold font-size-h6 font-weight-bold mr-2">Müşteri Destek Hattı  |</span>
                <a href="tel:08508005800" class="text-dark-25 font-weight-bold font-size-h6 text-hover-warning">0850 800 5 800</a>
            </div>
            <!--end::Copyright-->
            <!--begin::Nav-->
            <div class="nav nav-dark order-1 mb-2 order-md-2">
                <span class="text-dark-25 font-weight-bold font-size-h6 font-weight-bold mt-2">Bizi Takip Edin</span>
                <a href="https://www.facebook.com/netspeedtr" class="btn btn-icon btn-sm btn-white-facebook mr-2"><i class="socicon-facebook text-hover-warning"></i></a>
                <a href="https://twitter.com/netspeedtr" class="btn btn-icon btn-sm btn-white-twitter mr-2"><i class="socicon-twitter text-hover-warning"></i></a>
                <a href="https://www.instagram.com/netspeedtr" class="btn btn-icon btn-sm btn-white-instagram mr-2"><i class="socicon-instagram text-hover-warning"></i></a>
                <a href="https://www.youtube.com/channel/UC_o84M_iunxghaC8zgLuSwA" class="btn btn-icon btn-sm btn-white-youtube mr-2"><i class="socicon-youtube text-hover-warning"></i></a>


            </div>
            <!--end::Nav-->
        </div>
        <!--end::Container-->
    </div>

    <!--end::Footer-top-->
    <!--begin::Footer-->
    <div class="footer py-4 d-flex flex-lg-column" style="background-color: #1a0340;" id="kt_footer">
        <!--begin::Container-->
        <div class="container d-flex flex-column flex-md-row align-items-center justify-content-between">
            <!--begin::Copyright-->
            <div class="text-dark order-2 order-md-2">
                <span class="text-muted font-weight-bold mr-2">©2020</span>
                <a href="/" class="mr-0">
                    <img alt="Netspeed" src="assets/media/logos/bejlogomini.svg" class="max-h-15px mr-3">
                </a>
            </div>
            <!--end::Copyright-->
            <!--begin::Nav-->
            <div class="nav nav-dark order-1 order-md-1">
                <div class="d-flex flex-wrap justify-content-center my-2">
                    <a href="destek/bizeulasin" class="text-dark-25 text-hover-warning font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-6">Bize Ulaşın</a>
                    <a href="destek/hakkimizda" class="text-dark-25 text-hover-warning font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2">Hakkımızda</a>
                    <a href="destek/fatura-odeme" class="text-dark-25 text-hover-warning font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2">Fatura Ödeme</a>
                    <a href="destek/gizlilik" class="text-dark-25 text-hover-warning font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2">Gizlilik</a>
                    <a href="destek/cerez-politikasi" class="text-dark-25 text-hover-warning font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2">Çerez Politikası</a>
                    <a href="destek/kvkk" class="text-dark-25 text-hover-warning font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2">Kişisel Verilerin Korunması</a>
                    <a href="destek/siber-guvenlik" class="text-dark-25 text-hover-warning font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2">Siber Güvenlik</a>
                </div>

            </div>
            <!--end::Nav-->
        </div>

    </div>
    <!--end::Container-->
    <!--end::Footer-->
    <!--end::Wrapper-->
    <!--end::Page-->
    <!--end::Main-->


    <div class="wa__btn_popup animate__animated animate__bounceInRight animate__delay-5s">
        <div class="wa__btn_popup_txt font-weight-bolder font-size-h8 text-info rounded-lg animate__animated animate__backOutRight animate__delay-20s">Yardım mı Lazım? <strong> </strong></div>
        <div class="wa__btn_popup_icon"></div>
    </div>


    <div class="wa__popup_chat_box">
        <div class="wa__popup_heading">
            <div class="wa__popup_title">Merhaba</div>
            <div class="wa__popup_intro font-size-h5">
                Size Nasıl Yardımcı Olabiliriz?
                <div id="\&quot;eJOY__extension_root\&quot;"></div>
            </div>
        </div>
        <!-- /.wa__popup_heading -->
        <div class="wa__popup_content wa__popup_content_left">

            <div class="wa__popup_content_list">
                <div class="wa__popup_content_item ">
                    <a href="tel:08508005800" class="wa__stt wa__stt_online">
                        <div class="wa__popup_avatar">
                            <span class="svg-icon svg-icon-3x svg-icon-danger m-0">

                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24"></rect>
                                        <path d="M13.0799676,14.7839934 L15.2839934,12.5799676 C15.8927139,11.9712471 16.0436229,11.0413042 15.6586342,10.2713269 L15.5337539,10.0215663 C15.1487653,9.25158901 15.2996742,8.3216461 15.9083948,7.71292558 L18.6411989,4.98012149 C18.836461,4.78485934 19.1530435,4.78485934 19.3483056,4.98012149 C19.3863063,5.01812215 19.4179321,5.06200062 19.4419658,5.11006808 L20.5459415,7.31801948 C21.3904962,9.0071287 21.0594452,11.0471565 19.7240871,12.3825146 L13.7252616,18.3813401 C12.2717221,19.8348796 10.1217008,20.3424308 8.17157288,19.6923882 L5.75709327,18.8875616 C5.49512161,18.8002377 5.35354162,18.5170777 5.4408655,18.2551061 C5.46541191,18.1814669 5.50676633,18.114554 5.56165376,18.0596666 L8.21292558,15.4083948 C8.8216461,14.7996742 9.75158901,14.6487653 10.5215663,15.0337539 L10.7713269,15.1586342 C11.5413042,15.5436229 12.4712471,15.3927139 13.0799676,14.7839934 Z" fill="#000000"></path>
                                        <path d="M14.1480759,6.00715131 L13.9566988,7.99797396 C12.4781389,7.8558405 11.0097207,8.36895892 9.93933983,9.43933983 C8.8724631,10.5062166 8.35911588,11.9685602 8.49664195,13.4426352 L6.50528978,13.6284215 C6.31304559,11.5678496 7.03283934,9.51741319 8.52512627,8.02512627 C10.0223249,6.52792766 12.0812426,5.80846733 14.1480759,6.00715131 Z M14.4980938,2.02230302 L14.313049,4.01372424 C11.6618299,3.76737046 9.03000738,4.69181803 7.1109127,6.6109127 C5.19447112,8.52735429 4.26985715,11.1545872 4.51274152,13.802405 L2.52110319,13.985098 C2.22450978,10.7517681 3.35562581,7.53777247 5.69669914,5.19669914 C8.04101739,2.85238089 11.2606138,1.72147333 14.4980938,2.02230302 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                                    </g>
                                </svg><!--end::Svg Icon-->
                            </span>
                        </div>

                        <div class="wa__popup_txt">
                            <div class="wa__member_name text-info font-size-h4">Bizi Arayın</div>

                            <!-- /.wa__member_name -->
                            <div class="wa__member_duty">0850 800 5 800</div>
                            <!-- /.wa__member_duty -->
                        </div>
                        <!-- /.wa__popup_txt -->
                    </a>
                </div>





                <div class="wa__popup_content_item ">
                    <a data-toggle="modal" data-target="#exampleModal" class="wa__stt wa__stt_online">
                        <div class="wa__popup_avatar">
                            <h1 class="fas fa-headset font-weight-boldest text-primary  my-2"></h1>
                        </div>

                        <div class="wa__popup_txt">
                            <div class="wa__member_name text-info font-size-h5">Biz Sizi Arayalım mı?</div>
                            <!-- /.wa__member_name -->
                            <div class="wa__member_duty">Aranma Talebinde Bulunun</div>
                            <!-- /.wa__member_duty -->
                        </div>
                        <!-- /.wa__popup_txt -->
                    </a>
                </div>
                <div class="wa__popup_content_item ">
                    <a target="_blank" href="https://m.me/netspeedtr" class="wa__stt wa__stt_online">
                        <div class="wa__popup_avatar">
                            <h1 class="fab fa-facebook-messenger font-weight-boldest text-primary  my-2"></h1>
                        </div>

                        <div class="wa__popup_txt">
                            <div class="wa__member_name text-info font-size-h5">Facebook Messenger</div>
                            <!-- /.wa__member_name -->
                            <div class="wa__member_duty">Şimdi Sohbet Başlat</div>
                            <!-- /.wa__member_duty -->
                        </div>
                        <!-- /.wa__popup_txt -->
                    </a>
                </div>
                <div class="wa__popup_content_item ">
                    <a href="destek" class="wa__stt wa__stt_online">
                        <div class="wa__popup_avatar">
                            <h1 class="fas fa-question font-weight-boldest text-warning  my-2"></h1>
                        </div>

                        <div class="wa__popup_txt">
                            <div class="wa__member_name text-info font-size-h5">Sıkça Sorulan Sorular</div>
                            <!-- /.wa__member_name -->
                            <div class="wa__member_duty">
                                Bizden aldığınız internet hizmeti ile ilgili Sıkça Sorulan Sorular ve yanıtlara buradan ulaşabilirsiniz.
                            </div>
                            <!-- /.wa__member_duty -->
                        </div>
                        <!-- /.wa__popup_txt -->
                    </a>
                </div>


            </div>
            <!-- /.wa__popup_content_list -->
        </div>
        <!-- /.wa__popup_content -->
    </div>

    <!--begin::Global Config(global config for global JS scripts)-->
    <script>var NtsAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1200 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#0BB783", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#8950FC", "warning": "#FFA800", "danger": "#F64E60", "light": "#F3F6F9", "dark": "#212121" }, "light": { "white": "#ffffff", "primary": "#D7F9EF", "secondary": "#ECF0F3", "success": "#C9F7F5", "info": "#EEE5FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#212121", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#ECF0F3", "gray-300": "#E5EAEE", "gray-400": "#D6D6E0", "gray-500": "#B5B5C3", "gray-600": "#80808F", "gray-700": "#464E5F", "gray-800": "#1B283F", "gray-900": "#212121" } }, "font-family": "Poppins" };</script>



    <!--end::Global Config-->
    <!--begin::Standart Full(used by all pages)-->
    <script src="assets/js/plugins.bundle.js"></script>
    <script src="assets/js/prismjs.bundle.js"></script>
    <script src="assets/js/scripts.bundle.js"></script>
    <!--end::Standart Full-->
    <!--begin::Sayfa Ozel Full-->
    <!--end::Page Vendors-->
    <!--begin::Page Scripts(Sayfa Ozel Full)-->
    <script src="assets/js/widgets.js"></script>
    <script src="assets/js/cookieconsent.min.js" defer=""></script>
    <script src="assets/js/helpbubscript.js"></script>


    <!--end::Page Scripts-->


</body><!--end::Body-->
</html>