@model NetspeedMainWebsite.Models.ViewModel.ApplicationViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    #Gsm {
        display: block;
    }

    #SmsVerification {
        display: none;
    }
</style>



<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container">
        <!--begin::Card-->
        <div class="card card-custom">
            <!--begin::Card Body-->
            <div class="card-body p-0">
                <!--begin::Wizard 5-->
                <div class="wizard wizard-5 d-flex flex-column flex-lg-row flex-row-fluid" id="kt_wizard">
                    <!--begin::Aside-->
                    <div class="wizard-aside bg-white d-flex flex-column flex-row-auto w-100 w-lg-300px w-xl-400px w-xxl-450px">
                        <!--begin::Aside Top-->
                        <div class="d-flex offcanvas-mobile flex-column-fluid flex-column px-xxl-20 px-10">
                            <!--begin: Wizard Nav-->
                            <div class="wizard-nav d-flex d-flex justify-content-center pt-10 pt-lg-15 pb-8">
                                <!--begin::Wizard Steps-->
                                <div class="wizard-steps">

                                    <!--begin::Wizard Step 1 Nav-->
                                    <div class="wizard-step" data-wizard-type="step" data-wizard-state="current">
                                        <div class="wizard-wrapper">
                                            <div class="wizard-icon">
                                                <i class="wizard-check ki ki-check"></i>
                                                <span class="wizard-number">
                                                    <span class="svg-icon svg-icon-info svg-icon-2x">
                                                        <!--begin::Svg Icon-->
                                                        <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                <rect x="0" y="0" width="24" height="24" />
                                                                <rect fill="#000000" opacity="0.3" x="2" y="2" width="20" height="20" rx="10" />
                                                                <path d="M6.16794971,14.5547002 C5.86159725,14.0951715 5.98577112,13.4743022 6.4452998,13.1679497 C6.90482849,12.8615972 7.52569784,12.9857711 7.83205029,13.4452998 C8.9890854,15.1808525 10.3543313,16 12,16 C13.6456687,16 15.0109146,15.1808525 16.1679497,13.4452998 C16.4743022,12.9857711 17.0951715,12.8615972 17.5547002,13.1679497 C18.0142289,13.4743022 18.1384028,14.0951715 17.8320503,14.5547002 C16.3224187,16.8191475 14.3543313,18 12,18 C9.64566871,18 7.67758127,16.8191475 6.16794971,14.5547002 Z" fill="#000000" />
                                                            </g>
                                                        </svg><!--end::Svg Icon-->
                                                    </span>
                                                </span>
                                            </div>
                                            <div class="wizard-label">
                                                <h3 class="wizard-title font-weight font-size-h4">Hoşgeldiniz</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end::Wizard Step 1 Nav-->
                                    <!--begin::Wizard Step 2 Nav-->
                                    <div class="wizard-step" data-wizard-type="step">
                                        <div class="wizard-wrapper">
                                            <div class="wizard-icon">
                                                <i class="wizard-check ki ki-check"></i>
                                                <span class="wizard-number">1</span>
                                            </div>
                                            <div class="wizard-label">
                                                <h3 class="wizard-title font-weight font-size-h4">SMS Doğrulama</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end::Wizard Step 2 Nav-->
                                    <!--begin::Wizard Step 3 Nav-->
                                    <div class="wizard-step" data-wizard-type="step">
                                        <div class="wizard-wrapper">
                                            <div class="wizard-icon">
                                                <i class="wizard-check ki ki-check"></i>
                                                <span class="wizard-number">2</span>
                                            </div>
                                            <div class="wizard-label">
                                                <h3 class="wizard-title font-weight font-size-h4">İletişim Bilgileriniz</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end::Wizard Step 3 Nav-->
                                    <!--begin::Wizard Step 4 Nav-->
                                    <div class="wizard-step" data-wizard-type="step">
                                        <div class="wizard-wrapper">
                                            <div class="wizard-icon">
                                                <i class="wizard-check ki ki-check"></i>
                                                <span class="wizard-number">3</span>
                                            </div>
                                            <div class="wizard-label">
                                                <h3 class="wizard-title font-weight font-size-h4">Adres ve Başvuru Bilgisi</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end::Wizard Step 4 Nav-->
                                    <!--begin::Wizard Step 5 Nav-->
                                    <div class="wizard-step" data-wizard-type="step">
                                        <div class="wizard-wrapper">
                                            <div class="wizard-icon">
                                                <i class="wizard-check ki ki-check"></i>
                                                <span class="wizard-number">4</span>
                                            </div>
                                            <div class="wizard-label">
                                                <h3 class="wizard-title font-weight font-size-h4">Tarife ve Tercihler</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end::Wizard Step 5 Nav-->
                                    <!--begin::Wizard Step 6 Nav-->
                                    <div class="wizard-step" data-wizard-type="step">
                                        <div class="wizard-wrapper">
                                            <div class="wizard-icon">
                                                <i class="wizard-check ki ki-check"></i>
                                                <span class="wizard-number">5</span>
                                            </div>
                                            <div class="wizard-label">
                                                <h3 class="wizard-title font-weight font-size-h4">Kimlik Bilgileri</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end::Wizard Step 6 Nav-->
                                    <!--begin::Wizard Step 6 Nav-->
                                    <div class="wizard-step" data-wizard-type="step">
                                        <div class="wizard-wrapper">
                                            <div class="wizard-icon">
                                                <i class="wizard-check ki ki-check"></i>
                                                <span class="wizard-number">
                                                    <span class="svg-icon svg-icon-gray svg-icon-2x">
                                                        <!--begin::Svg Icon-->

                                                        <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                <rect x="0" y="0" width="24" height="24"></rect>
                                                                <path d="M9,10 L9,19 L10.1525987,19.3841996 C11.3761964,19.7920655 12.6575468,20 13.9473319,20 L17.5405883,20 C18.9706314,20 20.2018758,18.990621 20.4823303,17.5883484 L21.231529,13.8423552 C21.5564648,12.217676 20.5028146,10.6372006 18.8781353,10.3122648 C18.6189212,10.260422 18.353992,10.2430672 18.0902299,10.2606513 L14.5,10.5 L14.8641964,6.49383981 C14.9326895,5.74041495 14.3774427,5.07411874 13.6240179,5.00562558 C13.5827848,5.00187712 13.5414031,5 13.5,5 L13.5,5 C12.5694044,5 11.7070439,5.48826024 11.2282564,6.28623939 L9,10 Z" fill="#000000"></path>
                                                                <rect fill="#000000" opacity="0.3" x="2" y="9" width="5" height="11" rx="1"></rect>
                                                            </g>
                                                        </svg>
                                                        <!--end::Svg Icon-->
                                                    </span>
                                                </span>
                                            </div>
                                            <div class="wizard-label">
                                                <h3 class="wizard-title font-weight font-size-h4">Tamamlandı!</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end::Wizard Step 6 Nav-->

                                </div>
                                <!--end::Wizard Steps-->
                            </div>
                            <!--end: Wizard Nav-->
                            <div class="d-flex flex-row-auto bgi-no-repeat bgi-position-bottom bgi-position-center bgi-size-contain pt-15 pt-lg-10 h-250px" style="background-image: url(assets/media/bg/ecovered.svg)"></div><br>
                        </div>
                        <!--end::Aside Top-->

                    </div>
                    <!--begin::Aside-->
                    <!--begin::Content-->


                    <div class="card card-custom wizard-content d-flex flex-column flex-row-fluid py-15 px-5 px-lg-10 ">

                        <div class="d-flex justify-content-center flex-row-fluid ">
                            @using (Html.BeginForm("GsmVerification", "Application", FormMethod.Post))
                            {

                                @*@Html.AntiForgeryToken()*@

                                @*<div id = "Gsm">*@
                                @*@Html.Partial("Verification/_Gsm")*@
                                @*<input id="ButtonSwitch" type="button" value="Click" onclick="switchVisible();" />*@


                                <div class="d-flex justify-content-center flex-row-fluid ">
                                    <div class="pb-5 w-100 w-md-450px w-lg-500px" novalidate="novalidate" id="kt_form">
                                        <!--begin: Wizard Step 1-->
                                        <div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">
                                            <!--begin::Title-->
                                            <div class="pb-10 pb-lg-15">
                                                <h3 class="font-weight-bolder text-info font-size-h2">Netspeed Ev İnterneti, Online Başvurusuna Hoş Geldiniz!</h3><hr class="my-4">
                                                <div class="text-dark-50 font-weight font-size-h5 mt-5">Başvurunuza devam edebilmek ve sizinle başvuru sonrası iletişime geçebilmemiz için lütfen iletişim numaranızı yazınız.</div>
                                                <div class="text-dark font-weight font-size-h8 mt-5">Ardından Cep Telefonunuza doğrulama kodu içeren bir sms göndereceğiz.</div>
                                            </div>
                                            <!--begin::Title-->
                                            <!--begin::Form Group-->
                                            <div class="form-group">
                                                <label class="font-size-h6 font-weight-bolder m-2 text-dark">Lütfen GSM Numaranızı Yazınız</label>
                                                @Html.EditorFor(m => m.PhoneNumber, new { @class = "form-control h-auto p-4 border-0 rounded-lg font-weight-bolder text-info font-size-h6" })
                                                <div class="text-danger"> 
                                                @Html.ValidationMessageFor(model => model.PhoneNumber)
                                                </div>

                                                @*<input type="text" class="form-control h-auto p-4 border-0 rounded-lg font-weight-bolder text-info font-size-h6" name="gsmno" id="kt_inputmask_3" placeholder="GSM Numaranız" im-insert="true" />*@
                                            </div>
                                            <!--end::Form Group-->
                                            <!--end: Wizard Step 1-->

                                        </div>
                                    </div>
                                </div>

                                <div style="height:4em; width:3em">
                                <input type="submit" value="Click" />
                                    </div>
                                @*</div>*@
                            }
                            <!--<div id="SmsVerification">-->
                            @* @Html.Partial("Verification/_SmsVerification")*@
                            @*<input id="ButtonSwitch" type="button" value="Click" onclick="switchVisible2();" />*@
                            <!--</div>-->


                        </div>

                        <!--end::Form-->
                    </div>

                    <!--end::Content-->
                </div>


            </div>
        </div>
    </div>
</div>

@section script{
    <script>
        function switchVisible() {
            if (document.getElementById('Gsm')) {

                if (document.getElementById('Gsm').style.display == 'block') {
                    document.getElementById('Gsm').style.display = 'none';
                    document.getElementById('SmsVerification').style.display = 'block';
                }
                else {
                    document.getElementById('Gsm').style.display = 'block';
                    document.getElementById('SmsVerification').style.display = 'none';
                }
            }
        }
    </script>




}











@*@section script
    {

        <script>
            function switchVisible1() {
                if (document.getElementById('Gsm')) {

                    if (document.getElementById('Gsm').style.display == 'block') {
                        document.getElementById('Gsm').style.display = 'none';
                        document.getElementById('SmsVerification').style.display = 'block';
                    }
                    else {
                        document.getElementById('Gsm').style.display = 'block';
                        document.getElementById('SmsVerification').style.display = 'none';
                    }
                }
            }

            function switchVisible2() {
                if (document.getElementById('SmsVerification')) {

                    if (document.getElementById('SmsVerification').style.display == 'block') {
                        document.getElementById('SmsVerification').style.display = 'none';
                        document.getElementById('ContactInformation').style.display = 'block';
                    }
                    else {
                        document.getElementById('SmsVerification').style.display = 'block';
                        document.getElementById('ContactInformation').style.display = 'none';
                    }
                }
            }
        </script>
    }*@