@{
    ViewBag.Title = "Otomatik Ödeme Talimatı Vermek İçin Ne Yapmalıyım? - Netspeed Yardım & Destek";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="d-flex bgi-size-cover bgi-position-center" style="background-image: url('../../Content/media/bg/bb-3.jpg')">
    <div class="container">
        <!--begin::Topbar-->
        <div class="d-flex justify-content-between align-items-center border-bottom border-white py-7">
            <a href="/Support/Index" class="btn font-size-h6 text-white btn-outline-info">Yardım Merkezi</a>
            <div class="d-flex">
                <a href="https://online.netspeed.com.tr" class="font-size-h6 text-dark-25 text-hover-warning font-weight-bold ml-8">Destek Kaydı Aç</a>
            </div>
        </div>
        <!--end::Topbar-->

        <div class="d-flex align-items-stretch text-center flex-column py-15">
            <!--begin::Heading-->
            <h1 class="text-white font-weight-bolder mb-12">Size Nasıl Yardımcı Olabiliriz?</h1>
            <!--end::Heading-->
            <!--begin::Form-->
            <form class="d-flex position-relative w-75 px-lg-40 m-auto">
                <div class="input-group">
                    <!--begin::Icon-->
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-white border-0 py-7 px-8">
                            <span class="svg-icon svg-icon-xl">
                                <!--begin::Svg Icon | path:assets/media/svg/icons/General/Search.svg-->
                                <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24"></rect>
                                        <path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                                        <path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" fill="#000000" fill-rule="nonzero"></path>
                                    </g>
                                </svg>
                                <!--end::Svg Icon-->
                            </span>
                        </span>
                    </div>
                    <!--end::Icon-->
                    <!--begin::Input-->
                    <input type="text" class="form-control h-auto border-0 py-7 px-1 font-size-h6" placeholder="Aradığınızı Kısaca Yazın!">
                    <!--end::Input-->
                </div>
            </form>
            <!--end::Form-->
        </div>
    </div>
</div>
<!--begin::Entry-->
<!--begin::Container-->
<!--begin::hero-->
<!--end::hero-->

<div class="container mt-8">

    <!--begin::widgetler 14-->
    <div class="card card-custom card-stretch gutter-b mt-10" style=" box-shadow:-webkit-box-shadow: -13px 68px 106px -16px rgba(0,0,0,0.37);
                -moz-box-shadow: -13px 68px 106px -16px rgba(0,0,0,0.37);
                box-shadow: -1px 4px 20px 0px rgb(0 0 0 / 17%)">

        <div class="card-body p-8 pb-0" style="background-color: #ffffff">
            <div class="row mb-0">

                <div class="col-xxl-12 pl-xxl-11 mt-10">
                    <h1 class="font-weight-bolder text-info mb-6">Otomatik Ödeme Talimatı vermek için ne yapmalıyım?</h1>
                    <div class="font-size-h6 text-dark-50 mb-8">Faturalarınızın otomatik olarak ödenmesini istiyorsanız, online işlemlerden kolay bir şekilde otomatik ödeme talimatı verebilirsiniz. Bunun için Online İşlemler’e size özel kullanıcı adı ve tek kullanımlık şifrenizle girerek, menüde bulunan “Otomatik Ödeme Talimatı” sekmesine tıklamak açılan ekranda kart ekle butonuna basıp kredi kartı bilgilerinizi girmek ve kaydetmek yeterlidir. Bu şekilde otomatik ödeme talimatınızı hemen verebilirsiniz. Kredi kartı veri ve işlem güvenliğiniz dünyanın en üst düzey standardı olan PCI DSS LEVEL 1 uyumluluk sertifikasına sahip Mobilexpress altyapısı ile korunmaktadır.</div>
                    <div class=" justify-content-center">
                        <a href="https://online.netspeed.com.tr" class="btn m-4 px-8 font-weight-bolder btn-outline-danger">Otomatik Ödeme Talimatı</a>
                    </div>
                </div>
                <!--end::Product-->
            </div>
        </div>
    </div>
</div>

<!--begin::Section-->
<div class="container">
    <div class="card card-custom p-6 mb-8 mb-lg-0 mt-30" style="background-color: #f4f5f9;">
        <div class="card-body d-flex align-items-center justify-content-between">
            <!--begin::Content-->
            <div class="mr-4">
                <h3 class="text-info mb-6">Aradığınız Cevabı Bulamadınız mı?</h3>
                <p class="text-dark-50 font-size-lg">Netspeed olarak size destek olmak için buradayız. <br> Sunduğumuz hizmetleri ile ilgili her türlü soru, öneri, şikayet ya da memnuniyetinizi bize iletebilirsiniz.</p>
            </div>
            <!--end::Content-->
            <!--begin::Button-->
            <a href="/Contact/ContactForm" class="btn font-weight-bolder text-uppercase font-size-lg btn-danger py-3 px-6">Bize Mesaj Gönderin</a>
            <!--end::Button-->
        </div>
    </div>
    <!--end:: content-->
</div>

<!--end::Container-->

