@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex bgi-size-cover bgi-position-center" style="background-image: url('../../Content/media/bg/bb-3.jpg')">
    <div class="container">
        <!--begin::Topbar-->
        <div class="d-flex justify-content-between align-items-center border-bottom border-white py-7">
            <a href="/Support/Index" class="btn font-size-h6 text-white btn-outline-info">Yardım Merkezi</a>
            <div class="d-flex">
                <a href="https://online.netspeed.com.tr" class="font-size-h6 text-dark-25 text-hover-warning font-weight-bold ml-8">Destek Kaydı Aç</a>
            </div>
        </div>
        <!--end::Topbar-->

        <div class="d-flex align-items-stretch text-center flex-column py-15">
            <!--begin::Heading-->
            <h1 class="text-white font-weight-bolder mb-12">Size Nasıl Yardımcı Olabiliriz?</h1>
            <!--end::Heading-->
            <!--begin::Form-->
            <form class="d-flex position-relative w-75 px-lg-40 m-auto">
                <div class="input-group">
                    <!--begin::Icon-->
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-white border-0 py-7 px-8">
                            <span class="svg-icon svg-icon-xl">
                                <!--begin::Svg Icon | path:assets/media/svg/icons/General/Search.svg-->
                                <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24"></rect>
                                        <path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                                        <path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" fill="#000000" fill-rule="nonzero"></path>
                                    </g>
                                </svg>
                                <!--end::Svg Icon-->
                            </span>
                        </span>
                    </div>
                    <!--end::Icon-->
                    <!--begin::Input-->
                    <input type="text" class="form-control h-auto border-0 py-7 px-1 font-size-h6" placeholder="Aradığınızı Kısaca Yazın!">
                    <!--end::Input-->
                </div>
            </form>
            <!--end::Form-->
            <!--begin::Entry-->
            <div class="d-flex flex-column-fluid">
                <!--begin::Container-->
                <div class="container mt-6">
                    <a href="/Support/BillPayment" class="btn btn-sm btn-info font-weight-bold mr-2 my-4 btn-pill">fatura ödeme</a>
                    <a href="/Support/TransferProcess" class="btn btn-sm btn-info font-weight-bold mr-2 my-4 btn-pill">nakil işlemi</a>
                    <a href="/Support/AutomaticPaymentInstruction" class="btn btn-sm btn-info font-weight-bold mr-2 my-4 btn-pill">otomatik Ödeme</a>
                    <a href="/Support/Subscribe" class="btn btn-sm btn-info font-weight-bold mr-2 my-4 btn-pill">nasıl abone olunur</a>
                    <a href="/Support/LineFreezing" class="btn btn-sm btn-info font-weight-bold mr-2 my-4 btn-pill">hat dondurma</a>
                    <a href="/Support/OperatorConversion" class="btn btn-sm btn-info font-weight-bold mr-2 my-4 btn-pill">operatör değiştirme</a>
                    <a href="/Support/NewModem" class="btn btn-sm btn-info font-weight-bold mr-2 my-4 btn-pill">yeni modem lazım mı</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--begin::Entry-->
<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container">
        <!--begin::hero-->
        <div class="text-center pt-15">
            <h1 class="font-weight-bolder text-info mb-6">Sıkça Sorulan Sorular</h1>
            <div class="h6 text-dark-50 mb-6">Hizmetlerimiz ile ilgili Sıkça Sorulan Sorular ve yanıtlara buradan ulaşabilirsiniz.</div>
            <div class="row">
                <div class="offset-md-3 col-md-6">

                </div>
            </div>
        </div>
        <!--end::hero-->
        <!--begin::Accordion-->
        <div class="accordion accordion-solid accordion-panel accordion-svg-toggle mb-10" id="faq">
            <!--begin::Item-->
            <div class="card p-6">
                <!--begin::Header-->
                <div class="card-header" id="faqHeading1">
                    <div class="card-title font-size-h4 text-dark collapsed" data-toggle="collapse" data-target="#faq1" aria-expanded="false" aria-controls="faq1" role="button">
                        <div class="card-label">Netspeed'e nasıl abone olabilirim?</div>
                        <span class="svg-icon svg-icon-primary">
                            <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Angle-double-right.svg-->
                            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                    <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"></path>
                                    <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999)"></path>
                                </g>
                            </svg>
                            <!--end::Svg Icon-->
                        </span>
                    </div>
                </div>
                <!--end::Header-->
                <!--begin::Body-->
                <div id="faq1" class="collapse" aria-labelledby="faqHeading1" data-parent="#faq">
                    <div class="card-body pt-3 font-size-h6 font-weight-normal text-dark-50">
                        Web sitemizden online başvuru yaparak veya 444 0 217 no’lu hattımızı arayarak abone olmak için ilk adımı atabilirsiniz. Dilerseniz hemen şimdi Buraya tıklayarak bir satış temsilcimizin sizi araması için talepte bulunabilirsiniz. Ardından sizin hiç bir işlem yapmanız gerekmiyor. Ekibimiz kurulum için adresinize gelecek ve sözleşmeleri imzalattıktan sonra modem kurulumunuzu gerçekleştirecek ve internetinizi kullanmaya başlayabileceksiniz. Netspeed’e abone olmak işte bu kadar kolay!<div class=" justify-content-center">

                            <span>
                                <button type="button" class="btn btn-outline-info btn-hover-text-white text-dark-75 font-weight-bolder px-6 m-2 " data-toggle="modal" data-target="#exampleModal">
                                    Sizi Arayalım mı?
                                </button>
                            </span>

                            <span>
                                <a href="/Home/Application" class="btn m-2 px-8 font-weight-bolder btn-outline-danger">Hemen Başvur!</a>
                            </span>


                        </div>
                    </div>
                </div>
                <!--end::Body-->
            </div>
            <!--end::Item-->
            <!--begin::Item-->
            <div class="card p-6">
                <!--begin::Header-->
                <div class="card-header" id="faqHeading2">
                    <div class="card-title font-size-h4 text-dark collapsed" data-toggle="collapse" data-target="#faq2" aria-expanded="false" aria-controls="faq2" role="button">
                        <div class="card-label">Sabit telefona ihtiyacım var mı?</div>
                        <span class="svg-icon svg-icon-primary">
                            <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Angle-double-right.svg-->
                            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                    <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"></path>
                                    <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999)"></path>
                                </g>
                            </svg>
                            <!--end::Svg Icon-->
                        </span>
                    </div>
                </div>
                <!--end::Header-->
                <!--begin::Body-->
                <div id="faq2" class="collapse" aria-labelledby="faqHeading2" data-parent="#faq">
                    <div class="card-body pt-3 font-size-h6 font-weight-normal text-dark-50">
                        İster ADSL ister Fiber altyapıya sahip olun, Netspeed’te internet kullanmak için telefon hattına ihtiyacınız yoktur. Netspeed interneti telefonsuz özgürce kullanabilirsiniz.
                        Hizmet almakta olduğunuz aktif bir sabit hattınız bulunması durumunda aynı hat üzerinden internet hizmeti verilecektir.
                    </div>
                </div>
                <!--end::Body-->
            </div>
            <!--end::Item-->
            <!--begin::Item-->
            <div class="card p-6">
                <!--begin::Header-->
                <div class="card-header" id="faqHeading3">
                    <div class="card-title font-size-h4 text-dark collapsed" data-toggle="collapse" data-target="#faq3" aria-expanded="false" aria-controls="faq3" role="button">
                        <div class="card-label">Aboneliğim aktif hale geldi interneti kullanmak için ne yapmalıyım?</div>
                        <span class="svg-icon svg-icon-primary">
                            <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Angle-double-right.svg-->
                            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                    <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"></path>
                                    <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999)"></path>
                                </g>
                            </svg>
                            <!--end::Svg Icon-->
                        </span>
                    </div>
                </div>
                <!--end::Header-->
                <!--begin::Body-->
                <div id="faq3" class="collapse" aria-labelledby="faqHeading3" data-parent="#faq">
                    <div class="card-body pt-3 font-size-h6 font-weight-normal text-dark-50">Aboneliğiniz aktif hale geldiğinde İnternet hizmetinizi kullanabilmeniz için abonelik sırasında tarafımıza iletmiş olduğunuz GSM numaranıza sms ile gönderilen Kullanıcı adı / Şifre bilgilerinizle modem kurulumunuzu gerçekleştirerek internet hizmetinizi kullanmaya başlayabilirsiniz. Evde kurulum hizmetimizde bu kurulum işlemini teknik ekibimiz sizler için yapacaktır.</div>
                </div>
                <!--end::Body-->
            </div>
            <!--end::Item-->
            <!--begin::Item-->
            <div class="card p-6">
                <!--begin::Header-->
                <div class="card-header" id="faqHeading4">
                    <div class="card-title font-size-h4 text-dark collapsed" data-toggle="collapse" data-target="#faq4" aria-expanded="false" aria-controls="faq4" role="button">
                        <div class="card-label">Hat dondurma hizmeti nedir ve kimler faydalanabilir?</div>
                        <span class="svg-icon svg-icon-primary">
                            <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Angle-double-right.svg-->
                            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                    <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"></path>
                                    <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999)"></path>
                                </g>
                            </svg>
                            <!--end::Svg Icon-->
                        </span>
                    </div>
                </div>
                <!--end::Header-->
                <!--begin::Body-->
                <div id="faq4" class="collapse" aria-labelledby="faqHeading4" data-parent="#faq">
                    <div class="card-body pt-3 font-size-h6 font-weight-normal text-dark-50">Geçici olarak internet erişimine ihtiyaç duymayan abonelerimizin, faydalanacağı bir hizmettir. Askerlik, Yaz tatili / Okulların kapanması Nakil / Taşınma gibi nedenlerden dolayı hattınızı 1 seferde 3 ay süre ile dondurabilirsiniz. 3 ay sonunda hattınız otomatik olarak aktif hale gelecektir. Aboneliğiniz için en fazla 2 defa, toplam 90 gün hat dondurma hakkınız vardır.</div>
                </div>
                <!--end::Body-->
            </div>
            <!--end::Item-->
            <!--begin::Item-->
            <div class="card p-6">
                <!--begin::Header-->
                <div class="card-header" id="faqHeading5">
                    <div class="card-title font-size-h4 text-dark collapsed" data-toggle="collapse" data-target="#faq5" aria-expanded="false" aria-controls="faq5" role="button">
                        <div class="card-label">Statik IP hizmeti alabilir miyim?</div>
                        <span class="svg-icon svg-icon-primary">
                            <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Angle-double-right.svg-->
                            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                    <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"></path>
                                    <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999)"></path>
                                </g>
                            </svg>
                            <!--end::Svg Icon-->
                        </span>
                    </div>
                </div>
                <!--end::Header-->
                <!--begin::Body-->
                <div id="faq5" class="collapse" aria-labelledby="faqHeading5" data-parent="#faq">
                    <div class="card-body pt-3 font-size-h6 font-weight-normal text-dark-50">Netspeed İnternete abone olurken abonelik başvuru formu üzerinde Statik IP hizmeti istediğinize dair ilgili bölümü işaretleyebilirsiniz. Aboneliğiniz süresince statik IP hizmetine geçmek istediğinizde ise talebinizi 0850 800 5 800 no’lu Netspeed Müşteri Hizmetlerini arayarak iletebilirsiniz. Aylık 15 TL (KDV dahil) statik IP hizmet bedeli Netspeed İnternet faturanıza düzenli olarak yansıtılacaktır.</div>
                </div>
                <!--end::Body-->
            </div>
            <!--end::Item-->
            <!--begin::Item-->
            <div class="card p-6">
                <!--begin::Header-->
                <div class="card-header" id="faqHeading6">
                    <div class="card-title font-size-h4 text-dark collapsed" data-toggle="collapse" data-target="#faq6" aria-expanded="false" aria-controls="faq6" role="button">
                        <div class="card-label">Yeni bir modeme ihtiyacım olacak mı?</div>
                        <span class="svg-icon svg-icon-primary">
                            <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Angle-double-right.svg-->
                            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                    <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"></path>
                                    <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999)"></path>
                                </g>
                            </svg>
                            <!--end::Svg Icon-->
                        </span>
                    </div>
                </div>
                <!--end::Header-->
                <!--begin::Body-->
                <div id="faq6" class="collapse" aria-labelledby="faqHeading6" data-parent="#faq">
                    <div class="card-body pt-3 font-size-h6 font-weight-normal text-dark-50">
                        Halihazırda kullanmakta olduğunuz modem uyumlu ise ayrıca yeni bir modem almanıza gerek yoktur. Modeminiz yoksa bulunduğunuz bölgedeki altyapıya göre alacağınız hizmetle uyumlu ADSL veya VDSL modem temin etmeniz gerekmektedir. Fiber tarifelerimizde ise ekiplerimiz kurulum esnasında 300 TL değerindeki fiber uyumlu modemi sizlere aboneliğiniz süresince kullanmanız için tutanak ile teslim etmektedir. Fiber internet altyapısında tarife fiyatına ek olarak aylık 9TL modem kira bedeli alınmaktadır. Aboneliğinizi herhangi bir nedenle sonlandırmanız durumunda modeminizi eksiksiz ve çalışır durumda netspeed’e iade etmeniz gerekmektedir.

                    </div>
                </div>
                <!--end::Body-->
            </div>
            <!--end::Item-->
            <!--begin::Item-->
            <div class="card p-6">
                <!--begin::Header-->
                <div class="card-header" id="faqHeading7">
                    <div class="card-title font-size-h4 text-dark collapsed" data-toggle="collapse" data-target="#faq7" aria-expanded="false" aria-controls="faq7" role="button">
                        <div class="card-label">Otomatik Ödeme Talimatı vermek için ne yapmalıyım?</div>
                        <span class="svg-icon svg-icon-primary">
                            <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Angle-double-right.svg-->
                            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                    <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"></path>
                                    <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999)"></path>
                                </g>
                            </svg>
                            <!--end::Svg Icon-->
                        </span>
                    </div>
                </div>
                <!--end::Header-->
                <!--begin::Body-->
                <div id="faq7" class="collapse" aria-labelledby="faqHeading7" data-parent="#faq">
                    <div class="card-body pt-3 font-size-h6 font-weight-normal text-dark-50">
                        Faturalarınızın otomatik olarak ödenmesini istiyorsanız, online işlemlerden kolay bir şekilde otomatik ödeme talimatı verebilirsiniz.
                        Bunun için Online İşlemler’e size özel kullanıcı adı ve tek kullanımlık şifrenizle girerek, menüde bulunan “Otomatik Ödeme Talimatı” sekmesine tıklamak açılan ekranda kart ekle butonuna basıp kredi kartı bilgilerinizi girmek ve kaydetmek yeterlidir. Bu şekilde otomatik ödeme talimatınızı hemen verebilirsiniz.
                        Kredi kartı veri ve işlem güvenliğiniz dünyanın en üst düzey standardı olan PCI DSS LEVEL 1 uyumluluk sertifikasına sahip  Mobilexpress altyapısı ile korunmaktadır.

                        <div class=" justify-content-center">
                            <a href="/Support/AutomaticPaymentInstruction" class="btn m-4 px-8 font-weight-bolder btn-outline-danger">Otomatik Ödeme Talimatı</a>
                        </div>

                    </div>
                </div>
                <!--end::Body-->
            </div>
            <!--end::Item-->
            <!--begin::Item-->
            <div class="card p-6">
                <!--begin::Header-->
                <div class="card-header" id="faqHeading8">
                    <div class="card-title font-size-h4 text-dark collapsed" data-toggle="collapse" data-target="#faq8" aria-expanded="false" aria-controls="faq8" role="button">
                        <div class="card-label">Faturamı nasıl ödeyebilirim?</div>
                        <span class="svg-icon svg-icon-primary">
                            <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Angle-double-right.svg-->
                            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                    <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"></path>
                                    <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999)"></path>
                                </g>
                            </svg>
                            <!--end::Svg Icon-->
                        </span>
                    </div>
                </div>
                <!--end::Header-->
                <!--begin::Body-->
                <div id="faq8" class="collapse" aria-labelledby="faqHeading8" data-parent="#faq">
                    <!--begin::Table-->
                    <div class="col-xxl-12 pl-xxl-11 mt-10">
                        <div class="table-responsive">
                            <table class="table" id="kt_advance">
                                <thead>
                                    <tr class="text-left">
                                        <th style="min-width: 200px" class="pl-0">
                                            <span class="text-dark-75">Ödeme Kanalları</span>
                                        </th>
                                        <th class="text-center" style="min-width: 120px">Otomatik Ödeme</th>
                                        <th class="text-center" style="min-width: 100px">İnternet Bankacılığı</th>
                                        <th class="text-center" style="min-width: 100px">ATM Kartlı Ödeme</th>
                                        <th class="text-center" style="min-width: 100px">Şube / Gişe Ödeme</th>
                                        <th class="text-center" style="min-width: 100px">Kredi/Banka Kartı</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="pl-0 py-4 ">
                                            <div class="d-flex align-items-center">
                                                <div class="symbol symbol-50 symbol-light mr-4">
                                                    <span class="symbol-label">
                                                        <img src="~/Content/media/project-logos/netspeed-only-face.png" class="h-75" alt="">
                                                    </span>
                                                </div>
                                                <div>
                                                    <a href="#" class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg">Online İşlem Merkezi</a>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="text-success text-center font-weight-bolder d-block mt-4 font-size-h1"><i class="font-size-h4 flaticon2-check-mark text-success"></i></span>
                                        </td>
                                        <td>
                                            <span class="text-success text-center font-weight-bolder d-block mt-4 font-size-h1"><i class="font-size-h4 flaticon2-line text-dark-25"></i></span>
                                        </td>
                                        <td>
                                            <span class="text-success text-center font-weight-bolder d-block mt-4 font-size-h1"><i class="font-size-h4 flaticon2-line text-dark-25"></i></span>
                                        </td>
                                        <td>
                                            <span class="text-success text-center font-weight-bolder d-block mt-4 font-size-h1"><i class="font-size-h4 flaticon2-line text-dark-25"></i></span>
                                        </td>
                                        <td>
                                            <span class="text-success text-center font-weight-bolder d-block mt-4 font-size-h1"><i class="font-size-h4 flaticon2-check-mark text-success"></i></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="pl-0 py-4 ">
                                            <div class="d-flex align-items-center">
                                                <div class="symbol symbol-50 symbol-light mr-4">
                                                    <span class="symbol-label">
                                                        <img src="~/Content/media/project-logos/yapikredi.png" class="h-75" alt="">
                                                    </span>
                                                </div>
                                                <div>
                                                    <a href="#" class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg">Yapı Kredi</a>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="text-success text-center font-weight-bolder d-block mt-4 font-size-h1"><i class="font-size-h4 flaticon2-check-mark text-success"></i></span>
                                        </td>
                                        <td>
                                            <span class="text-success text-center font-weight-bolder d-block mt-4 font-size-h1"><i class="font-size-h4 flaticon2-check-mark text-success"></i></span>
                                        </td>
                                        <td>
                                            <span class="text-success text-center font-weight-bolder d-block mt-4 font-size-h1"><i class="font-size-h4 flaticon2-check-mark text-success"></i></span>
                                        </td>
                                        <td>
                                            <span class="text-success text-center font-weight-bolder d-block mt-4 font-size-h1"><i class="font-size-h4 flaticon2-line text-dark-25"></i></span>
                                        </td>
                                        <td>
                                            <span class="text-success text-center font-weight-bolder d-block mt-4 font-size-h1"><i class="font-size-h4 flaticon2-check-mark text-success"></i></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="pl-0 py-4 ">
                                            <div class="d-flex align-items-center">
                                                <div class="symbol symbol-50 symbol-light mr-4">
                                                    <span class="symbol-label">
                                                        <img src="~/Content/media/project-logos/vakifkatilim.png" class="h-75" alt="">
                                                    </span>
                                                </div>
                                                <div>
                                                    <a href="#" class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg">Vakıf Katılım</a>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="text-success text-center font-weight-bolder d-block mt-4 font-size-h1"><i class="font-size-h4 flaticon2-check-mark text-success"></i></span>
                                        </td>
                                        <td>
                                            <span class="text-success text-center font-weight-bolder d-block mt-4 font-size-h1"><i class="font-size-h4 flaticon2-check-mark text-success"></i></span>
                                        </td>
                                        <td>
                                            <span class="text-success text-center font-weight-bolder d-block mt-4 font-size-h1"><i class="font-size-h4 flaticon2-check-mark text-success"></i></span>
                                        </td>
                                        <td>
                                            <span class="text-success text-center font-weight-bolder d-block mt-4 font-size-h1"><i class="font-size-h4 flaticon2-check-mark text-success"></i></span>
                                        </td>
                                        <td>
                                            <span class="text-success text-center font-weight-bolder d-block mt-4 font-size-h1"><i class="font-size-h4 flaticon2-check-mark text-success"></i></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="pl-0 py-4 ">
                                            <div class="d-flex align-items-center">
                                                <div class="symbol symbol-50 symbol-light mr-4">
                                                    <span class="symbol-label">
                                                        <img src="~/Content/media/project-logos/garanti-bankasi-logo.png" class="h-75" alt="">
                                                    </span>
                                                </div>
                                                <div>
                                                    <a href="#" class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg">Garanti Bankası</a>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="text-success text-center font-weight-bolder d-block mt-4 font-size-h1"><i class="font-size-h4 flaticon2-check-mark text-success"></i></span>
                                        </td>
                                        <td>
                                            <span class="text-success text-center font-weight-bolder d-block mt-4 font-size-h1"><i class="font-size-h4 flaticon2-check-mark text-success"></i></span>
                                        </td>
                                        <td>
                                            <span class="text-success text-center font-weight-bolder d-block mt-4 font-size-h1"><i class="font-size-h4 flaticon2-check-mark text-success"></i></span>
                                        </td>
                                        <td>
                                            <span class="text-success text-center font-weight-bolder d-block mt-4 font-size-h1"><i class="font-size-h4 flaticon2-line text-dark-25"></i></span>
                                        </td>
                                        <td>
                                            <span class="text-success text-center font-weight-bolder d-block mt-4 font-size-h1"><i class="font-size-h4 flaticon2-check-mark text-success"></i></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="pl-0 py-4">
                                            <div class="d-flex align-items-center">
                                                <div class="symbol symbol-50 symbol-light mr-4">
                                                    <span class="symbol-label">
                                                        <img src="~/Content/media/project-logos/teblogo.png" class="h-75" alt="">
                                                    </span>
                                                </div>
                                                <div>
                                                    <a href="#" class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg">TEB</a>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="text-success text-center font-weight-bolder d-block mt-4 font-size-h1"><i class="font-size-h4 flaticon2-check-mark text-success"></i></span>
                                        </td>
                                        <td>
                                            <span class="text-success text-center font-weight-bolder d-block mt-4 font-size-h1"><i class="font-size-h4 flaticon2-check-mark text-success"></i></span>
                                        </td>
                                        <td>
                                            <span class="text-success text-center font-weight-bolder d-block mt-4 font-size-h1"><i class="font-size-h4 flaticon2-check-mark text-success"></i></span>
                                        </td>
                                        <td>
                                            <span class="text-success text-center font-weight-bolder d-block mt-4 font-size-h1"><i class="font-size-h4 flaticon2-check-mark text-success"></i></span>
                                        </td>
                                        <td>
                                            <span class="text-success text-center font-weight-bolder d-block mt-4 font-size-h1"><i class="font-size-h4 flaticon2-check-mark text-success"></i></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="pl-0 py-4">
                                            <div class="d-flex align-items-center">
                                                <div class="symbol symbol-50 symbol-light mr-4">
                                                    <span class="symbol-label">
                                                        <img src="~/Content/media/project-logos/enparaicon.png" class="h-75" alt="">
                                                    </span>
                                                </div>
                                                <div>
                                                    <a href="#" class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg">Enpara</a>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="text-success text-center font-weight-bolder d-block mt-4 font-size-h1"><i class="font-size-h4 flaticon2-check-mark text-success"></i></span>
                                        </td>
                                        <td>
                                            <span class="text-success text-center font-weight-bolder d-block mt-4 font-size-h1"><i class="font-size-h4 flaticon2-check-mark text-success"></i></span>
                                        </td>
                                        <td>
                                            <span class="text-success text-center font-weight-bolder d-block mt-4 font-size-h1"><i class="font-size-h4 flaticon2-line text-dark-25"></i></span>
                                        </td>
                                        <td>
                                            <span class="text-success text-center font-weight-bolder d-block mt-4 font-size-h1"><i class="font-size-h4 flaticon2-check-mark text-success"></i></span>
                                        </td>
                                        <td>
                                            <span class="text-success text-center font-weight-bolder d-block mt-4 font-size-h1"><i class="font-size-h4 flaticon2-line text-dark-25"></i></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="pl-0 py-4">
                                            <div class="d-flex align-items-center">
                                                <div class="symbol symbol-50 symbol-light mr-4">
                                                    <span class="symbol-label">
                                                        <img src="~/Content/media/project-logos/halkbank.png" class="h-75" alt="">
                                                    </span>
                                                </div>
                                                <div>
                                                    <a href="#" class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg">Halkbank</a>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="text-success text-center font-weight-bolder d-block mt-4 font-size-h1"><i class="font-size-h4 flaticon2-check-mark text-success"></i></span>
                                        </td>
                                        <td>
                                            <span class="text-success text-center font-weight-bolder d-block mt-4 font-size-h1"><i class="font-size-h4 flaticon2-check-mark text-success"></i></span>
                                        </td>
                                        <td>
                                            <span class="text-success text-center font-weight-bolder d-block mt-4 font-size-h1"><i class="font-size-h4 flaticon2-check-mark text-success"></i></span>
                                        </td>
                                        <td>
                                            <span class="text-success text-center font-weight-bolder d-block mt-4 font-size-h1"><i class="font-size-h4 flaticon2-line text-dark-25"></i></span>
                                        </td>
                                        <td>
                                            <span class="text-success text-center font-weight-bolder d-block mt-4 font-size-h1"><i class="font-size-h4 flaticon2-check-mark text-success"></i></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="pl-0 py-4">
                                            <div class="d-flex align-items-center">
                                                <div class="symbol symbol-50 symbol-light mr-4">
                                                    <span class="symbol-label">
                                                        <img src="~/Content/media/project-logos/qnb5.png" class="h-75" alt="">
                                                    </span>
                                                </div>
                                                <div>
                                                    <a href="#" class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg">Qnb Finansbank</a>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="text-success text-center font-weight-bolder d-block mt-4 font-size-h1"><i class="font-size-h4 flaticon2-check-mark text-success"></i></span>
                                        </td>
                                        <td>
                                            <span class="text-success text-center font-weight-bolder d-block mt-4 font-size-h1"><i class="font-size-h4 flaticon2-check-mark text-success"></i></span>
                                        </td>
                                        <td>
                                            <span class="text-success text-center font-weight-bolder d-block mt-4 font-size-h1"><i class="font-size-h4 flaticon2-check-mark text-success"></i></span>
                                        </td>
                                        <td>
                                            <span class="text-success text-center font-weight-bolder d-block mt-4 font-size-h1"><i class="font-size-h4 flaticon2-check-mark text-success"></i></span>
                                        </td>
                                        <td>
                                            <span class="text-success text-center font-weight-bolder d-block mt-4 font-size-h1"><i class="font-size-h4 flaticon2-check-mark text-success"></i></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="pl-0 py-4">
                                            <div class="d-flex align-items-center">
                                                <div class="symbol symbol-50 symbol-light mr-4">
                                                    <span class="symbol-label">
                                                        <img src="~/Content/media/project-logos/pttlogo.png" class="h-75" alt="">
                                                    </span>
                                                </div>
                                                <div>
                                                    <a href="#" class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg">PTT</a>
                                                    <span class="text-muted font-weight-bold d-block">Hesap No : 15071333</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="text-success text-center font-weight-bolder d-block mt-4 font-size-h1"><i class="font-size-h4 flaticon2-line text-dark-25"></i></span>
                                        </td>
                                        <td>
                                            <span class="text-success text-center font-weight-bolder d-block mt-4 font-size-h1"><i class="font-size-h4 flaticon2-line text-dark-25"></i></span>
                                        </td>
                                        <td>
                                            <span class="text-success text-center font-weight-bolder d-block mt-4 font-size-h1"><i class="font-size-h4 flaticon2-line text-dark-25"></i></span>
                                        </td>
                                        <td>
                                            <span class="text-success text-center font-weight-bolder d-block mt-4 font-size-h1"><i class="font-size-h4 flaticon2-check-mark text-success"></i></span>
                                        </td>
                                        <td>
                                            <span class="text-success text-center font-weight-bolder d-block mt-4 font-size-h1"><i class="font-size-h4 flaticon2-check-mark text-success"></i></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="pl-0 py-4">
                                            <div class="d-flex align-items-center">
                                                <div class="symbol symbol-50 symbol-light mr-4">
                                                    <span class="symbol-label">
                                                        <img src="~/Content/media/project-logos/fmatiklogo.png" class="h-75" alt="">
                                                    </span>
                                                </div>
                                                <div>
                                                    <a href="#" class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg">Faturamatik</a>
                                                    <span class="text-muted font-weight-bold d-block">Ödeme Noktaları</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="text-success text-center font-weight-bolder d-block mt-4 font-size-h1"><i class="font-size-h4 flaticon2-line text-dark-25"></i></span>
                                        </td>
                                        <td>
                                            <span class="text-success text-center font-weight-bolder d-block mt-4 font-size-h1"><i class="font-size-h4 flaticon2-line text-dark-25"></i></span>
                                        </td>
                                        <td>
                                            <span class="text-success text-center font-weight-bolder d-block mt-4 font-size-h1"><i class="font-size-h4 flaticon2-line text-dark-25"></i></span>
                                        </td>
                                        <td>
                                            <span class="text-success text-center font-weight-bolder d-block mt-4 font-size-h1"><i class="font-size-h4 flaticon2-check-mark text-success"></i></span>
                                        </td>
                                        <td>
                                            <span class="text-success text-center font-weight-bolder d-block mt-4 font-size-h1"><i class="font-size-h4 flaticon2-check-mark text-success"></i></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--end::Table-->

                        <div class="container">
                            <div class="row mb-0">
                                <div class="alert alert-custom fade show my-8 mb-8" style="background-color: rgb(255 248 225)" role="alert">
                                    <div class="alert-icon "><i class="fas fa-info-circle text-warning"></i></div>
                                    <div class="alert-text">
                                        <p>
                                            Faturalarınızın otomatik olarak ödenmesini istiyorsanız, online işlemlerden kolay bir şekilde otomatik ödeme talimatı verebilirsiniz.
                                            Bunun için Online İşlemler‘e size özel kullanıcı adı ve tek kullanımlık şifrenizle girerek, menüde bulunan “Otomatik Ödeme Talimatı” sekmesine tıklamak açılan ekranda kart ekle butonuna basıp kredi kartı bilgilerinizi girerek otomatik ödeme talimatınızı hemen verebilirsiniz.
                                        </p>
                                        <p>Kredi kartı veri ve işlem güvenliğiniz dünyanın en üst düzey standardı olan PCI DSS LEVEL 1 uyumluluk sertifikasına sahip  Mobilexpress altyapısı ile korunmaktadır.</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!--end::Product-->
                    </div>
                </div>
            </div>
            <!--end::Item-->
            <!--begin::Item-->
            <div class="card p-6">
                <!--begin::Header-->
                <div class="card-header" id="faqHeading9">
                    <div class="card-title font-size-h4 text-dark collapsed" data-toggle="collapse" data-target="#faq9" aria-expanded="false" aria-controls="faq9" role="button">
                        <div class="card-label">Hizmetimi farklı bir adrese nakil etmek istiyorum. Ne yapmalıyım?</div>
                        <span class="svg-icon svg-icon-primary">
                            <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Angle-double-right.svg-->
                            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                    <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"></path>
                                    <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999)"></path>
                                </g>
                            </svg>
                            <!--end::Svg Icon-->
                        </span>
                    </div>
                </div>
                <!--end::Header-->
                <!--begin::Body-->
                <div id="faq9" class="collapse" aria-labelledby="faqHeading9" data-parent="#faq">
                    <div class="card-body pt-3 font-size-h6 font-weight-normal text-dark-50">
                        <p>0850 800 5 800 numaralı müşteri hizmetlerini arayarak yeni adresinizi söylemeniz durumunda, yeni adresinizin alt yapısı kontrol edilir. Yeni adresinizin alt yapısı sahip olduğunuz paketinizin özelliklerini destekliyorsa nakil işleminiz müşteri hizmetlerimiz tarafından işleme alınır.<p>     <p>Bölgede sağlanan hizmet mevcut internet paketinizden farklı  ise  altyapıya  uygun paketle nakil işlemlerinizi başlatabilirsiniz. Nakil işlemlerinin doğru ve zamanında yapılabilmesi için talebinizi iletmeden önce açık adresinizi net olarak bilmeniz gerekmektedir.<p>

                        <p>Nakil ücretli bir işlem midir?<p>
                        <p>Evet, nakil işleminin 30 TL ücreti bulunmaktadır.  Bu ücret nakil işlemi tamamlandıktan sonra kesilen ilk faturaya  yansıtılır.<p>
                    </div>
                </div>
                <!--end::Body-->
            </div>
            <!--end::Item-->
        </div>
        <!--end::Accordion-->
        <!--begin::Section-->
        <div class="card card-custom p-6 mb-8 mb-lg-0 mt-10" style="background-color: #f4f5f9;">
            <div class="card-body d-flex align-items-center justify-content-between">
                <!--begin::Content-->
                <div class="mr-4">
                    <h3 class="text-info mb-6">Aradığınız Cevabı Bulamadınız mı?</h3>
                    <p class="text-dark-50 font-size-lg">Netspeed olarak size destek olmak için buradayız. <br> Sunduğumuz hizmetleri ile ilgili her türlü soru, öneri, şikayet ya da memnuniyetinizi bize iletebilirsiniz.</p>
                </div>

                <!--end::Content-->
                <!--begin::Button-->
                <a href="/Support/ContactForm" class="btn font-weight-bolder text-uppercase font-size-lg btn-danger py-3 px-6">Bize Mesaj Gönderin</a>
                <!--end::Button-->
            </div>
        </div>
        <!--end:: content-->
    </div>
    <!--end::Container-->
</div>
<!--end::Entry-->



@section script{
    <script src="~/Scripts/js/hide-show-fields-form.js"></script>
    <script src="~/Scripts/js/input-mask.js"></script>
}