@{
    ViewBag.Title = "Operatör Değişikliği - Netspeed Yardım & Destek";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="d-flex bgi-size-cover bgi-position-center" style="background-image: url('../../Content/media/bg/bb-3.jpg')">
    <div class="container">
        <!--begin::Topbar-->
        <div class="d-flex justify-content-between align-items-center border-bottom border-white py-7">
            <a href="/Support/Index" class="btn font-size-h6 text-white btn-outline-info">Yardım Merkezi</a>
            <div class="d-flex">
                <a href="/Contact/ContactForm" class="font-size-h6 text-dark-25 text-hover-warning font-weight-bold ml-8">İletişim Mesajı Gönder</a>
            </div>
        </div>
        <!--end::Topbar-->

        <div class="d-flex align-items-stretch text-center flex-column py-15">

            <!--begin::Heading-->
            <h1 class="text-white font-weight-bolder mb-12">Size Nasıl Yardımcı Olabiliriz?</h1>
            <!--end::Heading-->
            <!--begin::Form-->
            <form class="d-flex position-relative w-75 px-lg-40 m-auto">
                <div class="input-group">
                    <!--begin::Icon-->
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-white border-0 py-7 px-8">
                            <span class="svg-icon svg-icon-xl">
                                <!--begin::Svg Icon | path:assets/media/svg/icons/General/Search.svg-->
                                <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24"></rect>
                                        <path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                                        <path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" fill="#000000" fill-rule="nonzero"></path>
                                    </g>
                                </svg>
                                <!--end::Svg Icon-->
                            </span>
                        </span>
                    </div>
                    <!--end::Icon-->
                    <!--begin::Input-->
                    <input type="text" class="form-control h-auto border-0 py-7 px-1 font-size-h6" placeholder="Aradığınızı Kısaca Yazın!">
                    <!--end::Input-->
                </div>
            </form>
            <!--end::Form-->
        </div>
    </div>
</div>  </div>  </div>

<!--begin::Entry-->
<!--begin::Container-->
<!--begin::hero-->
<!--end::hero-->

<div class="card card-custom " style="background:#f3f1f1 ">

    <div class="card-body p-8 pb-12">
        <div class="container py-4">
            <div class="row mb-0">
                <div class="col-xxl-4 mb-5 mb-xxl-0">
                    <!--begin::Image-->
                    <div class="card-stretch">
                        <div class="card-body p-0 rounded px-0 py-20 d-flex align-items-center justify-content-center">
                            <img src="~/Content/media/svg/1-2.svg" class="mw-100 w-200px" style="transform: scale(1.4);">
                        </div>
                    </div>
                    <!--end::Image-->
                </div>
                <div class="col-xxl-8 pl-xxl-11 mt-15">
                    <h2 class="font-weight text-info mb-2" style="font-size: 32px;">Diğer Operatörden Netspeed'e Nasıl Geçilir?</h2>
                    <div class="font-size-h2 mb-7 text-dark-75 font-weight ml-0">
                        Netspeed’e mevcut hizmetinizi kapattırmadan kolay bir şekilde geçiş yapabilirsiniz.

                    </div>
                    <div class="font-size-h6 text-dark-75 mb-8">Netspeed'e ister sitemiz üzerinden online başvuru formunu doldurarak, ister 444 0 217 numaralı satış hattımız üzerinden başvurduğunuzda biz sizin adınıza mevcut oparatörünüz ile iletişime geçiyor ve tüm geçiş işlemlerinizi yapıyoruz.</div><hr class="my-4">

    <!--end::Engage Widget 14-->
                    <!--end::Button-->
                </div>
    <!--end::Section-->
                <!--begin::Section-->
                <!--begin::Product-->
                <div class="col-md-3 m-0 my-12 col-lg-6 col-xxl-3 mt-2 border-right-0 border-right-md border-bottom border-bottom-xxl-0 ">
                    <div class="btn btn-block text-dark-25 text-center py-2 px-2" style="background-color: #f3f1f1;">
                        <div class="d-flex flex-column rounded justify-content-between">
                            <div class="text-center rounded mt-2">
                                <span class="svg-icon svg-icon-3x svg-icon-info m-0">

                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect opacity="0.200000003" x="0" y="0" width="24" height="24"></rect>
                                            <path d="M4.5,7 L9.5,7 C10.3284271,7 11,7.67157288 11,8.5 C11,9.32842712 10.3284271,10 9.5,10 L4.5,10 C3.67157288,10 3,9.32842712 3,8.5 C3,7.67157288 3.67157288,7 4.5,7 Z M13.5,15 L18.5,15 C19.3284271,15 20,15.6715729 20,16.5 C20,17.3284271 19.3284271,18 18.5,18 L13.5,18 C12.6715729,18 12,17.3284271 12,16.5 C12,15.6715729 12.6715729,15 13.5,15 Z" fill="#000000" opacity="0.3"></path>
                                            <path d="M17,11 C15.3431458,11 14,9.65685425 14,8 C14,6.34314575 15.3431458,5 17,5 C18.6568542,5 20,6.34314575 20,8 C20,9.65685425 18.6568542,11 17,11 Z M6,19 C4.34314575,19 3,17.6568542 3,16 C3,14.3431458 4.34314575,13 6,13 C7.65685425,13 9,14.3431458 9,16 C9,17.6568542 7.65685425,19 6,19 Z" fill="#000000"></path>
                                        </g>
                                    </svg>
                                    <!--end::Svg Icon-->
                                </span>
                            </div>
                            <div>
                                <span class="d-block font-weight-bolder text-dark font-size-h3 mb-1">Tarifenizi Seçin</span>
                                <span class="d-block text-dark-50 font-size-h8 mt-2">Altyapınızı kontrol edin ve altyapınızın desteklediğiavantajlı Netspeed tarifelerinden bir tanesini seçin.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end::Product-->
                <!--begin::Product-->
                <div class="col-md-3 my-12 m-0 col-lg-6 col-xxl-3 mt-2 border-right-0 border-right-md border-bottom border-bottom-xxl-0">
                    <div class="btn btn-block text-dark-25 text-center py-2 px-2" style="background-color: #f3f1f1;">
                        <div class="d-flex flex-column rounded justify-content-between">
                            <div class="text-center rounded mt-2">
                                <span class="svg-icon svg-icon-3x svg-icon-warning m-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <polygon points="0 0 24 0 24 24 0 24" />
                                            <path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                            <rect fill="#000000" x="6" y="11" width="9" height="2" rx="1" />
                                            <rect fill="#000000" x="6" y="15" width="5" height="2" rx="1" />
                                        </g>
                                    </svg><!--end::Svg Icon-->
                                </span>
                            </div>
                            <div>
                                <span class="d-block font-weight-bolder text-dark font-size-h3 mb-1">Başvurunuzu Yapın</span>
                                <span class="d-block text-dark-50 font-size-h8 mt-2">Sitemizden online başvuru formunu doldurun ve geçiş belgesi ile birlikte indirin ilgili alanları eksiksiz bir şekilde imzalayın.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end::Product-->
                <!--begin::Product-->
                <div class="col-md-3 my-12 m-0 col-lg-6 col-xxl-3 mt-2 border-right-0 border-right-md border-bottom border-bottom-xxl-0">
                    <div class="btn btn-block text-dark-25 text-center py-2 px-2" style="background-color: #f3f1f1;">
                        <div class=" d-flex flex-column rounded justify-content-between">
                            <div class="text-center rounded mt-2">
                                <span class="svg-icon svg-icon-3x svg-icon-primary m-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24" />
                                            <path d="M4,16 L5,16 C5.55228475,16 6,16.4477153 6,17 C6,17.5522847 5.55228475,18 5,18 L4,18 C3.44771525,18 3,17.5522847 3,17 C3,16.4477153 3.44771525,16 4,16 Z M1,11 L5,11 C5.55228475,11 6,11.4477153 6,12 C6,12.5522847 5.55228475,13 5,13 L1,13 C0.44771525,13 6.76353751e-17,12.5522847 0,12 C-6.76353751e-17,11.4477153 0.44771525,11 1,11 Z M3,6 L5,6 C5.55228475,6 6,6.44771525 6,7 C6,7.55228475 5.55228475,8 5,8 L3,8 C2.44771525,8 2,7.55228475 2,7 C2,6.44771525 2.44771525,6 3,6 Z" fill="#000000" opacity="0.3" />
                                            <path d="M10,6 L22,6 C23.1045695,6 24,6.8954305 24,8 L24,16 C24,17.1045695 23.1045695,18 22,18 L10,18 C8.8954305,18 8,17.1045695 8,16 L8,8 C8,6.8954305 8.8954305,6 10,6 Z M21.0849395,8.0718316 L16,10.7185839 L10.9150605,8.0718316 C10.6132433,7.91473331 10.2368262,8.02389331 10.0743092,8.31564728 C9.91179228,8.60740125 10.0247174,8.9712679 10.3265346,9.12836619 L15.705737,11.9282847 C15.8894428,12.0239051 16.1105572,12.0239051 16.294263,11.9282847 L21.6734654,9.12836619 C21.9752826,8.9712679 22.0882077,8.60740125 21.9256908,8.31564728 C21.7631738,8.02389331 21.3867567,7.91473331 21.0849395,8.0718316 Z" fill="#000000" />
                                        </g>
                                    </svg><!--end::Svg Icon-->
                                </span>
                            </div>
                            <div>
                                <span class="d-block font-weight-bolder text-dark font-size-h3 mb-1">Belgelerinizi Gönderin</span>
                                <span class="d-block text-dark-50 font-size-h8 mt-2">Belgelerinizi ücretsiz olarak bize gönderin. Belgelerinizi kontrol edelim eksik yoksa sizden onay alalım.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end::Product-->
                <!--begin::Product-->
                <div class="col-md-3 my-12 m-0 col-lg-6 col-xxl-3 mt-2 border-right-0  border-bottom border-bottom-xxl-0">
                    <div class="btn btn-block text-dark-25 text-center py-2 px-2" style="background-color: #f3f1f1;">
                        <div class=" d-flex flex-column rounded justify-content-between">
                            <div class="text-center rounded mt-2">
                                <span class="svg-icon svg-icon-3x svg-icon-success m-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24" />
                                            <path d="M9,10 L9,19 L10.1525987,19.3841996 C11.3761964,19.7920655 12.6575468,20 13.9473319,20 L17.5405883,20 C18.9706314,20 20.2018758,18.990621 20.4823303,17.5883484 L21.231529,13.8423552 C21.5564648,12.217676 20.5028146,10.6372006 18.8781353,10.3122648 C18.6189212,10.260422 18.353992,10.2430672 18.0902299,10.2606513 L14.5,10.5 L14.8641964,6.49383981 C14.9326895,5.74041495 14.3774427,5.07411874 13.6240179,5.00562558 C13.5827848,5.00187712 13.5414031,5 13.5,5 L13.5,5 C12.5694044,5 11.7070439,5.48826024 11.2282564,6.28623939 L9,10 Z" fill="#000000" />
                                            <rect fill="#000000" opacity="0.3" x="2" y="9" width="5" height="11" rx="1" />
                                        </g>
                                    </svg><!--end::Svg Icon-->
                                </span>
                            </div>
                            <div>
                                <span class="d-block font-weight-bolder text-dark font-size-h3 mb-1">Arkanıza yaslanın!</span>
                                <span class="d-block text-dark-50 font-size-h8 mt-2">Artık sizin bir şey yapmanıza gerek yok! Geçiş talebinizi eski oparatörünüze bildirelim. Geçiş İşleminiz tamamlansın</span> <p class="mt-8">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body p-0 pb-12">
            <div class="container py-0">
                <div class="row mb-0">
                    <div class="col-xxl-4 mb-0 mb-xxl-0">
                        <!--begin::Image-->
                        <div class="card-stretch">
                            <div class="card-body p-0 rounded px-0 py-20 d-flex align-items-center justify-content-center">
                                <img src="~/Content/media/svg/astitled-1.svg" class="mw-100 w-200px" style="transform: scale(1.4);">
                            </div>
                        </div>
                        <!--end::Image-->
                    </div>
                    <div class="col-xxl-8 pl-xxl-11 mt-0">
                        <hr class="my-4 py-2">
                        <h2 class="font-weight text-info mb-0" style="font-size: 32px;">Dikkat Etmeniz Gerekenler.</h2>
                        <div class="font-size-h2 mb-7 text-dark-75 font-weight ml-0">Kesinti yaşamadan ve portunuzu kaybetmeden geçiş yapın.</div>
                        <div class="font-size-h6 text-dark-75 mb-8">
                            <p>Netspeed’e geçiş yapmaya karar verdiyseniz mevcut operatöründeki hattınızı sakın iptal etmeyin. Böylece halihazırda kullanmış olduğunuz hat üzerinden hemen hemen hiç kesinti yaşamadan geçişinizi tamamlayabiliriz. Aksi durumda hattınızı iptal ederseniz ve bölgenizde port sıkıntısı varsa boşa çıkan portunuz başka bir kişiye tahsis edilebilir ve portunuzu kaybedebilirsiniz.</p>
                            <p>Diğer operatörden geçiş yaptığınızda sizden kurulum ve aktivasyon ücreti almıyoruz.</p>
                        </div>
    <!--end::Engage Widget 14-->
                        <!--end::Button-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                                                    
<div style="margin-bottom:-2.5em"></div>


