<!--begin::Footer-top-->
<div style="margin-top:2.5em"></div>
<div class="footer py-6 d-flex flex-lg-column" style="background-color: #301065;" id="kt_footer">
    <!--begin::Container-->
    <div class="container d-flex flex-column flex-md-row align-items-center justify-content-between">
        <!--begin::Copyright-->
        <div class="text-dark order-2 order-md-1">
            <span class="text-dark-25 font-weight-bold font-size-h6 font-weight-bold mr-2">Müşteri Destek Hattı  |</span>
            <a href="tel:08508005800" class="text-dark-25 font-weight-bold font-size-h6 text-hover-warning">0850 800 5 800</a>
        </div>
        <!--end::Copyright-->
        <!--begin::Nav-->
        <div class="nav nav-dark order-1 mb-2 order-md-2">
            <span class="text-dark-25 font-weight-bold font-size-h6 font-weight-bold mt-2">Bizi Takip Edin</span>
            <a href="https://www.facebook.com/netspeedtr" class="btn btn-icon btn-sm btn-white-facebook mr-2"><i class="socicon-facebook text-hover-warning"></i></a>
            <a href="https://twitter.com/netspeedtr" class="btn btn-icon btn-sm btn-white-twitter mr-2"><i class="socicon-twitter text-hover-warning"></i></a>
            <a href="https://www.instagram.com/netspeedtr" class="btn btn-icon btn-sm btn-white-instagram mr-2"><i class="socicon-instagram text-hover-warning"></i></a>
            <a href="https://www.youtube.com/channel/UC_o84M_iunxghaC8zgLuSwA" class="btn btn-icon btn-sm btn-white-youtube mr-2"><i class="socicon-youtube text-hover-warning"></i></a>

        </div>
        <!--end::Nav-->

    </div>
    <!--end::Container-->
</div>

<!--end::Footer-top-->
<!--begin::Footer-->
<div class="footer py-4 d-flex flex-lg-column" style="background-color: #1c0646;" id="kt_footer">
    <!--begin::Container-->
    <div class="container d-flex flex-column flex-md-row align-items-center justify-content-between">
        <!--begin::Copyright-->
        <div class="text-dark order-2 order-md-2">
            <span class="text-muted font-weight-bold mr-2">©2021</span>
            <a href="/" class="mr-0">

                <img alt="Netspeed" src="~/Content/media/logos/bejlogomini.svg" class="max-h-15px mr-3" />
            </a>
        </div>
        <!--end::Copyright-->
        <!--begin::Nav-->
        <div class="nav nav-dark order-1 order-md-1">
            <div class="d-flex flex-wrap justify-content-center my-2">
                <a href="/About/ContactUs" class="text-dark-25 text-hover-warning font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-6">Bize Ulaşın</a>
                <a href="/About/AboutUs" class="text-dark-25 text-hover-warning font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2">Hakkımızda</a>
                <a href="/ClientPayment/BillPaymentLogin" class="text-dark-25 text-hover-warning font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2">Fatura Ödeme</a>
                <a href="/About/Confidential" class="text-dark-25 text-hover-warning font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2">Gizlilik</a>
                <a href="/About/CookiePolicy" class="text-dark-25 text-hover-warning font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2">Çerez Politikası</a>
                <a href="/About/Kvkk" class="text-dark-25 text-hover-warning font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2">Kişisel Verilerin Korunması</a>
                <a href="/About/CyberSecurity" class="text-dark-25 text-hover-warning font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2">Siber Güvenlik</a>
            </div>

        </div>
        <!--end::Nav-->
    </div>

</div>
<!--end::Container-->
<!--end::Footer-->
