<!--<div class="header-sm py-0 d-flex flex-lg-column" style="background-color: #1c0646;" id="kt_header">-->
    <!--begin::Container-->

    <!--<div class="container d-flex flex-column flex-md-row align-items-center justify-content-between">-->

        <!--begin::Nav-->
        <!--<div class="nav nav-dark order-1 order-md-1">
            <div class="d-flex flex-wrap justify-content-center my-2">
                <a href="#" class="text-dark-25 font-size-sm text-hover-info mr-lg-8 mr-5 mb-lg-0 mb-6"></span>Bireysel</a>
                <a href="#" class="text-dark-50 font-size-sm text-hover-info mr-lg-8 mr-5 mb-lg-0 mb-2"></span>Kurumsal</a>

            </div>

        </div>-->
        <!--end::Nav-->
    <!--</div>

</div>-->
<!--end::Container-->
