.text-danger.required-error {
    display: none;
}

.validation-summary-message {
    color: red;
}

    .validation-summary-message ul {
        list-style-type: none;
    }

#InfrastructureInquiryForApplication {
    display: block;
}

#visibleButton {
    display: none;
}

#InfrastructureAndTariffs {
    display: none;
}

#ContactInformation {
    display: none;
}

#IDInformation {
    display: none;
}

#GSMValidation {
    display: none;
}

#SMSValidation {
    display: none;
}

#validation-error {
    display: none;
}

.swal-button {
    color: #8c8299;
    background-color: #E4E6EF;
    font-weight: 400;
    padding: 0.5em 1em;
}


/*.swal-footer {
    text-align: center
}*/

.swal-text {
    font-size: 1.1rem
}

.swal-modal {
    width: 45vh !important;
}

.swal-button:not([disabled]):hover {
    color: #8c8299;
    background-color: #E4E6EF;
    font-weight: 400;
}

.swal-button:focus {
    box-shadow: none;
}


.swal-button:not([disabled]):hover {
    background-color: none;
}

.swal-button.swal-button--cancel {
    background-color: #545CDC;
    color: #ffffff
}

    .swal-button.swal-button--cancel:not([disabled]):hover {
        background-color: #545CDC;
        color: #ffffff
    }

.swal-button.swal-button--confirm:not([disabled]):hover {
    background-color: #E4E6EF;
    color: #545CDC;
}

.swal-button {
    color: #8c8299;
    background-color: #E4E6EF;
    font-weight: 400;
    padding: 0.5em 1em;
}


.swal-footer {
    text-align: center
}

.swal-icon--success__ring {
    /*border: 4px solid rgb(27, 197, 189)*/
    border-color: rgb(27, 197, 189)
}

.swal-icon--success__line {
    background-color: rgb(27, 197, 189)
}

/*.swal-button:focus {
    box-shadow: none;
}*/

/*.text-danger.required-error {
    display: none;
}
*/
/*.swal-button {
    color: #8c8299;
    background-color: #E4E6EF;
    font-weight: 400;
    padding: 0.5em 1em;
}*/
/*
.swal-footer {
    text-align: center
}
*/
.swal-text {
    font-size: 1.1rem
}

.swal-modal {
    width: 45vh !important;
}

/*.swal-button:not([disabled]):hover {
    color: #8c8299;
    background-color: #E4E6EF;
    font-weight: 400;
}
*/
/*.swal-button:focus {
    box-shadow: none;
}*/