@{
    ViewBag.Title = "Fatura Ödeme İşlemi Başarılı";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
    <!--begin::Info-->
    <!--begin::Page Heading-->
    <div class="d-flex align-items-baseline flex-wrap my-5 mr-5"></div>
    <!--end::Toolbar-->
</div>

<!--end::Subheader-->
<!--begin::Entry-->
<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container">
        <!--begin::Card-->
        <div class="card card-custom">
            <!--begin::Card Body-->
            <div class="card-body p-0">
                <!--begin::Wizard 5-->
                <div class="wizard wizard-5 d-flex flex-column flex-lg-row flex-row-fluid" id="kt_wizard">
                    <!--begin::Aside-->
                    <div class="wizard-aside offcanvas-mobile bg-white d-flex flex-column flex-row-auto w-100 w-lg-300px w-xl-400px w-xxl-450px">
                        <!--begin::Aside Top-->
                        <div class="d-flex flex-column-fluid flex-column px-xxl-20 px-10">
                            <!--begin: Wizard Nav-->
                            <div class="wizard-nav d-flex d-flex justify-content-center pt-10 pt-lg-15 pb-8">
                                <!--begin::Wizard Steps-->
                                <div class="wizard-steps">
                                    <!--begin::Wizard Step 1 Nav-->
                                    <div class="wizard-step">
                                        <div class="wizard-wrapper">
                                            <div class="wizard-icon">
                                                <i class="wizard-check ki ki-check"></i>
                                                <span class="wizard-number"><i class="fas fa-credit-card font-size-h2 text-info"></i></span>
                                            </div>
                                            <div class="wizard-label">
                                                <h3 class="wizard-title font-weight font-size-h4">Fatura Sorgulama ve Ödeme</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end::Wizard Step 1 Nav-->
                                    <!--begin::Wizard Step 2 Nav-->
                                    <div class="wizard-step">
                                        <div class="wizard-wrapper">
                                            <div class="wizard-icon">
                                                <i class="wizard-check ki ki-check"></i>
                                                <span class="wizard-number"><i class="fas fa-info font-size-h6 text-info"></i></span>
                                            </div>
                                            <div class="wizard-label">
                                                <h3 class="wizard-title font-weight text-dark-50 font-size-h6">Faturanızı sorgulayabilir, ister kredi kartı ister banka kartınızla komisyonsuz olarak ödeme yapabilirsiniz.</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end::Wizard Steps-->
                            </div>
                            <!--end: Wizard Nav-->
                            <div class="d-flex flex-row-auto bgi-no-repeat bgi-position-bottom bgi-position-center bgi-size-contain pt-15 pt-lg-10 h-250px" style=" background-image: url(../../Content/media/svg/cred3868.svg)"></div><br>
                        </div>
                    </div>
                    <!--begin::Aside-->
                    <!--begin::Content-->

                    <div class="d-flex flex-column flex-row-fluid py-15 px-5 px-lg-10 ">
                        <!--begin::Title-->
                        <div class="text-right mb-lg-4 mb-15 mr-xxl-10"></div>
                        <!--end::Title-->
                        <!--begin::Form-->
                        <div class="d-flex justify-content-center flex-row-fluid ">
                            @using (Html.BeginForm("x", "Payment", FormMethod.Post))
                            {
                                <form class="pb-5 w-100 w-md-550px w-lg-600px" id="kt_form2">
                                    <!--begin: Wizard Step 1-->
                                    <!--begin::Title-->
                                    <div class="pb-10 pb-lg-15">
                                        <h3 class="font-weight-bolder text-info font-size-h2">Fatura Ödeme İşlemi Başarılı</h3><hr class="my-8">
                                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between text-white position-relative ml-auto p-7">
                                            <!--begin::Shape-->
                                            <div class="position-absolute opacity-30 top-0 right-0">
                                                <span class="svg-icon svg-icon-2x svg-logo-white svg-icon-flip">
                                                    <!--begin::Svg Icon | path:assets/media/svg/shapes/abstract-8.svg-->
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="176" height="165" viewBox="0 0 176 165" fill="none">
                                                        <g clip-path="url(#clip0)">
                                                            <path d="M-10.001 135.168C-10.001 151.643 3.87924 165.001 20.9985 165.001C38.1196 165.001 51.998 151.643 51.998 135.168C51.998 118.691 38.1196 105.335 20.9985 105.335C3.87924 105.335 -10.001 118.691 -10.001 135.168Z" fill="#AD84FF"></path>
                                                            <path d="M28.749 64.3117C28.749 78.7296 40.8927 90.4163 55.8745 90.4163C70.8563 90.4163 83 78.7296 83 64.3117C83 49.8954 70.8563 38.207 55.8745 38.207C40.8927 38.207 28.749 49.8954 28.749 64.3117Z" fill="#AD84FF"></path>
                                                            <path d="M82.9996 120.249C82.9996 144.964 103.819 165 129.501 165C155.181 165 176 144.964 176 120.249C176 95.5342 155.181 75.5 129.501 75.5C103.819 75.5 82.9996 95.5342 82.9996 120.249Z" fill="#AD84FF"></path>
                                                            <path d="M98.4976 23.2928C98.4976 43.8887 115.848 60.5856 137.249 60.5856C158.65 60.5856 176 43.8887 176 23.2928C176 2.69692 158.65 -14 137.249 -14C115.848 -14 98.4976 2.69692 98.4976 23.2928Z" fill="#AD84FF"></path>
                                                            <path d="M-10.0011 8.37466C-10.0011 20.7322 0.409554 30.7493 13.2503 30.7493C26.0911 30.7493 36.5 20.7322 36.5 8.37466C36.5 -3.98287 26.0911 -14 13.2503 -14C0.409554 -14 -10.0011 -3.98287 -10.0011 8.37466Z" fill="#AD84FF"></path>
                                                            <path d="M-2.24881 82.9565C-2.24881 87.0757 1.22081 90.4147 5.50108 90.4147C9.78135 90.4147 13.251 87.0757 13.251 82.9565C13.251 78.839 9.78135 75.5 5.50108 75.5C1.22081 75.5 -2.24881 78.839 -2.24881 82.9565Z" fill="#AD84FF"></path>
                                                            <path d="M55.8744 12.1044C55.8744 18.2841 61.0788 23.2926 67.5001 23.2926C73.9196 23.2926 79.124 18.2841 79.124 12.1044C79.124 5.92653 73.9196 0.917969 67.5001 0.917969C61.0788 0.917969 55.8744 5.92653 55.8744 12.1044Z" fill="#AD84FF"></path>
                                                        </g>
                                                    </svg>
                                                    <!--end::Svg Icon-->
                                                </span>
                                            </div>
                                            <!--end::Shape-->
                                            <h3 class="font-weight-bolder text-dark font-size-h4">Ödeme için teşekkür ederiz</h3>
                                            <div class="text-right d-flex flex-column">
                                                <script src="~/Scripts/js/lottie-player.js"></script>
                                                <lottie-player src="~/Scripts/js/12882-green-check.json" background="transparent" speed="1" style="width: 100px; height: 100px;" autoplay></lottie-player>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="my-0">
                                    <div class="d-flex align-items-center">
                                        <p class="text-dark-50 font-weight-bold my-8">Ödemelerinizi kolay ve güvenli bir şekilde yapabilmenizi sağlayan yeni nesil ödeme sistemi ile her seferinde kredi kartı bilgilerinizi paylaşmaya gerek kalmadan çok kolay, hızlı ve güvenli bir şekilde Netspeed evde internet faturalarınızı ödeyebilir veya otomatik olarak ödenmesini sağlayabilirsiniz. </p>
                                    </div>
                                    <p><a href="https://online.netspeed.com.tr" class="text-primary font-weight-bold my-8 text-hover-warning ">Faturanıza otomatik ödeme vermek için tıklayınız.</a></p>
                                </form>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--end::Form-->
<!--end::Content-->
