@{
    ViewBag.Title = "İnternet Hız Testi - ADSL - Netspeed Speedtest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="subheader py-8 mr-0 bg-secondary py-lg-6 subheader-transparent" id="kt_subheader">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <!--begin::Info-->
        <div class="d-flex align-items-center flex-wrap mr-5">
            <!--begin::Page Heading-->
            <div class="d-flex align-items-baseline flex-wrap mr-5">
                <!--begin::Page Title-->
                <h5 class="text-dark-50 font-weight-bold my-1 mr-5">Engelsiz Tarifeler</h5>
                <!--end::Page Title-->
                <!--begin::Breadcrumb-->
                <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                    <li class="breadcrumb-item">
                        <a href="/" class="text-muted">Anasayfa</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/SpecialOffers/Index" class="text-muted">Kampanyalar</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="="/SpecialOffers/BarrierFreeTariff" class="text-muted">Engelsiz Tarifeler</a>
                    </li>
                </ul>
                <!--end::Breadcrumb-->
            </div>
            <!--end::Page Heading-->
        </div>
        <!--end::Info-->
        <div class="d-flex align-items-center">
            <a class="btn btn-icon btn-sm btn-clean btn-text zoom">
                <i class="animate__animated animate__flash animate__delay-2s" data-toggle="tooltip" data-placement="left" title="Metni Büyüt">
                    <span class="svg-icon svg-icon-info svg-icon-2x">
                        <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect x="0" y="0" width="24" height="24" />
                                <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10" />
                                <path d="M11,11 L11,7 C11,6.44771525 11.4477153,6 12,6 C12.5522847,6 13,6.44771525 13,7 L13,11 L17,11 C17.5522847,11 18,11.4477153 18,12 C18,12.5522847 17.5522847,13 17,13 L13,13 L13,17 C13,17.5522847 12.5522847,18 12,18 C11.4477153,18 11,17.5522847 11,17 L11,13 L7,13 C6.44771525,13 6,12.5522847 6,12 C6,11.4477153 6.44771525,11 7,11 L11,11 Z" fill="#000000" />
                            </g>
                        </svg>
                    </span>
                </i>
            </a>

            <a class="btn btn-icon btn-sm btn-clean btn-text zoom-out ">
                <i class="animate__animated animate__flash animate__delay-2s" data-toggle="tooltip" data-placement="left" title="Metni Küçült">
                    <span class="svg-icon svg-icon-info svg-icon-2x">
                        <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect x="0" y="0" width="24" height="24" />
                                <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10" />
                                <rect fill="#000000" x="6" y="11" width="12" height="2" rx="1" />
                            </g>
                        </svg>
                    </span>
                </i>
            </a>

            <a class="btn btn-icon btn-sm btn-clean btn-text zoom-init">
                <i class="animate__animated animate__flash animate__delay-2s" data-toggle="tooltip" data-placement="left" title="Normal Boyut">
                    <span class="svg-icon svg-icon-info svg-icon-2x">
                        <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect x="0" y="0" width="24" height="24" />
                                <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10" />
                                <path d="M16.7689447,7.81768175 C17.1457787,7.41393107 17.7785676,7.39211077 18.1823183,7.76894473 C18.5860689,8.1457787 18.6078892,8.77856757 18.2310553,9.18231825 L11.2310553,16.6823183 C10.8654446,17.0740439 10.2560456,17.107974 9.84920863,16.7592566 L6.34920863,13.7592566 C5.92988278,13.3998345 5.88132125,12.7685345 6.2407434,12.3492086 C6.60016555,11.9298828 7.23146553,11.8813212 7.65079137,12.2407434 L10.4229928,14.616916 L16.7689447,7.81768175 Z" fill="#000000" fill-rule="nonzero" />
                            </g>
                        </svg><!--end::Svg Icon-->
                    </span>
                </i>
            </a>
        </div>
    </div>
    <!--end::Toolbar-->
</div></div></div></div></div>





<!--end::Section-->




<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container mt-12 py-0 ">

        <!--begin::kampanya-icerik-->
        <div class="row">
            <div class="col-xl-12">
                <!--begin::Engage Widget 14-->
                <div class="card-stretch gutter-b">
                    <div class="card card-custom">


                        <div class="card-body p-12 pb-20">
                            <div class="row mb-17">



                                <!--begin::Image-->
                                <div class=" rounded-lg card-stretch pb-0">
                                    <div class="card-body rounded-lg p-0 px-22 py-36 d-flex align-items-center justify-content-center" style="background-color: #e4e6ef;">
                                        <img src="~/Content//media/svg/engelsiz.svg" class="mw-200 w-250px" style=" transform: scale(1.6);">
                                    </div>

                                    <!--end::Image-->
                                </div>
                                <div class="col-xxl-8 box target pl-xxl-11">
                                    <h2 class="font-weight-bolder text-dark mb-2" style="font-size: 32px;">Engelsiz VDSL 35 Kampanyası</h2>
                                    <span class="font-size-h2 mb-0 opacity-70">Ayda&nbsp;&nbsp;/&nbsp;</span><span class="text-info font-size-h1 font-weight-boldest ml-0">56</span><span class="pr-0 font-size-h2 text-info opacity-70">₺</span>
                                    <span class="pr-0 font-size-h8 text-dark-50 opacity-70">Tüm vergiler dahildir.</span>


                                    <div class="alert alert-custom fade show my-8 mb-8" style="background-color: rgb(255 248 225)" role="alert">
                                        <div class="alert-icon "><i class="fas fa-info-circle text-warning"></i></div>
                                        <div class="alert-text">Bu kampanyadan Gazi ve engelli vatandaşlarımız ile şehit/ gazi eşleri, şehidin/gazinin/ engelli vatandaşın birinci dereceden yakını (anne, baba veya çocuğu) yararlanabilir.</div>
                                        </button>
                                    </div>

                                    <div class="row mb-12">
                                        <!--begin::Info-->
                                        <div class="col-6 col-md-2 border-right-0 border-right-md">
                                            <div class="mb-8 d-flex flex-column text-center">
                                                <i class="icon-2x text-info fas fas fa-tachometer-alt "></i>
                                                <span class="font-size-h4 text-dark-50 font-weight my-2 mb-2">Tarife Hızı</span>
                                                <span class="text-dark-50 font-weight-bolder font-size-h3">35 Mbps</span>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-2 border-right-0 border-right-md">
                                            <div class="mb-8 d-flex flex-column text-center">
                                                <i class="icon-2x text-success fas fa-cloud-upload-alt "></i>
                                                <span class="font-size-h4 text-dark-50 font-weight my-2 mb-2">Upload</span>
                                                <span class="text-dark-50 font-weight-bolder font-size-h3">3 Mbps</span>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-2 border-right-0 border-right-md">
                                            <div class="mb-8 d-flex flex-column text-center">
                                                <i class="icon-2x text-danger fas fa-file-contract "></i>
                                                <span class="font-size-h4 text-dark-50 font-weight my-2 mb-2">Taahhüt</span>
                                                <span class="text-dark-50 font-weight-bolder font-size-h3">Yok</span>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-2 border-right-0 border-right-md">
                                            <div class="mb-8 d-flex flex-column text-center">
                                                <i class="icon-2x text-primary fas fas fa-phone "></i>
                                                <span class="font-size-h4 text-dark-50 font-weight my-2 mb-2">Destek</span>
                                                <span class="text-dark-50 font-weight-bolder font-size-h3">7/24</span>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-2 border-right-0 border-right-md">
                                            <div class="mb-8 d-flex flex-column text-center">
                                                <i class="icon-2x text-warning fas fa-infinity "></i>
                                                <span class="font-size-h4 text-dark-50 font-weight my-2 mb-2">Kota</span>
                                                <span class="text-dark-50 font-weight-bolder font-size-h3">Limitsiz</span>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-2">
                                            <div class="mb-8 d-flex flex-column text-center">
                                                <i class="icon-2x text-info fas fa-laptop-house "></i>
                                                <span class="font-size-h4 text-dark-50 font-weight my-2 mb-2">Altyapı</span>
                                                <span class="text-dark-50 font-weight-bolder font-size-h3">VDSL</span>
                                            </div>
                                        </div>

                                        <div class="col-6 col-md-2">

                                        </div>
                                        <!--end::Info-->
                                    </div>
                                    <!--begin::Buttons-->
                                    <div class="d-flex">
                                        <span><a href="/Home/Application" type="button" class="btn btn-info font-weight-bolder mr-4 px-8">Hemen Başvur</a></span>
                                        @*<span>*@
                                            <!--begin::Button-->

                                            <span>
                                                <button type="button" class="btn btn-warning font-weight-bolder mr-4 px-8" data-toggle="modal" data-target="#exampleModal">
                                                    Seni Arayalım mı?
                                                </button>
                                            </span>


                                    </div>
                                    <hr class="my-8">
                                    end::Buttons
                                    <div class="line-height-xl my-4">Engelsiz VDSL 35 ortalama 35 Mbps indirme hızına sahiptir. İnterneti aynı anda birden çok kişi kullanan evler için idealdir. Aynı anda 4 – 5 cihaza kadar bağlanıyorsanız, online oyun oynuyor Netflix vb platformlardan sürekli video izliyorsanız veya sosyal medyada sınırsız paylaşımlar yapıyorsanız, Speedmax Avantaj sizin ideal tarifeniz olabilir. Daha fazlasını yapan, daha çok izleyen ve daha çok eğlenen aileler için mükemmel.</div>
                                    <hr class="my-4">

                                    <div class="line-height-xl my-4">Engelli vatandaşlarımız için kampanyalarımız; engellilik oranı % 40 ve üzeri olan kişiler için geçerli olacaktır.</div>
                                    <hr class="my-4">

                                    <div class="line-height-xl my-4">Engelli vatandaşlarımızın abonelik başvurularında engelli oranını gösteren ibareyi taşıyan nüfus cüzdanı bulunması durumunda başvuru için bu belge tek başına yeterli olacaktır. Aksi takdirde %40 engellilik oranının Engelli Kimlik kartı veya Sağlık Kurulu raporu ile ortaya konulması gerekmektedir.</div>
                                    <hr class="my-4">
                                    <div class="line-height-xl my-4">Gazi veya şehit eşlerinin abonelik için Emekli Sandığı tarafından verilen emekli sandığı serbest kartını ve T.C. nüfus cüzdanını Netspeed’e ibraz etmeleri gerekmektedir. Eğer abonelik için başvuran gazi/şehit eşi değil de, gazinin/şehidin/engelli vatandaşın birinci dereceden yakını (anne, baba veya çocuğu) ise, bu belgelere ek olarak birinci dereceden yakını olan kişinin T.C. kimlik numarası ve T.C. nüfus cüzdanı belgesini de Netspeed’e ibraz etmesi gerekmektedir.</div>
                                    <hr class="my-4">
                                    <div class="line-height-xl my-4">Her bir engelli müşterimiz, kendisi veya yakını adına açılan bir abonelik için indirim hakkına sahiptir.</div>
                                    <hr class="my-4">

                                    <div class="accordion accordion-light accordion-toggle-arrow" id="accordionExample2">
                                        <div class="card">
                                            <div class="card-header" id="headingOne2">
                                                <div class="card-title font-size-h2 collapsed" data-toggle="collapse" data-target="#collapseOne2">
                                                    Kampanya Şartları
                                                </div>
                                            </div>
                                            <div id="collapseOne2" class="collapse" data-parent="#accordionExample2">
                                                <div class="card-body">
                                                    <p>Kampanya Netspeed İnternet A.Ş tarafından sunulmaktadır.</p>
                                                    <p>Kampanya avantajlarından yeni ve diğer operatörlerden geçiş (churn) yapacak olan müşteriler, altyapı uygunluğuna göre taahhütsüz yararlanabilirler.</p>
                                                    <p>Diğer operatörlerden Netspeed’e geçiş (Churn) yapan abonelerden herhangi bir ücret alınmamaktadır.</p>
                                                    <p>Yalın VDSL kampanyasında 100 TL Eve Kadar Kurulum ve aktivasyon ücreti alınmaktadır. Dilerseniz tek seferde peşin 100 TL (KDV ve ÖİV dahil ) veya faturanıza ek 50 TL x 2 Taksit ile Toplam 100 TL şeklinde ödeyebilirsiniz.</p>
                                                    <p>
                                                        Aboneliğin 2 ay içerisinde sonlandırılması durumunda Eve Kadar Kurulum ve aktivasyon ücreti için taksitli ödeme tercih edilmişse KDV ve ÖİV dahil 100 TL tutarındaki kurulum ücreti ve
                                                        Aktivasyon Ücretinden tahakkuk eden tutarın kalan taksitleri ile aylık paket fiyatı netspeed faturasına yansıtılır.
                                                    </p>
                                                    <p>Fiber tarifelerimizde ekiplerimiz kurulum esnasında  fiber uyumlu modemi sizlere aboneliğiniz süresince kullanmanız için tutanak ile teslim etmektedir. Fiber (FTTH Eve Kadar Fiber) internet altyapısında tarife fiyatına ek olarak aylık 9TL modem kira bedeli alınmaktadır. Aboneliğinizi herhangi bir nedenle sonlandırmanız durumunda modeminizi eksiksiz ve çalışır durumda netspeed’e iade etmeniz gerekmektedir. İade ettiğiniz modem tarafımıza ulaştığında iptal işleminiz gerçekleşmektedir. Modeminizi herhangi bir nedenle iade etmek istemezseniz bunu iptal dilekçenizde belirtmeniz gerekmektedir.  Bu durumda www.netspeed.com.tr/hgwcihaz  sayfasında yayınlanan cihaz bedelleri listesinde yazılı tarafınıza teslim edilmiş olan güncel Modem ücreti son faturanıza yansıtılarak iptal işlemi gerçekleştirilecektir.</p>
                                                    <p>Belirtilen internet paket fiyatlarına tüm vergiler dahildir.</p>
                                                    <p>Netspeed yasal sitelerden indirmeyi destekler.</p>
                                                    <p>Yeni müşteriler için faturalar yalnızca SMS yoluyla iletilecek, ayrıca posta ile iletilmeyecektir. Dileyen aboneler kampanya aktiflendikten sonra müşteri hizmetlerini arayarak posta yolu ile fatura alma tercihini seçebilirler.</p>
                                                    <p>Sunulan hizmet bireysel kullanım içindir, ticari amaçla kullanılamaz. Netspeed böyle bir kullanımdan şüphelenmesi halinde, Abonelik Sözleşmesinde de belirtildiği üzere ve aboneyi koruma amacı ile öncelikle aboneyi uyarır. Abonenin kullanımında ticari amaç tespit edilmesi halinde; Netspeed, hattı kullanıma kapatma ve tek taraflı iptal hakkını saklı tutar.</p>
                                                    <p>Kampanya, hizmet içerikleri ve tarifeleri hakkında detaylı bilgi için 444 0 217 Netspeed Müşteri Hizmetleri’ni arayabilir veya netspeed.com.tr web sitesini ziyaret edebilirsiniz.</p>
                                                    <p>Hızlar, aksi belirtilmedikçe indirme hızlarına atıfta bulunur. Hız, kullanılan modemin optimum hız ve kapasitede olduğunu varsayar. Dış faktörler öngörülen hızı etkileyebilir. Ev ortamı, cihaz sınırlamaları, kullanıcı sayısı, günün saati ve WiFi ile kullanım performansı etkileyebilir.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="headingTwo2">
                                                <div class="card-title font-size-h2 collapsed" data-toggle="collapse" data-target="#collapseTwo2">
                                                    Tarifelerimiz hakkında merak ettikleriniz
                                                </div>
                                            </div>
                                            <div id="collapseTwo2" class="collapse" data-parent="#accordionExample2">
                                                <div class="card-body">
                                                    <p class="text-dark-75 font-weight-bolder font-size-lg">Tarifede belirtilen hızı tam olarak alabilir miyim?</p>
                                                    <p>Türkiye’de bulunan altyapı her bölgede aynı kalitede ve seviyede hizmet sunmaya elverişli değildir. Bazı bölgelerde yüksek hızları almak mümkün olduğu gibi diğer bölgelerde altyapı sorunlarından kaynaklı olarak hattınız tam kapasite ile hizmet veremeyebilir. Bu tamamen santralden evinize kadar gelen bakır kablonun ne kadar iyi durumda olduğu ve santrale olan uzaklığınız ile ilgilidir. Diğer taraftan apartmanın ve evin içerisindeki tesisatın iyi durumda olmaması ve kablolarda ek olması gibi sorunlar daha düşük hızlarda internet kullanmanıza sebep olabilir. Hızınız tercih ettiğiniz tarifede tanımlı hattınız tarafından desteklenen en iyi değere sabitlenmektedir. VDSL tarifelerde hız sabitleme değerleri 24, 32, 35, 50, 75 Mbps’e kadar şeklindedir. Bir örnek vermek gerekir ise hattınızın 60 Mbps desteklendiği durumlarda hattınızın sabitleneceği hız 50 olacaktır aksi halde 75 tanımlanması durumunda hattınızda stabilite sorunları yaşamaya başlayacaksınız yani hattınızda sık sık kopma ve dalgalanma gibi sorunlar yaşamanız kaçınılmaz olacaktır.</p>


                                                    <p class="text-dark-75 font-weight-bolder font-size-lg">Sabit telefona ihtiyacım var mı?</p>
                                                    <p>Tüm netspeed internet paketlerini sabit telefona ihtiyaç duymadan kullanabilirsiniz bunun için sizden ayrı bir ücret talep etmiyoruz telefonsuz interneti size en uygun fiyata sunuyoruz. Hizmet almakta olduğunuz aktif bir sabit hattınız bulunması durumunda aynı hat üzerinden internet hizmeti verilecektir.</p>


                                                    <p class="text-dark-75 font-weight-bolder font-size-lg">Yeni bir modeme ihtiyacım olacak mı?</p>
                                                    <p>Halihazırda kullanmakta olduğunuz modem uyumlu ise ayrıca yeni bir modem almanıza gerek yoktur. Modeminiz yoksa bulunduğunuz bölgede alacağınız hizmete uyumlu ADSL/VDSL modem satın almanız gerekmektedir. Fiber tarifelerimizde ekiplerimiz kurulum esnasında fiber uyumlu modemi sizlere aboneliğiniz süresince kullanmanız için tutanak ile teslim etmektedir. Fiber internet altyapısında tarife fiyatına ek olarak aylık 9TL modem kira bedeli alınmaktadır. Aboneliğinizi herhangi bir nedenle sonlandırmanız durumunda modeminizi eksiksiz ve çalışır durumda netspeed’e iade etmeniz gerekmektedir.</p>


                                                    <p class="text-dark-75 font-weight-bolder font-size-lg">Alabileceğim hızlar kim tarafından belirleniyor?</p>
                                                    <p>Santrale uzak telefon hatları daha yavaş hız desteklemektedir. Yani, telefon hattınızın santrale olan mesafesi ne kadar kısa olursa alabileceğiniz hız da o kadar iyi olur. Size her zaman tercih ettiğiniz tarifede tanımlı, Hattınız tarafından desteklenen en iyi hızı vereceğiz.</p>


                                                    <p class="text-dark-75 font-weight-bolder font-size-lg">Aboneliğimi iptal ettirmek için ne yapmalıyım?</p>
                                                    <p> Netspeed Müşteri Hizmetlerini (0850 800 5 800) dilediğiniz zaman arayarak iptal süreci ile ilgili detaylı bilgileri alabilir veya iptal talebinizi Abone/Hizmet numaranızı, iletişim bilgilerinizi ve imzanızı içerecek şekilde hazırladığınız iptal talep dilekçesini bize göndererek yapabilirsiniz. Dilekçeniz 24 saat içerisinde işleme alınacak ve 7 gün içerisinde iptal işleminiz tamamlanacaktır. Dilekçeniz işleme alındığında ve iptal işleminiz tamamlandığında iletişim numaranızdan SMS ile bilgilendirileceksiniz.</p>
                                                </div>
                                            </div>
                                        </div>
                                        end::kampanya-icerik
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
