@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="subheader py-8 mr-0 bg-secondary py-lg-6 subheader-transparent" id="kt_subheader">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <!--begin::Info-->
        <div class="d-flex align-items-center flex-wrap mr-5">
            <!--begin::Page Heading-->
            <div class="d-flex align-items-baseline flex-wrap mr-5">
                <!--begin::Page Title-->
                <h5 class="text-dark-50 font-weight-bold my-1 mr-5">Arkadaşını Getir</h5>
                <!--end::Page Title-->
                <!--begin::Breadcrumb-->
                <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                    <li class="breadcrumb-item">
                        <a href="/" class="text-muted">Anasayfa</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/SpecialOffers/Index" class="text-muted">Kampanyalar</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/SpecialOffers/BringYpurFriend" class="text-muted">Arkadaşını Getir</a>
                    </li>
                </ul>
                <!--end::Breadcrumb-->
            </div>
            <!--end::Page Heading-->
        </div>
        <!--end::Info-->
        <!--end::Toolbar-->
    </div>
</div>

<!--end::Section-->

<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container mt-12 py-0 ">

        <!--begin::kampanya-icerik-->
        <div class="row">
            <div class="col-xl-12">
                <!--begin::Engage Widget 14-->
                <div class="card-stretch gutter-b">
                    <div class="card card-custom">


                        <div class="card-body p-8 pb-20">
                            <div class="row mb-17">
                                <div class="col-xxl-4 mb-11 mb-xxl-0">
                                    <!--begin::Image-->


                                    <div class="d-flex rounded-lg flex-row-fluid bgi-size-cover max-h-550px min-h-450px bgi-position-center" style=" background-color: #4e408d;
        background-image: url(../../Content/media/bg/netspeedgamess.jpg);">

                                    </div>

                                    <!--end::Image-->

                                </div>
                                <div class="col-xxl-8 pl-xxl-11">
                                    <h2 class="font-weight-bolder text-dark mb-2" style="font-size: 32px;">Arkadaşını Getir Kampanyası</h2>
                                    <span class="font-size-h2 text-info mb-0 opacity-70">Netspeed’e arkadaşlarını davet et aktif hizmet almaya başlayan her abonelik için 12 adet fatura dönemi boyunca indirim hakkı kazan. Daha fazla arkadaş getir daha az veya hiç fatura ödeme. Hemen katıl fırsatı kaçırma!</span>

                                    <div class="alert alert-custom fade show my-8 mb-8" style="background-color: rgb(255 248 225)" role="alert">
                                        <div class="alert-icon "><i class="fas fa-info-circle text-warning"></i></div>
                                        <div class="alert-text">Bu kampanyadan mevcut, yeni ve diğer operatörlerden geçiş yapacak olan müşterilerimiz faydalanabilirler.</div>
                                        @*</button>*@
                                    </div>
                                    <!--begin::Buttons-->
                                    <div class="d-flex">
                                        <span><a href="https://online.netspeed.com.tr" type="button" class="btn btn-info font-weight-bolder mr-6 px-12">Davet Kodu Al</a></span>
                                        <!--begin::Button-->
                                    </div>
                                    <hr class="my-8">
                                    <!--end::Buttons-->
                                    <div class="line-height-xl my-4">Arkadaşını Getir Kampanyası, davet kodunuz ile referans olarak Netspeed’e kazandırdığınız her bir yeni abonelik için 12 aylık fatura dönemi boyunca hem sizin hem de arkadaşınızın her faturasında 5’er TL indirim hakkı kazanmanızı sağlayan bir kampanyadır.</div>
                                    <hr class="my-4">

                                    <div class="line-height-xl my-4">Size özel referans kodunuz ile davet etmiş olduğunuz arkadaşınız davet kodunu abonelik başlatırken başvuru esnasında 444 0 217 Numaralı Başvuru Hattı üzerinden satış temsilcimize beyan etmesi veya web sitemiz üzerinde yer alan abone başvuru formunu doldururken “referans kodu” alanına sizin verdiğiniz kodu yazması yeterlidir</div>
                                    <hr class="my-4">

                                    <div class="line-height-xl my-4">Bu kampanya,  aksi belirtilmedikçe başka indirim kampanyaları ile birleştirilemez.</div>
                                    <hr class="my-4">
                                    <div class="line-height-xl my-4">Kampanyadan kazandığınız ilgili aya ait indirimleri kullanabilmeniz için sizin ve referansınızla abone olan arkadaşlarınızın  fatura borcu olmaması gerekmemektedir.</div>
                                    <hr class="my-4">
                                    <div class="line-height-xl my-4">Kazanılan indirimler bir sonraki fatura döneminde yansıtılır.</div>
                                    <hr class="my-4">
                                    <div class="line-height-xl my-4">
                                        Kampanya 30.12.2021 tarihine kadar geçerlidir.
                                    </div>
                                    <hr class="my-4">

                                    <div class="accordion accordion-light accordion-toggle-arrow" id="accordionExample2">
                                        <div class="card">
                                            <div class="card-header" id="headingOne2">
                                                <div class="card-title font-size-h2 collapsed" data-toggle="collapse" data-target="#collapseOne2">
                                                    Kampanya Şartları & Sıkça Sorulan Sorular
                                                </div>
                                            </div>
                                            <div id="collapseOne2" class="collapse" data-parent="#accordionExample2">
                                                <div class="card-body">
                                                    <p class="text-dark-75 font-weight-bolder font-size-lg">Arkadaşını Getir Nedir?</p>
                                                    <p>Arkadaşını Getir Kampanyası, referans kodunuz ile Netspeed’e davet ederek kazandırdığınız her bir yeni abonelik için 12 adet fatura döneminde her faturanızda 5 TL indirim hakkı kazanmanızı sağlayan bir indirim kampanyasıdır.</p>


                                                    <p class="text-dark-75 font-weight-bolder font-size-lg">Nasıl Çalışır?</p>
                                                    <p>Online İşlem Merkezi üzerinden “arkadaşını getir” sekmesine tıklayarak görebileceğiniz size özel referans kodunuz ile arkadaşlarınızı davet edebilirsiniz.</p>

                                                    <p>Önermiş olduğunuz arkadaşınız indirim kodunu abonelik başlatırken başvuru esnasında 444 0 217 Numaralı Başvuru Hattı üzerinden satış temsilcimize beyan etmesi veya web sitemiz üzerinde yer alan abone başvuru formunu doldururken “referans kodu” alanına sizin verdiğiniz kodu yazması yeterlidir.</p>

                                                    <p>Başvurunun tamamlanması sonrasında referans olunan kişinin aktif Netspeed müşterisi olması ve kullanıma başlaması ardından bir sonraki fatura döneminde hem siz hem referans kodunuzu kullanan arkadaşınız 12 adet fatura dönemi boyunca faturalarınızda indirimli internet hizmeti almaya hak kazanırsınız.</p>

                                                    <p>Referansınız ile gelen aboneler hatlarını iptal etmediği sürece kazandığınız indirimler 12 fatura dönemi süresince faturanıza yansıtılır. Daha fazla kişiye referans olursanız kazandırdığınız her bir abonelik için belirlenen indirim tutarı oranı referans olduğunuz kişi sayısı ile çarpılır ve her kişi için 12 adet fatura dönemi süresince fatura tutarınıza indirim olarak yansıtılır.</p>


                                                    <p class="text-dark-75 font-weight-bolder font-size-lg">Örnek İndirimli Fatura</p>
                                                    <p>
                                                        <div class="table-responsive">
                                                            <table class="table table-light table-light-success">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Fatura Dönemi</th>
                                                                        <th class="table-center">Ocak 2020</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td class="font-weight-bold table-row-title">75 Mbps’e Kadar Limitsiz</td>
                                                                        <td class="table-center">94 TL</td>
                                                                    </tr>
                                                                    <tr class="bg-gray-100">
                                                                        <td class="font-weight-bold table-row-title">5 referans x 5 TL İndirim toplamı	</td>
                                                                        <td class="table-center">-25 TL</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="font-weight-bold table-row-title">Ödenecek Tutar	</td>
                                                                        <td class="table-center">69 TL</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </p>


                                                    <p class="text-dark-75 font-weight-bolder font-size-lg">Kimler Katılabilir?</p>
                                                    <p>Bireysel, aktif ve T.C uyruklu müşterilerimiz kampanyadan faydalanabilirler.</p>


                                                    <p class="text-dark-75 font-weight-bolder font-size-lg">Arkadaşlarınızı Nasıl Davet Edebilirsiniz?</p>
                                                    <p>Online İşlem Merkezi üzerinden alabileceğiniz size özel referans kodunuzu arkadaşınızla paylaşarak kampanyaya katılabilirsiniz.</p>

                                                    <p class="text-dark-75 font-weight-bolder font-size-lg">İndirimler Faturalarınıza Ne Zaman Yansıtılır?</p>
                                                    <p>Kazanılan indirimler bir sonraki fatura döneminde yansıtılacaktır. İndirimin yansıtılacağı fatura dönemi içerisinde referans ile gelen abone ve referans kodu sahibinin aboneliğini herhangi bir nedenle iptal etmesi veya aboneliğin fesih edilmesi halinde her iki tarafında indirim hakkı kaybolur.</p>

                                                    <p class="text-dark-75 font-weight-bolder font-size-lg">Kampanya Kapsamında Davet Limiti Var mı?</p>
                                                    <p>Davet sınırı bulunmamaktadır. Dilediğiniz kadar arkadaşınızı davet edebilirsiniz. Ancak aylık ödeyeceğiniz fatura tutarından daha fazla indirim kazanmanız durumunda indirimleriniz sonraki aylara ait ödeme çıkan faturalarda yansıtılmak üzere devir edilir.</p>

                                                    <p class="text-dark-75 font-weight-bolder font-size-lg">Fatura Ödemeleri Gecikirse Ne Olur?</p>
                                                    <p>Arkadaşını getir kampanyası ile kazanılan indirimler referans kodu ile gelen abone ve referans kodu sahibi abone faturalarının düzenli ve zamanında ödenmesi durumunda geçerli olacaktır. Ödemesi geciken ve ödenmeyen faturalar olması halinde bir sonraki dönemin faturalarına indirim yansıtılmayacaktır. Gecikmiş fatura borcu daha sonra ödense dahi ilgili döneme ait indirim hakkı tamamen kaybedilir ve sonraki aylara yansıtılmaz.</p>

                                                    <p class="text-dark-75 font-weight-bolder font-size-lg">Arkadaşınız Aboneliği İptal Ederse Ne Olur?</p>
                                                    <p>Referans kodunuz ile abone olan arkadaşınızın herhangi bir sebeple aboneliğini sonlandırması halinde abonelik iptalinin gerçekleştiği ay dâhil gelecek dönemlerde yansıtılmak üzere iptali sağlanan abonelikten kazanılan tüm indirimler silinecektir.</p>

                                                    <p class="text-dark-75 font-weight-bolder font-size-lg">Kazandığınız İndirimleri Nasıl Takip Edebilirsiniz?</p>
                                                    <p>Kazandığınız indirimleri Online İşlemler üzerinden Kampanyalar menüsüne tıklayarak takip edebilirsiniz.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--end::kampanya-icerik-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


