@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="subheader py-8 mr-0 bg-secondary py-lg-6 subheader-transparent" id="kt_subheader">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <!--begin::Info-->
        <div class="d-flex align-items-center flex-wrap mr-5">
            <!--begin::Page Heading-->
            <div class="d-flex align-items-baseline flex-wrap mr-5">
                <!--begin::Page Title-->
                <h5 class="text-dark-50 font-weight-bold my-1 mr-5">Fiber Tarifeler</h5>
                <!--end::Page Title-->
                <!--begin::Breadcrumb-->
                <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                    <li class="breadcrumb-item">
                        <a href="/" class="text-muted">Anasayfa</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/SpecialOffers/Index" class="text-muted">Kampanyalar</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/SpecialOffers/FiberTariffs" class="text-muted">Fiber Tarifeler</a>
                    </li>
                </ul>
                <!--end::Breadcrumb-->
            </div>
            <!--end::Page Heading-->
        </div>
        <!--end::Info-->
        <!--end::Toolbar-->
    </div>
</div>




<!--end::Section-->




<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container mt-12 py-0 ">

        <!--begin::kampanya-icerik-->
        <div class="row">
            <div class="col-xl-12">
                <!--begin::Engage Widget 14-->
                <div class="card-stretch gutter-b">
                    <div class="card card-custom">


                        <div class="card-body p-8 pb-20">
                            <div class="row mb-17">
                                <div class="col-xxl-4 mb-11 mb-xxl-0">
                                    <!--begin::Image-->


                                    <div class="d-flex rounded-lg flex-row-fluid bgi-size-cover max-h-550px min-h-450px bgi-position-center" style="background-color: #4e408d;
        background-image: url(../../Content//media/bg/tv2star.jpg);">

                                    </div>

                                    <!--end::Image-->
                                </div>
                                <div class="col-xxl-8 pl-xxl-11">
                                    <h2 class="font-weight-bolder text-dark mb-2" style="font-size: 32px;">Fiber Star Kampanyası</h2>
                                    <span class="font-size-h2 mb-0 opacity-70">Ayda&nbsp;&nbsp;/&nbsp;</span><span class="text-info font-size-h1 font-weight-boldest ml-0">89</span><span class="pr-0 font-size-h2 text-info opacity-70">₺</span>
                                    <span class="pr-0 font-size-h8 text-dark-50 opacity-70">Tüm vergiler dahildir.</span>


                                    <div class="alert alert-custom fade show my-8 mb-8" style="background-color: rgb(255 248 225)" role="alert">
                                        <div class="alert-icon "><i class="fas fa-info-circle text-warning"></i></div>
                                        <div class="alert-text">Bu kampanyadan mevcut, yeni ve diğer operatörlerden geçiş yapacak olan müşterilerimiz faydalanabilirler.</div>
                                        </button>
                                    </div>

                                    <div class="row mb-12">
                                        <!--begin::Info-->
                                        <div class="col-6 col-md-2 border-right-0 border-right-md">
                                            <div class="mb-8 d-flex flex-column text-center">
                                                <i class="icon-2x text-info fas fas fa-tachometer-alt "></i>
                                                <span class="font-size-h4 text-dark-50 font-weight my-2 mb-2">Tarife Hızı</span>
                                                <span class="text-dark-50 font-weight-bolder font-size-h3">35 Mbps</span>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-2 border-right-0 border-right-md">
                                            <div class="mb-8 d-flex flex-column text-center">
                                                <i class="icon-2x text-success fas fa-cloud-upload-alt "></i>
                                                <span class="font-size-h4 text-dark-50 font-weight my-2 mb-2">Upload</span>
                                                <span class="text-dark-50 font-weight-bolder font-size-h3">3 Mbps</span>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-2 border-right-0 border-right-md">
                                            <div class="mb-8 d-flex flex-column text-center">
                                                <i class="icon-2x text-danger fas fa-file-contract "></i>
                                                <span class="font-size-h4 text-dark-50 font-weight my-2 mb-2">Taahhüt</span>
                                                <span class="text-dark-50 font-weight-bolder font-size-h3">Yok</span>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-2 border-right-0 border-right-md">
                                            <div class="mb-8 d-flex flex-column text-center">
                                                <i class="icon-2x text-primary fas fas fa-phone "></i>
                                                <span class="font-size-h4 text-dark-50 font-weight my-2 mb-2">Destek</span>
                                                <span class="text-dark-50 font-weight-bolder font-size-h3">7/24</span>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-2 border-right-0 border-right-md">
                                            <div class="mb-8 d-flex flex-column text-center">
                                                <i class="icon-2x text-warning fas fa-infinity "></i>
                                                <span class="font-size-h4 text-dark-50 font-weight my-2 mb-2">Kota</span>
                                                <span class="text-dark-50 font-weight-bolder font-size-h3">Limitsiz</span>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-2">
                                            <div class="mb-8 d-flex flex-column text-center">
                                                <i class="icon-2x text-info fas fa-laptop-house "></i>
                                                <span class="font-size-h4 text-dark-50 font-weight my-2 mb-2">Altyapı</span>
                                                <span class="text-dark-50 font-weight-bolder font-size-h3">Fiber</span>
                                            </div>
                                        </div>

                                        <div class="col-6 col-md-2">

                                        </div>
                                        <!--end::Info-->
                                    </div>
                                    <!--begin::Buttons-->
                                    <div class="d-flex">
                                        <span><a href="/Home/Application" type="button" class="btn btn-info font-weight-bolder mr-4 px-8">Hemen Başvur</a></span>
                                        <span>
                                            <!--begin::Button-->

                                            <span>
                                                <button type="button" class="btn btn-warning font-weight-bolder mr-4 px-8" data-toggle="modal" data-target="#exampleModal">
                                                    Seni Arayalım mı?
                                                </button>
                                            </span>



                                    </div>
                                    <hr class="my-8">
                                    <!--end::Buttons-->
                                    <div class="line-height-xl my-4">Fiber Star ortalama 35 Mbps indirme hızına sahiptir. İnterneti aynı anda birden çok kişi kullanan evler için idealdir. Aynı anda 5 cihaza kadar bağlanıyorsanız, online oyun oynuyor Netflix vb platformlardan sürekli video izliyorsanız veya yüklüyorsanız, sosyal medyada sınırsız paylaşımlar yapıyorsanız, Fiber Star size yeter de artar</div>
                                    <hr class="my-4">

                                    <div class="line-height-xl my-4">Diğer operatörlerden geçiş yapan müşterilerimize özel ücretsiz kurulum</div>
                                    <hr class="my-4">

                                    <div class="line-height-xl my-4">Bizden aldığınız hizmetin size uygun olmadığını düşünürseniz sorun yok! Dilediğiniz zaman iptal edin.</div>
                                    <hr class="my-4">
                                    <div class="line-height-xl my-4">Size her zaman tarifenizde tanımlı ve hattınız tarafından desteklenen en iyi hızı veriyoruz.</div>
                                    <hr class="my-4">
                                    <div class="line-height-xl my-4">Başka bir sağlayıcıdan hizmet alıyorsanız Netspeed'e geçiş yapmak çok kolay. Sizin bir şey yapmanıza gerek yok! Bize başvuru yaptığınızda mevcut sağlayıcınız ile iletişime geçiyor ve hattınızı çok kısa bir kesinti sonrasında Netspeed'e taşıyoruz.</div>
                                    <hr class="my-4">

                                    <div class="accordion accordion-light accordion-toggle-arrow" id="accordionExample2">
                                        <div class="card">
                                            <div class="card-header" id="headingOne2">
                                                <div class="card-title font-size-h2 collapsed" data-toggle="collapse" data-target="#collapseOne2">
                                                    Kampanya Şartları
                                                </div>
                                            </div>
                                            <div id="collapseOne2" class="collapse" data-parent="#accordionExample2">
                                                <div class="card-body">
                                                    <p>Kampanya Netspeed İnternet A.Ş tarafından sunulmaktadır.</p>
                                                    <p>Kampanya avantajlarından yeni ve diğer operatörlerden geçiş (churn) yapacak olan müşteriler, altyapı uygunluğuna göre taahhütsüz yararlanabilirler.</p>
                                                    <p>Diğer operatörlerden Netspeed’e geçiş (Churn) yapan abonelerden herhangi bir ücret alınmamaktadır.</p>
                                                    <p>Yalın VDSL kampanyasında 100 TL Eve Kadar Kurulum ve aktivasyon ücreti alınmaktadır. Dilerseniz tek seferde peşin 100 TL (KDV ve ÖİV dahil ) veya faturanıza ek 50 TL x 2 Taksit ile Toplam 100 TL şeklinde ödeyebilirsiniz.</p>
                                                    <p>
                                                        Aboneliğin 2 ay içerisinde sonlandırılması durumunda Eve Kadar Kurulum ve aktivasyon ücreti için taksitli ödeme tercih edilmişse KDV ve ÖİV dahil 100 TL tutarındaki kurulum ücreti ve
                                                        Aktivasyon Ücretinden tahakkuk eden tutarın kalan taksitleri ile aylık paket fiyatı netspeed faturasına yansıtılır.
                                                    </p>
                                                    <p>Fiber tarifelerimizde ekiplerimiz kurulum esnasında  fiber uyumlu modemi sizlere aboneliğiniz süresince kullanmanız için tutanak ile teslim etmektedir. Fiber (FTTH Eve Kadar Fiber) internet altyapısında tarife fiyatına ek olarak aylık 9TL modem kira bedeli alınmaktadır. Aboneliğinizi herhangi bir nedenle sonlandırmanız durumunda modeminizi eksiksiz ve çalışır durumda netspeed’e iade etmeniz gerekmektedir. İade ettiğiniz modem tarafımıza ulaştığında iptal işleminiz gerçekleşmektedir. Modeminizi herhangi bir nedenle iade etmek istemezseniz bunu iptal dilekçenizde belirtmeniz gerekmektedir.  Bu durumda www.netspeed.com.tr/hgwcihaz  sayfasında yayınlanan cihaz bedelleri listesinde yazılı tarafınıza teslim edilmiş olan güncel Modem ücreti son faturanıza yansıtılarak iptal işlemi gerçekleştirilecektir.</p>
                                                    <p>Belirtilen internet paket fiyatlarına tüm vergiler dahildir.</p>
                                                    <p>Netspeed yasal sitelerden indirmeyi destekler.</p>
                                                    <p>Yeni müşteriler için faturalar yalnızca SMS yoluyla iletilecek, ayrıca posta ile iletilmeyecektir. Dileyen aboneler kampanya aktiflendikten sonra müşteri hizmetlerini arayarak posta yolu ile fatura alma tercihini seçebilirler.</p>
                                                    <p>Sunulan hizmet bireysel kullanım içindir, ticari amaçla kullanılamaz. Netspeed böyle bir kullanımdan şüphelenmesi halinde, Abonelik Sözleşmesinde de belirtildiği üzere ve aboneyi koruma amacı ile öncelikle aboneyi uyarır. Abonenin kullanımında ticari amaç tespit edilmesi halinde; Netspeed, hattı kullanıma kapatma ve tek taraflı iptal hakkını saklı tutar.</p>
                                                    <p>Kampanya, hizmet içerikleri ve tarifeleri hakkında detaylı bilgi için 444 0 217 Netspeed Müşteri Hizmetleri’ni arayabilir veya netspeed.com.tr web sitesini ziyaret edebilirsiniz.</p>
                                                    <p>Hızlar, aksi belirtilmedikçe indirme hızlarına atıfta bulunur. Hız, kullanılan modemin optimum hız ve kapasitede olduğunu varsayar. Dış faktörler öngörülen hızı etkileyebilir. Ev ortamı, cihaz sınırlamaları, kullanıcı sayısı, günün saati ve WiFi ile kullanım performansı etkileyebilir.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="headingTwo2">
                                                <div class="card-title font-size-h2 collapsed" data-toggle="collapse" data-target="#collapseTwo2">
                                                    Tarifelerimiz hakkında merak ettikleriniz
                                                </div>
                                            </div>
                                            <div id="collapseTwo2" class="collapse" data-parent="#accordionExample2">
                                                <div class="card-body">
                                                    <p class="text-dark-75 font-weight-bolder font-size-lg">Tarifede belirtilen hızı tam olarak alabilir miyim?</p>
                                                    <p>Türkiye’de bulunan altyapı her bölgede aynı kalitede ve seviyede hizmet sunmaya elverişli değildir. Bazı bölgelerde yüksek hızları almak mümkün olduğu gibi diğer bölgelerde altyapı sorunlarından kaynaklı olarak hattınız tam kapasite ile hizmet veremeyebilir. Bu tamamen santralden evinize kadar gelen bakır kablonun ne kadar iyi durumda olduğu ve santrale olan uzaklığınız ile ilgilidir. Diğer taraftan apartmanın ve evin içerisindeki tesisatın iyi durumda olmaması ve kablolarda ek olması gibi sorunlar daha düşük hızlarda internet kullanmanıza sebep olabilir. Hızınız tercih ettiğiniz tarifede tanımlı hattınız tarafından desteklenen en iyi değere sabitlenmektedir. VDSL tarifelerde hız sabitleme değerleri 24, 32, 35, 50, 75 Mbps’e kadar şeklindedir. Bir örnek vermek gerekir ise hattınızın 60 Mbps desteklendiği durumlarda hattınızın sabitleneceği hız 50 olacaktır aksi halde 75 tanımlanması durumunda hattınızda stabilite sorunları yaşamaya başlayacaksınız yani hattınızda sık sık kopma ve dalgalanma gibi sorunlar yaşamanız kaçınılmaz olacaktır.</p>


                                                    <p class="text-dark-75 font-weight-bolder font-size-lg">Sabit telefona ihtiyacım var mı?</p>
                                                    <p>Tüm netspeed internet paketlerini sabit telefona ihtiyaç duymadan kullanabilirsiniz bunun için sizden ayrı bir ücret talep etmiyoruz telefonsuz interneti size en uygun fiyata sunuyoruz. Hizmet almakta olduğunuz aktif bir sabit hattınız bulunması durumunda aynı hat üzerinden internet hizmeti verilecektir.</p>


                                                    <p class="text-dark-75 font-weight-bolder font-size-lg">Yeni bir modeme ihtiyacım olacak mı?</p>
                                                    <p>Halihazırda kullanmakta olduğunuz modem uyumlu ise ayrıca yeni bir modem almanıza gerek yoktur. Modeminiz yoksa bulunduğunuz bölgede alacağınız hizmete uyumlu ADSL/VDSL modem satın almanız gerekmektedir. Fiber tarifelerimizde ekiplerimiz kurulum esnasında fiber uyumlu modemi sizlere aboneliğiniz süresince kullanmanız için tutanak ile teslim etmektedir. Fiber internet altyapısında tarife fiyatına ek olarak aylık 9TL modem kira bedeli alınmaktadır. Aboneliğinizi herhangi bir nedenle sonlandırmanız durumunda modeminizi eksiksiz ve çalışır durumda netspeed’e iade etmeniz gerekmektedir.</p>


                                                    <p class="text-dark-75 font-weight-bolder font-size-lg">Alabileceğim hızlar kim tarafından belirleniyor?</p>
                                                    <p>Santrale uzak telefon hatları daha yavaş hız desteklemektedir. Yani, telefon hattınızın santrale olan mesafesi ne kadar kısa olursa alabileceğiniz hız da o kadar iyi olur. Size her zaman tercih ettiğiniz tarifede tanımlı, Hattınız tarafından desteklenen en iyi hızı vereceğiz.</p>


                                                    <p class="text-dark-75 font-weight-bolder font-size-lg">Aboneliğimi iptal ettirmek için ne yapmalıyım?</p>
                                                    <p> Netspeed Müşteri Hizmetlerini (0850 800 5 800) dilediğiniz zaman arayarak iptal süreci ile ilgili detaylı bilgileri alabilir veya iptal talebinizi Abone/Hizmet numaranızı, iletişim bilgilerinizi ve imzanızı içerecek şekilde hazırladığınız iptal talep dilekçesini bize göndererek yapabilirsiniz. Dilekçeniz 24 saat içerisinde işleme alınacak ve 7 gün içerisinde iptal işleminiz tamamlanacaktır. Dilekçeniz işleme alındığında ve iptal işleminiz tamamlandığında iletişim numaranızdan SMS ile bilgilendirileceksiniz.</p>
                                                </div>
                                            </div>
                                        </div>



                                        <!--end::kampanya-icerik-->

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
					</div>
