
<div style="display:none">
    <div class="card-header" id="faqHeading1" target-name="Netspeed'e nasıl abone olabilirim" target-url="destek/netspeede-nasil-abone-olabilirim"></div>
    <div class="card-header" id="faqHeading2" target-name="sabit telefona ihtiyacım var mı" target-url="destek/sabit-telefona-ihtiyacim-var-mi"></div>
    <div class="card-header" id="faqHeading3" target-name="Aboneliğim aktif hale geldi. interneti kullanmak için ne yapmalıyım" target-url="destek/aboneligim-aktif-hale-geldi-interneti-kullanmak-icin-ne-yapmaliyim"></div>
    <div class="card-header" id="faqHeading4" target-name="Hat dondurma hizmeti nedir ve kimler faydalanabilir?" target-url="destek/hat-dondurma-hizmeti-nedir-ve-kimler-faydalanabilir"></div>
    <div class="card-header" id="faqHeading5" target-name="Statik IP hizmeti alabilir miyim?" target-url="destek/statik-ip-hizmeti-alabilir-miyim"></div>
    <div class="card-header" id="faqHeading6" target-name="Yeni bir modeme ihtiyacım olacak mı?" target-url="destek/yeni-bir-modeme-ihtiyacim-olacakmi"></div>
    <div class="card-header" id="faqHeading7" target-name="Otomatik Ödeme Talimatı vermek için ne yapmalıyım?" target-url="destek/otomatik-odeme-talimati"></div>
    <div class="card-header" id="faqHeading8" target-name="Faturamı nasıl ödeyebilirim?" target-url="destek/faturami-nasil-odeyebilirim"></div>
    <div class="card-header" id="faqHeading9" target-name="Hizmetimi farklı bir adrese nakil etmek istiyorum. Ne yapmalıyım?" target-url="destek/nakil-islemi"></div>
</div>