 
<div style="display:none">
    <div class="card-header" id="faqHeading1" target-name="Netspeed'e nasıl abone olabilirim" target-url="destek/netspeede-nasil-abone-olabilirim"></div>
    <div class="card-header" id="faqHeading2" target-name="Sabit telefona ihtiyacım var mı" target-url="destek/sabit-telefona-ihtiyacim-var-mi"></div>
    <div class="card-header" id="faqHeading3" target-name="Aboneliğim aktif hale geldi. interneti kullanmak için ne yapmalıyım" target-url="destek/aboneligim-aktif-hale-geldi-interneti-kullanmak-icin-ne-yapmaliyim"></div>
    <div class="card-header" id="faqHeading4" target-name="Hat dondurma hizmeti nedir ve kimler faydalanabilir?" target-url="destek/hat-dondurma-hizmeti-nedir-ve-kimler-faydalanabilir"></div>
    <div class="card-header" id="faqHeading5" target-name="Statik IP hizmeti alabilir miyim?" target-url="destek/statik-ip-hizmeti-alabilir-miyim"></div>
    <div class="card-header" id="faqHeading6" target-name="Yeni bir modeme ihtiyacım olacak mı?" target-url="destek/yeni-bir-modeme-ihtiyacim-olacakmi"></div>
    <div class="card-header" id="faqHeading7" target-name="Otomatik Ödeme Talimatı vermek için ne yapmalıyım?" target-url="destek/otomatik-odeme-talimati"></div>
    <div class="card-header" id="faqHeading8" target-name="Faturamı nasıl ödeyebilirim?" target-url="destek/faturami-nasil-odeyebilirim"></div>
    <div class="card-header" id="faqHeading9" target-name="Hizmetimi farklı bir adrese nakil etmek istiyorum. Ne yapmalıyım?" target-url="destek/nakil-islemi"></div>
    <div class="card-header" id="faqHeading10" target-name="Wifi sinyalim neden düşük?" target-url="destek/wifi-sinyalim-neden-dusuk"></div>
    <div class="card-header" id="faqHeading11" target-name="Modeme ihtiyacım olacak mı?" target-url="destek/yeni-bir-modeme-ihtiyacim-olacakmi"></div>
    <div class="card-header" id="faqHeading12" target-name="Tarifelerde hız değerlerinin yanında Mbps'e kadar yazıyor bu ne demek?" target-url="destek/tarifelerde-hiz-degerlerinin-yaninda-mbpse-kadar-yaziyor-bu-ne-demek"></div>
    <div class="card-header" id="faqHeading13" target-name="Operatör değiştirmek için ne yapmalıyım?" target-url="destek/operator-degistirme"></div>
     <div class="card-header" id="faqHeading14" target-name="Başka operatörden geçiş için ne yapmalıyım?" target-url="destek/operator-degistirme"></div>
     <div class="card-header" id="faqHeading15" target-name="Nasıl abone olabilirim" target-url="destek/netspeede-nasil-abone-olabilirim"></div>
     <div class="card-header" id="faqHeading16" target-name="Nakil işlemi için ne yapmalıyım?" target-url="destek/nakil-islemi"></div>
     <div class="card-header" id="faqHeading17" target-name="İnternetim neden yavaş?" target-url="destek/internet-baglanti-hizim-yavas"></div>
     <div class="card-header" id="faqHeading18" target-name="Bağlantı hızım neden yavaş?" target-url="destek/internet-baglanti-hizim-yavas"></div>
     <div class="card-header" id="faqHeading19" target-name="Tarife değişikliği yapmak istiyorum" target-url="destek/hiz-tarife-degisikligi-yapmak-istiyorum"></div>
     <div class="card-header" id="faqHeading20" target-name="Tarifemi değiştirmek istiyorum" target-url="destek/hiz-tarife-degisikligi-yapmak-istiyorum"></div>
     <div class="card-header" id="faqHeading21" target-name="Aboneliğimi iptal ettirmek için ne yapmalıyım?" target-url="destek/aboneligimi-iptal-ettirmek-icin-ne-yapmaliyim"></div>
     <div class="card-header" id="faqHeading22" target-name="Bağlantım sıkça kopuyor neden olabilir?" target-url="destek/baglanti-hizimi-yukselttikten-sonra-hattim-kopmaya-basladi-neden-olabilir"></div>
     <div class="card-header" id="faqHeading23" target-name="Kopma sorunu yaşıyorum" target-url="destek/baglanti-hizimi-yukselttikten-sonra-hattim-kopmaya-basladi-neden-olabilir"></div>
     <div class="card-header" id="faqHeading24" target-name="Altyapımı Sorgulamak İstiyorum" target-url="destek/altyapi-sorgulama"></div>
     <div class="card-header" id="faqHeading25" target-name="Adresimde alabileceği hızı öğrenmek istiyorum" target-url="destek/altyapi-sorgulama"></div>
     <div class="card-header" id="faqHeading26" target-name="Ne kadar hız alabilirim?" target-url="destek/altyapi-sorgulama"></div>
</div>