@model NetspeedMainWebsite.Models.ViewModel.InfrastructureInquiryResultViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
    <!--begin::Info-->
    <!--begin::Page Heading-->
    <div class="d-flex align-items-baseline flex-wrap my-5 mr-5">

    </div>
    <!--end::Toolbar-->
</div>

<!--end::Subheader-->
<!--begin::Entry-->
<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container">
        <!--begin::Card-->
        <div class="card card-custom">
            <!--begin::Card Body-->
            <div class="card-body p-0">
                <!--begin::Wizard 5-->
                <div class="wizard wizard-5 d-flex flex-column flex-lg-row flex-row-fluid" id="kt_wizard">
                    <!--begin::Aside-->
                    <div class="wizard-aside bg-white d-flex flex-column flex-row-auto w-100 w-lg-300px w-xl-400px w-xxl-450px">
                        <!--begin::Aside Top-->
                        <div class="d-flex flex-column-fluid flex-column px-xxl-20 px-10">
                            <!--begin: Wizard Nav-->
                            <div class="wizard-nav d-flex d-flex justify-content-center pt-10 pt-lg-15 pb-8">
                                <!--begin::Wizard Steps-->
                                <div class="wizard-steps">
                                    <!--begin::Wizard Step 1 Nav-->
                                    <div class="wizard-step">
                                        <div class="wizard-wrapper">
                                            <div class="wizard-icon">
                                                <i class="wizard-check ki ki-check"></i>
                                                <span class="wizard-number"><i class="flaticon-placeholder-3 font-size-h2 text-dark-50"></i></span>
                                            </div>
                                            <div class="wizard-label">
                                                <h3 class="wizard-title font-weight font-size-h4">Adres Altyapı Sorgulama</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end::Wizard Step 1 Nav-->
                                    <!--begin::Wizard Step 2 Nav-->
                                    <div class="wizard-step">
                                        <div class="wizard-wrapper">
                                            <div class="wizard-icon">
                                                <i class="wizard-check ki ki-check"></i>
                                                <span class="wizard-number"><i class="flaticon2-rocket-1 font-size-h2 text-info"></i></span>
                                            </div>
                                            <div class="wizard-label">
                                                <h3 class="wizard-title font-weight font-size-h4">Altyapı Sorgulama Sonucu</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end::Wizard Steps-->
                            </div>
                            <!--end: Wizard Nav-->
                            <div class="d-flex flex-row-auto bgi-no-repeat bgi-position-bottom bgi-position-center bgi-size-contain pt-15 pt-lg-10 h-250px" style="background-image: url(../../Content/media/svg/astitled-1.svg)"></div><br>
                        </div>
                        <!--end::Aside Top-->

                    </div>
                    <!--begin::Aside-->
                    <!--begin::Content-->

                    <div class="card card-custom d-flex flex-column flex-row-fluid py-15 px-5 px-lg-10  " style="background-color:  #301065">
                        <!--begin::Title-->
                        <div class="text-right mb-lg-4 mb-15 mr-xxl-10">
                        </div>
                        <!--end::Title-->
                        <!--begin::Form-->
                        <div class="d-flex justify-content-center flex-row-fluid ">
                            <div class="pb-5 w-100 w-md-450px w-lg-500px" id="kt_form2">
                                <!--begin: Wizard Step 1-->
                                <!--begin::Title-->
                                <div class="pb-12 pb-lg-15">
                                    <h3 class="font-weight-bolder text-dark-25 text-center font-size-h2 my-8">Netspeed Altyapı Sorgulama Sonucunuz</h3>
                                    <hr class="my-4 bg-info">
                                    <div class=" w-autoustify-content-center text text-center ml-auto">
                                        <!--begin::Card Body-->
                                        <h3 class="font-weight-bolder font-size-h3 mb-1">
                                            <a href="#" class="text-white">Adresinizde Alabileceğiniz Maksimum Hız</a>
                                        </h3>
                                        <div class="header-top">
                                            <div class="text-warning font-weight-bolder display-3 mb-9 animate__animated animate__fadeIn">
                                                @Html.DisplayFor(m => m.MaxSpeed)
                                            </div>                                            

                                            <h3 class="font-weight-bolder font-size-h3 mb-1">
                                                <a href="#" class="text-white">Santral/Saha Dolabı Tahmini Mesafe</a>
                                            </h3>
                                            <div class="header-top">
                                                <div class="text-warning font-weight-bolder font-size-h1 font-size-h2 mb-9 animate__animated animate__fadeIn animate__delay-1s">
                                                    @Html.DisplayFor(m => m.Distance)
                                                    <label>metre</label>
                                                </div>                                                

                                                <h3 class="font-weight-bolder font-size-h3 mb-3 ">
                                                    <a href="#" class="text-white">Port Durumu</a>
                                                </h3>

                                                <h2> <span class="badge badge-success animate__animated animate__fadeIn animate__delay-2s">
                                                    @Html.DisplayFor(m => m.XDSLType)
                                                     </span></h2>                                               

                                                <!--begin::Info-->
                                                <hr class="my-6 bg-info">

                                                <div class="text-dark order-2 order-md-2">
                                                    <a href="/" class="mr-0">
                                                        <img alt="Netspeed" src="~/Content/media/logos/bejlogomini.svg" class="max-h-15px mr-3">
                                                    </a>
                                                    <span class="text-muted font-weight-bold mr-2">
                                                        Sorgu No :
                                                        @Html.DisplayFor(m => m.SVUID)
                                                        @*<span class="text-dark-25 font-weight-bold mr-2"></span>*@
                                                    </span>
                                                </div>
                                                <!--end::Info-->
                                            </div>
                                            <!--end::Card Body-->
                                        </div>
                                    </div>
                                </div>

                                <div class="container text-center pt-12 py-0">
                                    <div class=" justify-content-center">
                                        <span>
                                            <button type="button" class="btn btn-outline-info btn-hover-text-white text-white font-weight-bolder px-12 m-2 " data-toggle="modal" data-target="#exampleModal">
                                                Sizi Arayalım mı?
                                            </button>
                                        </span>
                                        <span>
                                            <a href="/InfrastructureInquiry/Index" type="button" class="btn  font-weight-bolder text-white btn-outline-warning px-12 m-2 btn-hover ">Yeniden Sorgula</a>
                                        </span>
                                    </div>
                                    <hr class="my-12 bg-info">

                                    <small class="text-white text-center my-4"> Sorgulama sonucunda verilen bilgiler yaklaşık değerlerdir. Gerçek kullanım esnasında bu kapasiteyi kullanmanız her zaman mümkün olmayabilir. Hızınız şebeke altyapısı, bina/hane içi kablo tesisatınız, bölgenizdeki hatların yoğunluğu, sunucuların veya bilgisayarınızın performansı gibi faktörlere bağlı olarak değişiklik gösterebilmektedir.</small>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="margin-bottom:5em"></div>
<!--end::Form-->
<!--end::Content-->

@section script{
    <script src="~/Scripts/js/hide-show-fields-form.js"></script>
    <script src="~/Scripts/js/input-mask.js"></script>
}
