@{
    ViewBag.Title = "Gizlilik";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="d-flex bgi-size-cover bgi-position-center" style="background-image: url('../../Content/media/bg/bb-3.jpg')">
    <div class="container">
        <!--begin::Topbar-->
        <div class="d-flex justify-content-between align-items-center border-bottom border-white py-7">
            <h3 class="h4 text-dark-25 mb-0">Netspeed Web Gizlilik ve Güvenlik Politikası</h3>
            <div class="d-flex">
                <a href="/Contact/ContactForm" class="font-size-h6 text-dark-25 text-hover-warning font-weight-bold ml-8">İletişim Mesajı Gönder</a>
            </div>
        </div>
        <!--end::Topbar-->

        <div class="d-flex align-items-stretch text-center flex-column py-15">

            <!--begin::Heading-->
            <h1 class="text-white font-weight-bolder mb-12">Web Gizlilik ve Güvenlik Politikamız</h1>
            <div class="h6 text-dark-25 mb-6">
                Sitemizi ziyaret eden tüm misafirlerimizin bilgi güvenliğini sağlamak bizim için çok önemli!                      
    <!--end::Heading-->
                <!--begin::Form-->
                <!--end::Form-->
            </div>
        </div>
    </div>
</div>


<!--begin::Entry-->
<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container my-12">
        <!--begin::hero-->
        <!--begin::Body-->
        <!-- begin: Tab pane-->

        <div class="row py-4">
            <div class="col-lg-12">
                <!--begin::Callout-->
                <div class="card card-custom p-2 mb-8 mb-lg-0" style="
                                    box-shadow:-webkit-box-shadow: -10px 68px 106px -16px rgba(0,0,0,0.37);
                                    -moz-box-shadow: -13px 68px 106px -16px rgba(0,0,0,0.37);
                                    box-shadow: box-shadow:-webkit-box-shadow: -10px 68px 106px -16px rgba(0,0,0,0.37);
                                    -moz-box-shadow: -13px 68px 106px -16px rgba(0,0,0,0.37);
                                    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
                                    ">
                    <div class="card-body">
                        <div class="row">
                            <!--begin::Content-->
                            <div class="col-sm-12">

                                <h2 class="text-info mb-4">Gizlilik </h2>
                                <p class="text-dark-50 font-size-lg">www.netspeed.com.tr web sitesi Netspeed İnternet A.Ş.’ye aittir.


                                <p class="text-dark-50 font-size-lg">Sitemizi ziyaret eden tüm misafirlerimizin bilgi güvenliğini sağlamak bizim için çok önemli.</p>

                                <p class="text-dark-50 font-size-lg">Sitemizi ziyaret ederken kişisel bilgilerinizi paylaşmanızı beklemeden tüm içeriklerimizi görüntüleyebilirsiniz.</p>

                                <p class="text-dark-50 font-size-lg">Web sitemiz üzerinden isim, soyisim, iletişim bilgileriniz (gsm numarası/e-posta), doğum tarihi bilgilerinizi kullanarak Netspeed ile iletişime geçmek ya da yeni bir abonelik başvurusu yapmak için verdiğiniz kişisel bilgileriniz Netspeed tarafından özenle korunur.</p>

                                <p class="text-dark-50 font-size-lg">Bilgi güvenliğinizi korumak amacıyla Web sitemizde ve/veya Online İşlem Merkezinde kullandığınız kullanıcı adı ve şifrenizi açısından kimse ile paylaşmamanızı ve kolayca ulaşılabilecek, güvenliği bulunmayan hiçbir yere not etmemeniz gerektiğini hatırlatmak isteriz.</p>

                                <p class="text-dark-50 font-size-lg">Web sitemizde Netspeed tarafından işletilmeyen diğer web sitelerine ulaşabileceğiniz linkler bulunabilir. Bu web sitelerinden herhangi birini ziyaret ederseniz o sitenin gizlilik ve diğer politikaları geçerli olacaktır. Diğer şirketlerin politika ve uygulamalarından sorumlu olmadığımızı belirtir, ziyaret ettiğiniz tüm web sitelerinin gizlilik ve güvenlik politikalarını incelemenizi tavsiye ederiz.</p>

                            </div>
                            <!--end::Content-->
                        </div>
                    </div>
                </div>
                <!--end::Callout-->
            </div>
        </div>
    </div>
</div> 

