@{
    ViewBag.Title = "Bize Ulaşın - Netspeed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="d-flex bgi-size-cover bgi-position-center" style="background-image: url('../../Content/media/bg/bb-3.jpg')">
    <div class="container">
        <!--begin::Topbar-->
        <div class="d-flex justify-content-between align-items-center border-bottom border-white py-7">
            <h3 class="h4 text-dark-25 mb-0">İletişim Kanalları</h3>
            <div class="d-flex">
                <a href="/Support/ContactForm" class="font-size-h6 text-dark-25 text-hover-warning font-weight-bold ml-8">İletişim Mesajı Gönder</a>
            </div>
        </div>
        <!--end::Topbar-->

        <div class="d-flex align-items-stretch text-center flex-column py-15">
    <!--begin::Heading-->
            <h1 class="text-white font-weight-bolder mb-12">Bize Ulaşın</h1>
            <div class="h6 text-dark-25 mb-6">
                Aşağıdaki iletişim kanallarımızdan size en uygun yöntemi kullanarak bize ulaşabilirsiniz.
    <!--end::Heading-->
    <!--begin::Form-->
    <!--end::Form-->
            </div>
        </div>
    </div>
</div>


<!--begin::Entry-->
<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container my-12">
        <!--begin::hero-->
        <!--begin::Body-->
        <!-- begin: Tab pane-->

        <div class="row py-8">
            <div class="offset-md-3 col-md-6">

            </div>
        </div>

        <!--begin::Card Body-->


        <div class="row">
            <div class="col-lg-6">
                <!--begin::Callout-->
                <div class="card card-custom p-2 mb-8 mb-lg-0" style="
                                    box-shadow:-webkit-box-shadow: -10px 68px 106px -16px rgba(0,0,0,0.37);
                                    -moz-box-shadow: -13px 68px 106px -16px rgba(0,0,0,0.37);
                                    box-shadow: box-shadow:-webkit-box-shadow: -10px 68px 106px -16px rgba(0,0,0,0.37);
                                    -moz-box-shadow: -13px 68px 106px -16px rgba(0,0,0,0.37);
                                    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
                                    ">
                    <div class="card-body">
                        <div class="row">
                            <!--begin::Content-->
                            <div class="col-sm-7">
                                <h3 class="text-dark font-weight-bolder mb-4">Zaten bizim müşterimiz misiniz?</h3>
                                <h2 class="text-info mb-4">0850 800 5 800</h2>
                                <p class="text-dark-50 font-size-lg">Müşteri desteğimiz haftanın 7 günü size yardımcı olmak için hizmetinizdedir.</p>
                            </div>
                            <!--end::Content-->
                            <!--begin::Button-->
                            <div class="col-sm-5 d-flex align-items-center justify-content-sm-end">
                                <a href="https://online.netspeed.com.tr" class="btn font-weight-bolder  btn-primary py-3 px-6">Destek Kaydı Açın</a>
                            </div>
                            <!--end::Button-->
                        </div>
                    </div>
                </div>
                <!--end::Callout-->
            </div>
            <div class="col-lg-6">
                <!--begin::Callout-->
                <div class="card card-custom p-2 mb-0 mb-lg-0" style="
                                    box-shadow:-webkit-box-shadow: -10px 68px 106px -16px rgba(0,0,0,0.37);
                                    -moz-box-shadow: -13px 68px 106px -16px rgba(0,0,0,0.37);
                                    box-shadow: box-shadow:-webkit-box-shadow: -10px 68px 106px -16px rgba(0,0,0,0.37);
                                    -moz-box-shadow: -13px 68px 106px -16px rgba(0,0,0,0.37);
                                    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
                                    ">
                    <div class="card-body">
                        <div class="row">
                            <!--begin::Content-->
                            <div class="col-sm-7">
                                <h3 class="text-dark font-weight-bolder mb-4">Bize katılmayı mı düşünüyorsunuz?</h3>
                                <h2 class="text-info mb-4">444 0 217</h2>
                                <p class="text-dark-50 font-size-lg">Satış ekibimiz size her aşamada yardımcı olmaktan mutluluk duyacaktır.</p>
                            </div>
                            <!--end::Content-->
                            <!--begin::Button-->
                            <div class="col-sm-5 d-flex align-items-center justify-content-sm-end">

                                <button type="button" class="btn font-weight-bolder  btn-info py-3 px-6 " data-toggle="modal" data-target="#exampleModal">
                                    Sizi Biz Arayalım
                                </button>
                                <!--end::Button-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Modal-->

<div class="container my-0">
    <!--end::Callout-->

    <div class="row">
        <div class="col-lg-6">
            <!--begin::Callout-->
            <div class="card card-custom p-2 mb-8 mb-lg-0" style="
                                    box-shadow:-webkit-box-shadow: -10px 68px 106px -16px rgba(0,0,0,0.37);
                                    -moz-box-shadow: -13px 68px 106px -16px rgba(0,0,0,0.37);
                                    box-shadow: box-shadow:-webkit-box-shadow: -10px 68px 106px -16px rgba(0,0,0,0.37);
                                    -moz-box-shadow: -13px 68px 106px -16px rgba(0,0,0,0.37);
                                    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
                                    ">
                <div class="card-body">
                    <div class="row">
                        <!--begin::Content-->
                        <div class="col-sm-12">
                            <h3 class="text-dark font-weight-bolder mb-4">Genel Müdürlük</h3>
                            <h2 class="text-info mb-4">Netspeed İnternet A.Ş </h2>
                            <p class="text-dark-50 font-size-lg">Saraylar Mah. 464. Sokak No:1 Durmuş Ali Çoban İş Merkezi Kat:3 No:9 20010 Merkezefendi/Denizli</p>
                        </div>
                        <!--end::Content-->

                    </div>
                </div>
            </div>
            <!--end::Callout-->
        </div>
        <div class="col-lg-6">
            <!--begin::Callout-->
            <div class="card card-custom p-1 mb-8 mb-lg-0" style="
                                    box-shadow:-webkit-box-shadow: -10px 68px 106px -16px rgba(0,0,0,0.37);
                                    -moz-box-shadow: -13px 68px 106px -16px rgba(0,0,0,0.37);
                                    box-shadow: box-shadow:-webkit-box-shadow: -10px 68px 106px -16px rgba(0,0,0,0.37);
                                    -moz-box-shadow: -13px 68px 106px -16px rgba(0,0,0,0.37);
                                    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
                                    ">
                <div class="card-body">
                    <div class="row">
                        <!--begin::Content-->
                        <div class="col-sm-12">
                            <h3 class="text-dark font-weight-bolder mb-4">E-Posta Adreslerimiz</h3>
                            <p class="text-dark-50 font-size-lg">E-posta&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; : musterihizmetleri@netspeed.com.tr</p>
                            <p class="text-dark-50 font-size-lg">Bayi Destek&nbsp; &nbsp; &nbsp;:&nbsp; bayidestek@netspeed.com.tr</p>
                            <p class="text-dark-50 font-size-lg">İş Başvuruları&nbsp; : ik@netspeed.com.tr</p>

                        </div>
                        <!--end::Content-->
                        <!--begin::Button-->
                        <!--end::Button-->
                    </div>
                </div>
            </div>
            <!--end::Callout-->
        </div>
    </div>
    <div class="py-20">



    </div>
</div> 

@section script{
    <script src="~/Scripts/js/hide-show-fields-form.js"></script>
    <script src="~/Scripts/js/input-mask.js"></script>
}