@{
    ViewBag.Title = "Çerez Politikası - Netspeed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="d-flex bgi-size-cover bgi-position-center" style="background-image: url('../../Content/media/bg/bb-3.jpg')">
    <div class="container">
        <!--begin::Topbar-->
        <div class="d-flex justify-content-between align-items-center border-bottom border-white py-7">
            <h3 class="h4 text-dark-25 mb-0">Netspeed Çerez Politikası</h3>
            <div class="d-flex">
                <a href="/Support/ContactForm" class="font-size-h6 text-dark-25 text-hover-warning font-weight-bold ml-8">İletişim Mesajı Gönder</a>
            </div>
        </div>
        <!--end::Topbar-->

        <div class="d-flex align-items-stretch text-center flex-column py-15">
            <!--begin::Heading-->
            <h1 class="text-white font-weight-bolder mb-12">Çerez Politikamız</h1>
            <div class="h6 text-dark-25 mb-6">
                Sitemizi ziyaret eden tüm misafirlerimizin bilgi güvenliğini sağlamak bizim için çok önemli!                      
    <!--end::Heading-->
                <!--begin::Form-->
                <!--end::Form-->
            </div>
        </div>
    </div>
</div>


<!--begin::Entry-->
<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container my-12">
        <!--begin::hero-->
        <!--begin::Body-->
        <!-- begin: Tab pane-->

        <div class="row py-4">
            <div class="offset-md-3 col-md-6">

            </div>

            <div class="col-lg-12">
                <!--begin::Callout-->
                <div class="card card-custom p-2 mb-8 mb-lg-0" style="
                                    box-shadow:-webkit-box-shadow: -10px 68px 106px -16px rgba(0,0,0,0.37);
                                    -moz-box-shadow: -13px 68px 106px -16px rgba(0,0,0,0.37);
                                    box-shadow: box-shadow:-webkit-box-shadow: -10px 68px 106px -16px rgba(0,0,0,0.37);
                                    -moz-box-shadow: -13px 68px 106px -16px rgba(0,0,0,0.37);
                                    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
                                    ">
                    <div class="card-body">
                        <div class="row">
                            <!--begin::Content-->
                            <div class="col-sm-12">

                                <h2 class="text-info mb-4">Çerezler </h2>
                                <p class="text-dark-50 font-size-lg">
                                    Netspeed, Gizlilik politikasında yer alan çerezlerin ne olduğunu ve nasıl kullanıldığı anlatılmaktadır. Çerezler aracılığıyla elde edilen veriler, sizin kendiniz ile ilgili paylaştığınız bilgiler veya Gizlilik Politikamızda belirtilen amaçlarla topladığımız diğer veriler ile eşleşmektedir.
                                </p>

                                <p class="text-dark-75 font-weight-bolder font-size-lg">Çerez Nedir?</p>
                                <p class="text-dark-50 font-size-lg">Bir web sunucusundan tarayıcınıza gönderilen ve bilgisayarınızın sabit diskinde saklanan küçük veri miktarına “çerez” denir. Biz ve üçüncü parti partnerlerimiz, müşterilerimiz veya bağlı şirketler çerezleri, sunduğumuz ve sağladığımız özelleştirilmiş ve kişiselleştirilmiş hizmetimizin bir parçası olarak, üyelerimizin website kullanımını analiz etmek, daha iyi bir anket deneyimi sağlamak, kalite kontrolü yapmak, onaylamada bulunmak, ankete katılımı sağlamak veya kolaylaştırmak, hedef kitle doğrulamasını iyileştirmek için tamamlanmış anketlerin veya diğer hareketlerin takibini gerçekleştirmek ve hileli hareketlerin belirlenmesi ve/veya önlenmesi gibi nedenlerle ve bunlarla sınırlı olmamak kaydıyla, bilgilerinizi saklayabilmek ve website operasyonunu sağlamak için kullanabiliriz.</p>

                                <p class="text-dark-50 font-size-lg">Kullanıcının tarayıcısı minimum hafıza alanı kullanarak ve bilgisayarı tehlikeye sokmayarak sadece mevcut oturum sırasında sabit diske çerezleri kaydeder. Çerezler bir web sitesinin daha kullanıcı dostu deneyim sunmasını amaçlar. Çerezler bilgisayarınızda veya dosyalarınızda depolanan herhangi bir bilgiyi toplayamaz.</p>

                                <p class="text-dark-50 font-size-lg">Tarayıcıların büyük kısmı standart olarak çerezleri kabul eder ve, bunlardan bağımsız olarak, geçici veya depolanmış çerezlerin güvenlik ayarlarına izin verir veya engellerler.</p>

                                <p class="text-dark-75 font-weight-bolder font-size-lg">Çerez Türleri</p>
                                <p class="text-dark-50 font-size-lg">Websitesinde kullanılan çerezler aşağıda açıklanmış olup, Uluslararası Ticaret Odasının çerez kategorileriyle ilgili kılavuzunu esas almaktadır.</p>

                                <p class="text-dark-50 font-size-lg">
                                    Netspeed internet sitelerinde kullanılan çerezler, ICC BK Çerezler Kılavuzu’nda bulunan kategorilere göre ayrılmıştır. İnternet sitesinde kullanılan tüm çerezlerin listesi kategorilere göre aşağıda verilmiştir. Netspeed hizmetlerine ait internet sitesi çerezler etkin iken daha verimli çalışır. Bu çerezler bilgisayarınıza zarar vermez.
                                    Çerezler hiçbir spesifik kişisel bilgi içermezler, ve çerezlerin çoğu tarayıcı oturumunun sona ermesi ile sabit diskten silinirler Oturum çerezleri olarak adlandırılanlar bu çerezler, kullanıcı gezinirken veri toplar.
                                </p>

                                <p class="text-dark-50 font-size-lg">Farklı oturum çerezleri farklı amaçlara hizmet eder:</p>

                                <p class="text-dark-50 font-size-lg">1. Kategori: Kesinlikle Gerekli Olan Çerezler</p>
                                <p class="text-dark-50 font-size-lg">2. Kategori: Performans Çerezleri</p>
                                <p class="text-dark-50 font-size-lg">3. Kategori: İşlevsellik Çerezleri</p>
                                <p class="text-dark-50 font-size-lg">4. Kategori: Hedefleme/Reklam Çerezleri</p>
                                <p class="text-dark-50 font-size-lg">5. Kategori: Üçüncü Şahısların Çerezleri</p>

                                <p class="text-dark-50 font-size-lg">Netspeed İnternet A.Ş ziyaretçi davranışları hakkında bilgi toplamak için internet sitesinde Google Analytics hizmetini kullanmaktadır. Çerezleri “Website”mizi ziyaret eden kişilerin kişisel olarak tanımlanmayan bilgilerini takip ederek “Website”nin ne kadar sıklıkta ziyaret edildiğini, hangi sayfaları ne zaman ziyaret ettiğinizi veya hangi sayfalardan bizim sitemize ulaşıldığı gibi site kullanım bilgilerini toplamak için “Google Analytics” adında bir üçüncü parti izleme aracı kullanmaktayız. Bu bilgi, adreslenmiş İnternet Protokolü (IP), tarayıcı türü, internet servis sağlayıcı(ISP), yönlendiren/çıkış sayfaları, işletim sistemi, tarih/zaman belirteci ve tıklama akış verisini içermektedir. Google Analytics’den topladığımız bilgileri “Website”mizi geliştirmek, trendleri analiz etmek, “Website”yi yönetmek, kullanıcıların “Website” üzerindeki hareketlerini izlemek ve kullanıcıların genel demografik bilgilerini toplamak amacıyla kullanıyoruz. Kişisel olarak tanımlanabilen bilgilerin hiçbirini Google Analytics kullanımıyla topladığımız bilgiler ile birleştirmiyoruz.</p>

                                <p class="text-dark-50 font-size-lg">Google Analytics’in sizin bu siteyi bir dahaki ziyaretinizde tekil kullanıcı olarak tanımlayabilmek için tarayıcınızda yerleştirdiği kalıcı çerez, sadece Google tarafından kullanabilir fakat başka kimse tarafından kullanılamaz.</p>

                                <p class="text-dark-50 font-size-lg">Google Analytics Güvenlik ve Gizlilik Politikası hakkında daha fazla bilgi için lütfen aşağıdaki linki ziyaret ediniz.</p>

                                <p class="text-dark-50 font-size-lg">Google Analytics Güvenlik ve Gizlilik Politikası: https://support.google.com/analytics/answer/6004245?hl=en.</p>

                                <p class="text-dark-50 font-size-lg">Kullanıcı bu siteyi kullanarak, form dahilinde ve yukarıda sözü edilen amaçlarla toplanmış olan bilgilerin işlenmesini açık bir biçimde kabul etmektedir. Aynı zamanda bu amaçla tarayıcısında uygun konfigürasyonun seçimi sayesinde Çerezlerin kullanımını red ederek bu verilerin veya bilgilerin işlenmesini red etme imkanı da vardır. Bununla birlikte tarayıcıda çerezlerin bloke edilmesi seçeneği, web sitesinin fonksiyonlarının tümünün kullanılmasını engelleyebilir.</p>

                                <p class="text-dark-50 font-size-lg">Sizler bilgisayarınıza kurulu olan tarayıcı seçeneklerinin konfigürasyonu sayesinde donanımınızda kurulu olan çerezlere izin verebilir, devre dışı bırakabilir veya silebilirsiniz.</p>

                                <p class="text-dark-50 font-size-lg">Ancak, çerezleri engelleyerek ya da silerek websitesinden tam olarak faydalanamayabileceğinizi lütfen unutmamanızı rica ederiz.</p>

                            </div>
                            <!--end::Content-->

                        </div>
                    </div>
                </div>
                <!--end::Callout-->
            </div>
        </div>
        <div class="py-10">

        </div>
    </div>
</div> 




@section script{
    <script src="~/Scripts/js/hide-show-fields-form.js"></script>
    <script src="~/Scripts/js/input-mask.js"></script>
}