@{
    ViewBag.Title = "Siber Güvenlik - Netspeed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="d-flex bgi-size-cover bgi-position-center" style="background-image: url('../../Content/media/bg/bb-3.jpg')">
    <div class="container">
        <!--begin::Topbar-->
        <div class="d-flex justify-content-between align-items-center border-bottom border-white py-7">
            <h3 class="h4 text-dark-25 mb-0">Siber Güvenlik</h3>
            <div class="d-flex">
                <a href="/Contact/ContactForm" class="font-size-h6 text-dark-25 text-hover-warning font-weight-bold ml-8">İletişim Mesajı Gönder</a>
            </div>
        </div>
        <!--end::Topbar-->

        <div class="d-flex align-items-stretch text-center flex-column py-15">


            <!--begin::Heading-->
            <h1 class="text-white font-weight-bolder mb-12">Siber Güvenlik</h1>
            <div class="h6 text-dark-25 mb-6">
                İnternetinizin güvenliğine önem veriyoruz. Bilgisayarınızı kötü ve casus yazılımlardan koruyabilirsiniz
                <!--end::Heading-->
                <!--begin::Form-->
                <!--end::Form-->
            </div>
        </div>
    </div>
</div>


<!--begin::Entry-->
<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container my-12">
        <!--begin::hero-->
        <!--begin::Body-->
        <!-- begin: Tab pane-->

        <div class="row py-4">
            <div class="offset-md-3 col-md-6">

            </div>

            <div class="col-lg-12">
                <!--begin::Callout-->
                <div class="card card-custom p-2 mb-8 mb-lg-0" style="
                                    box-shadow:-webkit-box-shadow: -10px 68px 106px -16px rgba(0,0,0,0.37);
                                    -moz-box-shadow: -13px 68px 106px -16px rgba(0,0,0,0.37);
                                    box-shadow: box-shadow:-webkit-box-shadow: -10px 68px 106px -16px rgba(0,0,0,0.37);
                                    -moz-box-shadow: -13px 68px 106px -16px rgba(0,0,0,0.37);
                                    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
                                    ">
                    <div class="card-body">
                        <div class="row">
                            <!--begin::Content-->
                            <div class="col-sm-12">

                                <h2 class="text-info mb-4">Siber Güvenlik </h2>
                                <p class="text-dark-50 font-size-lg">
                                    Günümüzde, dünyada 400 milyon civarında İnternet’e bağlı bilgisayar, 1 milyarı aşkın İnternet kullanıcısı, 100 milyona yakın web sitesi olduğu tahmin ediliyor. Türkiye açısından bakıldığında bu rakam 15 milyona ulaşmış durumda; buradan İnternetin, olmazsa olmazlarımızın içine girmiş olduğunu çıkarabiliriz. İnternet’i kullanarak birçok işimizi halletmekteyiz; Örneğin e-posta yoluyla iletişim, bankacılık işlemleri, bir dosyayı karşıdan yükleme, bir ürün hakkında bilgi edinme, iş başvurusu yapma gibi pek çok amaç için kullanmaktayız. Bu büyük platformda, uygulamaları kullanırken kendi kişisel bilgilerimizi (kredi kartı numaramız,e-posta şifre veya kullanıcı adımız, özlük bilgilerimiz vs..) ortama sunmak durumunda kalıyoruz veya net üzerinden dosya,mail vb.. karşıdan yüklemelerimiz oluyor. Bu durumlarda güvenlik açısından önlemler almamız gerekir çünkü İnternet ortamında casus yazılımlar veya kimlik bilgilerinizin çalınması, kullanılmaya çalışılması gibi durumlarla karşı karşıya kalma ihtimalimiz oldukça yüksek. Bu önlemleri geniş bir şemsiye altında parçalara bölerek inceleyelim:
                                </p>

                                <p class="text-dark-75 font-weight-bolder font-size-lg">Karşıdan Dosya Yükleme Durumu</p>
                                <p class="text-dark-50 font-size-lg">Bu duruma belki de İnternet’te en yaygın olarak kullandığımız veya ihtiyaç duyduğumuz teknoloji diyebiliriz. Dünya’nın öbür ucundan bir dosyayı ( müzik,film..) veya gelen bir e-postayı (excel,powerpoint veya bir rar dosyası), sizin kendi bilgisayarınıza, İnternet’i kullanarak indirebilmenizdir.Peki bu kadar sıklıkla kullandığımız bu durumu güvence altına nasıl alacağız? Çeşitli yöntemler;</p>

                                <p class="text-dark-75 font-weight-bolder font-size-lg">Antivirüs Programı nedir ve ne yapar?</p>

                                <p class="text-dark-50 font-size-lg">Malware (virusler,solucanlar,truva atları,casus yazılımlar..) gibi bilgisayara ve kullanıcıya (kullanıcı verileri,dosyaları..) ciddi zararlar verebilecek olan yazılımları saptama,silme ve bilgisayarı koruma en temel görevleri olup, aynı zamanda sürekli aktif halde çalışabilen ve güncellenmesi gereken yazılımlardır.</p>

                                <p class="text-dark-75 font-weight-bolder font-size-lg">Antivirüs programları neden güncellenmelidir?</p>

                                <p class="text-dark-50 font-size-lg">İnternet’te çok ciddi sayıda casus yazılımlar, solucanlar, keyloggerlar vs.. bulunmakta ve daha bilmediğimiz pek çok çeşit de ortaya çıkmaya devam edecek gibi görünüyor. Nasıl bilgisayarımız (işletim sistemimiz) sürekli güncellenmek durumundaysa aynı şekilde antivirüs programımızı da güncellemek durumundayız. Bunun nedeni zararlı yazılımların da günden güne gelişmesi ve antivirüs programlarını rahatlıkla aşabilecek duruma gelmesidir. Bu açıdan antivirüs programımızın güncellenme özelliği her zaman açık olmalı ve belirli aralıklarla, olaylara bağlı olarak bilgisayarımızı taratmalıyız. Son olarak ve en önemlisi de, antivirüs programmızı asla kapatmamalıyız.</p>

                                <p class="text-dark-75 font-weight-bolder font-size-lg">Antivirüs programı kullanarak özel güvenlik önlemleri (Default Kullanıcı için)</p>
                                <p class="text-dark-50 font-size-lg">
                                    Çok ciddi bir spesifikasyondan bahsetmek zor olur, çünkü tüm antivirüs yazılımları biz açık tuttuğumuz sürece kendi varsayılan ayarlarına göre görevlerini yerine getirirler; Fakat, basit görünen ama önemli önlemler de bulunmakta. (Özel (custom) ayarları dışında).

                                    *Tüm gelen dosyalar veya e-posta yoluyla gelmiş olan ekleri antivirüs programımızı kullanarak taramak.

                                    Bütün antivirüs programlarının bu özelliği vardır ve temel sayılabilcek bir özelliktir. Bizim karşıdan yüklediğimiz veya yükleyeceğimiz öğeyi,dosyayı.. virus taramasından geçirmemizde fayda vardır.
                                </p>


                                <p class="text-dark-75 font-weight-bolder font-size-lg">Güvenlik duvarı nedir?</p>
                                <p class="text-dark-50 font-size-lg">İnternet güvenlik duvarı, İnternet üzerinden bilgisayarınıza erişmeye çalışan bilgisayar korsanlarını, virüsleri ve solucanları engellemeye yardımcı olan yazılım kodu parçası veya donanımıdır.</p>


                                <p class="text-dark-75 font-weight-bolder font-size-lg">Güvenlik duvarı neden kullanılmalı?</p>
                                <p class="text-dark-50 font-size-lg">İnternete bağlandığımızda bilgisayarımızın güvenlik duvarı kapalıysa, bilgisayar korsanlarına bilgisayarımıza erişim hakkı ve bilgi almaları için bir davetiye çıkarmışız demektir. Bir başka açıdan bakalım, herhangi bir İnternet sitesine girdiğimizde sayfanın nasıl uygulamalar çalıştırdığını bilemeyiz; Eğer güvenlik duvarımız aktif durumda değil ise bu durum bizi sıkıntıya sokabilir. İnternetinizi güvenlik duvarı olmadan kullanmak, evinizden dışarı çıkarken evinizin kapısını açık bırakıp gitmeye benziyor; girip çıkabilirsiniz fakat saldırıya çok açık durumundasınızdır. Bilgisayar korsanları özellikle güvenlik duvarı kullanmayan insanları hedefliyor ve bulabilmek için çeşitli yazılımlar geliştiriyorlar. (trojan,solucan,virüs..) Bu açıdan güvenlik duvarı kullanmanın önemi büyük.</p>

                                <p class="text-dark-75 font-weight-bolder font-size-lg">Güvenlik duvarı nasıl çalışır?</p>

                                <p class="text-dark-50 font-size-lg">Güvenlik duvarı aktif olduğu durumda ağ üzerindeki tüm bağlantıları izler ve tüm trafiği kontrol eder. İstenmeyen bir bağlantı olduğunda o bağlantıya ait trafiği keser, güvenliği sağlar. Güvenlik duvarları dinamik olarak da çalışırlar. Bazı durumlarda bağlantıyı dinamik olarak açar, erişmek istediğimiz web adresine direk bizi ulaştırırlar. (Bağlantı noktası, bir ağ trafiği türünün bilgisayarınıza eriştiği noktayı tanımlayan, ağ konusuna yönelik bir terimdir. Açtığınız bağlantı noktaları göndermek ve almak istediğiniz trafik türüne bağlıdır.)</p>

                                <p class="text-dark-75 font-weight-bolder font-size-lg">İşletim sistemi nedir?</p>

                                <p class="text-dark-50 font-size-lg">Özetle işletim sistemi, bilgisayarların çalışabilmesi için gereken temel yazılımdır. Bilgisayarlar, çeşitli donanım ürünlerinin belli bir tasarıma göre bir araya getirilmesiyle oluşturulur. Bilgisayarda yaptığımız çalışmaları, internet kullanımını ve bunlar gibi birçok uygulamayı gerçekleştirdiğimiz sanal platform diyebiliriz.</p>


                                <p class="text-dark-75 font-weight-bolder font-size-lg">İşletim sisteminin güncellenmesi neden önemlidir?</p>

                                <p class="text-dark-50 font-size-lg">İşletim sistemleri, %100 kararlı yapılardır. Bugünlerde bilgisayar teknolojisi sürekli değisen bir ivmeyle artar durumda ve işletim sistemleri bu mekanizmanın en temel yapı taşlarından biri. Güvenlik açısından baktığımızda önemi daha da artıyor çünkü güncellemelerin birçoğu da güvenlik bazlı oluyor. Güvenlik ve diğer güncellemeler, virüslere, solucanlara, truva atlarına vs.. karşı gelistirilen yapılar olup; bilgisayarımızı teknolojinin hızına entegre edip aynı zamanda güvenliğimizi kontrol altında tutmayı amaçlıyor.</p>
                                <p class="text-dark-50 font-size-lg">
                                    E-Posta konusunda dikkat edilmesi gereken hususlar
                                    Posta filtresi: Çoğu mail programı istenmeyen maillerinizi filtrelemeyi ve ayrı bir yere çıkartmayı sağlıyor. (e-posta filtre güncelleştirmelerine dikkat etmekte fayda var)
                                </p>
                                <p class="text-dark-50 font-size-lg">*İnternet çok büyük ve gelişmiş bir yapı oldu. Bu yapının içerisinde insanlar birbirleriyle sürekli iletişim halinde. Bu sonuç bilgisayar korsanlarının ekmeğine yağ süren cinsten çünkü iletişimin rahat olması onlar için ciddi bir avantaj haline geliyor.</p>


                                <p class="text-dark-75 font-weight-bolder font-size-lg">Bu nasıl oluyor?</p>

                                <p class="text-dark-50 font-size-lg">E-postalarımıza hergün birçok posta geliyor, bazıları işimizle alakalı, bazıları özel hayatımızla alakalı, bazıları reklam olan iletiler alıyoruz ve cevaplıyoruz. Peki aldığımız ve kimden geldiğini bilmediğimiz postaların hepsi güvenilir mi? Güvenliğinden emin olmadığımız iletileri açmadan silmekte fayda var çünkü açtığımız anda o dosya, bilgisayarımızı tehdit altında bırakır. Sadece bilgisayarımızda değil, e-posta hesabımızdaki bilgiler, hesaplar ciddi zararlar görebilir. Bu nedenle tanımadığımız postaları direk olarak silmek gerekir. Yine aynı şekilde bilmediğimiz bir adresten posta yoluyla gelen resim, müzik vb. dosyalarını da açmamak ve bilgisayarımıza kurmamak gerekiyor, çünkü resimler zararlı kod içerebilir ve filtrelere rağmen istenmeyen posta, gönderenin iletisini kullanıcıya ulaştırmak için kullanılabilir.</p>

                                <p class="text-dark-75 font-weight-bolder font-size-lg">Sonuç:</p>

                                <p class="text-dark-50 font-size-lg">
                                    Görüldüğü üzere bilgisayarımıza veya bilgilerimize korsanlarının ulaşmaları için birçok yöntem var ve bunlar sürekli olarak gelişme göstermekt. Bu açıdan güvenlik, kesinlikle küçümsenmemesi gereken ve önlemler alınması gereken bir konu. Bunun için güvenlik yazılımları, önlemleri, bilgilendirmesi gibi birçok yöntem oluşmuş durumda ve günden güne geliştirilmekte. Bizlere tek ve basit görev düşmekte; Bu güvenlik önlemlerini dikkate alıp, e-postalar, web siteleri, banka hesapları vb. gibi İnternet üzerindeki tüm uygulamalarda gerekli güvenlik önlemlerini almak. Umarız birgün İnternet teknojileri yapısı kökten ciddi bir evrime uğrar ve bilgisayar korsanlığı veya dolandırıcılığı gibi şeyler bu ortamda barınamaz, kendimizi güvende hissederiz.

                                    İnternetinizin güvenliğine önem veriyoruz. Bilgisayarınızı kötü ve casus yazılımlardan koruyabilirsiniz. Ülkemizin internet güvenliğine karşı ortaya çıkan tehditlerin belirlenmesi, azaltılması veya ortadan kaldırılmasına yönelik önlemlerin alınması için uluslararası düzeyde çalışmak üzere Telekomünikasyon İletişim Başkanlığı bünyesinde Ulusal Siber Olaylara Müdahale Merkezi (USOM, TR-CERT) kurulmuştur. Aşağıdaki linkleri takip ederek olası tehditlerin önüne geçebilirsiniz.
                                </p>

                                <p class="text-dark-50 font-size-lg">Genel bilgi için: <a href="https://www.usom.gov.tr/" target="_blank">www.usom.gov.tr</a></p>

                                <p class="text-dark-50 font-size-lg">Ulusal Siber Güvenlik İhbar’ları için: <a href="https://www.usom.gov.tr/ihbar-bildir.html" target="_blank">www.usom.gov.tr/ihbar-bildir.html</a></p>

                                <p class="text-dark-50 font-size-lg">Zararlı Yazılım Barındıran / Yayan Alan Adları için: <a href="https://www.usom.gov.tr/zararli-baglantilar/1.html" target="_blank">www.usom.gov.tr/zararli-baglantilar/1.html</a></p>

                                <p class="text-dark-50 font-size-lg"> </p>

                            </div>
                            <!--end::Content-->
                        </div>
                    </div>
                </div>
                <!--end::Callout-->
            </div>
        </div>
        <div class="py-10"></div>
    </div>
</div>


