@{
    ViewBag.Title = "Kişisel Verilerin Korunması - Netspeed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="d-flex bgi-size-cover bgi-position-center" style="background-image: url('../../Content/media/bg/bb-3.jpg')">
    <div class="container">
        <!--begin::Topbar-->
        <div class="d-flex justify-content-between align-items-center border-bottom border-white py-7">
            <h3 class="h4 text-dark-25 mb-0">Kişisel Verilerin Korunması</h3>
            <div class="d-flex">
                <a href="/Contact/ContactForm" class="font-size-h6 text-dark-25 text-hover-warning font-weight-bold ml-8">İletişim Mesajı Gönder</a>
            </div>
        </div>
        <!--end::Topbar-->

        <div class="d-flex align-items-stretch text-center flex-column py-15">
            <!--begin::Heading-->
            <h1 class="text-white font-weight-bolder mb-12">Kişisel Verilerin Korunması Kanunu</h1>
            <div class="h6 text-dark-25 mb-6">
                6698 Sayılı Kişisel Verilerin Korunması Kanunu Kişisel verileriniz koruma altında
                <!--end::Heading-->
                <!--begin::Form-->
                <!--end::Form-->
            </div>
        </div>
    </div>
</div>


<!--begin::Entry-->
<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container my-12">
        <!--begin::hero-->
        <!--begin::Body-->
        <!-- begin: Tab pane-->

        <div class="row py-4">
            <div class="offset-md-3 col-md-6">

            </div>

            <div class="col-lg-12">
                <div class="row">
                    <!--begin::Content-->
                    <div class="col-sm-12">

                        <div class="container">
                            <!--begin::hero-->
                            <div class="text-center pt-15">
                                <h1 class="font-weight-bolder text-info mb-6">NETSPEED KİŞİSEL VERİLERİN İŞLENMESİNE VE KORUNMASINA İLİŞKİN AYDINLATMA METNİ</h1>
                                <div class="h6 text-dark-50 mb-6">Netspeed İnternet A.Ş. (“Netspeed” veya “Şirket”) Netspeed İnternet A.Ş. olarak, müşterilerimizin özel hayatlarının gizliliğine saygı duyuyor ve önem veriyoruz. Bu nedenle müşterilerimizin kişisel verilerinin kullanılmasında, müşterilerimizin temel hak ve özgürlüklerini korumak amacıyla yürürlükte olan Kişisel Verilerin Korunması Kanunu* hakkında bilgi vermek istiyoruz.</div>
                                <div class="row">
                                    <div class="offset-md-3 col-md-6">

                                    </div>
                                </div>
                            </div>
                            <!--end::hero-->
                            <!--begin::Accordion-->
                            <div class="accordion accordion-solid accordion-panel accordion-svg-toggle mb-10" id="faq">
                                <!--begin::Item-->
                                <div class="card p-6">
                                    <!--begin::Header-->
                                    <div class="card-header" id="faqHeading1">
                                        <div class="card-title font-size-h4 text-dark collapsed" data-toggle="collapse" data-target="#faq1" aria-expanded="false" aria-controls="faq1" role="button">
                                            <div class="card-label">Kişisel Veri Kavramı: </div>
                                            <span class="svg-icon svg-icon-primary">
                                                <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Angle-double-right.svg-->
                                                <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                                        <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"></path>
                                                        <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999)"></path>
                                                    </g>
                                                </svg>
                                                <!--end::Svg Icon-->
                                            </span>
                                        </div>
                                    </div>
                                    <!--end::Header-->
                                    <!--begin::Body-->
                                    <div id="faq1" class="collapse" aria-labelledby="faqHeading1" data-parent="#faq">
                                        <div class="card-body pt-3 font-size-h6 font-weight-normal text-dark-50">
                                            Netspeed ad, soyad, adres, telefon numarası, TC kimlik numarası, doğum yeri, doğum tarihi, kimlik bilgileri, elektronik posta adresi, müşteri numarası, sözleşme numarası, aboneliği tanımlayabileceğimiz her tür veri, fatura, finansal borç bilgileri, ödeme tipi, abonelik durumu, tarife bilgileri, çağrı merkezi standartları gereğince tutulan sesli görüşme kayıtları, kredi kartı ve banka kartı bilgileri, internet sitelerindeki ve müşteri davranış bilgileri, kullanım miktarı, konum verileri, internet erişimine ilişkin olarak sisteme bağlantı tarih ve saat bilgisi, sistemden çıkış tarih ve saat bilgisi, kaynak ve hedef nokta bilgileri, her tür trafik verileri, iş başvurularında temin edilen özgeçmiş dahil kişisel veriler ile Netspeed çalışanlılarına ait hizmet sözleşmesi ve özlük dosyası kapsamında edinilen tüm kişisel verileri bunlar ile sınırlı olmamak kaydıyla 6698 sayılı Kişisel Verilerin Korunması Kanunu (“Kanun”) ve ilgili mevzuat kapsamında toplar, kullanır, korur, işler, muhafaza eder, paylaşır, siler ve imha eder.Kanun’un 3. Maddesine göre kişisel verilerin işlenmesi bu verilerin elde edilmesi, kaydedilmesi, depolanması, muhafa edilmesi, değiştirilmesi, yeniden düzenlenmesi, açıklanması, aktarılması, devralınması, elde edilebilir hale getirilmesi, sınıflandırılması ya da kullanılmasının engellenmesi gibi veriler üzerindeki her tür işlemi kapsar.

                                        </div>
                                    </div>
                                    <!--end::Body-->
                                </div>
                                <!--end::Item-->
                                <!--begin::Item-->
                                <div class="card p-6">
                                    <!--begin::Header-->
                                    <div class="card-header" id="faqHeading2">
                                        <div class="card-title font-size-h4 text-dark collapsed" data-toggle="collapse" data-target="#faq2" aria-expanded="false" aria-controls="faq2" role="button">
                                            <div class="card-label">Kişisel Verilerin İşlenme Yöntemi ve Hukuki Sebep:</div>
                                            <span class="svg-icon svg-icon-primary">
                                                <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Angle-double-right.svg-->
                                                <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                                        <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"></path>
                                                        <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999)"></path>
                                                    </g>
                                                </svg>
                                                <!--end::Svg Icon-->
                                            </span>
                                        </div>
                                    </div>
                                    <!--end::Header-->
                                    <!--begin::Body-->
                                    <div id="faq2" class="collapse" aria-labelledby="faqHeading2" data-parent="#faq">
                                        <div class="card-body pt-3 font-size-h6 font-weight-normal text-dark-50">
                                            Netspeed Kanun’da tanımlı şekli ile “Veri Sorumlusu” sıfatıyla kişisel verilerinizi toplar. Netspeed bu kişisel verileri yürütmekte olduğu ticari faaliyetleri devam ettirmek, sözleşme yapabilmek ve yaptığı sözleşmeleri uygulayabilmek için sunmakta olduğu ürün ve hizmetlerin gerektirdiği ölçüde sözlü, yazılı ya da elektronik ortamda abonelik sözleşmesi, web-sitesi, mobil uygulamalar, sosyal medya mecraları, çözüm ortakları , satış kanalları, çağrı merkezi, sesli yanıt sistemi ve benzeri kanallar aracılığıyla toplanmaktadır.<br><br>
                                            <p class="text-dark-50 font-size-lg">-Netspeed Kişisel Verilerinizi aşağıda belirtilen gerçek veya tüzel, özel veya kamu tüzel kişilerine aktarabilir:
                                            <p class="text-dark-50 font-size-lg">-Şirketimizin faaliyetlerini yürütmek üzere hizmet aldığımız, işbirliği yaptığımız, program ortağı olduğumuz/olacağımız kişi ve kuruluşlar ile diğer 3. Kişiler- Satın almak istediğiniz veya kullanmakta olduğunuz ürün veya hizmetlerin sunulması, size ulaştırılması için hizmet aldığımız kargo/kurye şirketleri, dış hizmet sağlayıcılar,</p>

                                            <p class="text-dark-50 font-size-lg">-Tarafınıza sunulan ürün veya hizmetlerin ifası için işbirliği yaptığımız tüm tedarikçi ve iş ortaklarımız,</p>

                                            <p class="text-dark-50 font-size-lg">-Tarafınızca yetki verilmiş olan vekil ve temsilcileriniz,</p>

                                            <p class="text-dark-50 font-size-lg">-Talep edilmesi veya yasal zorunluluklar gereğince düzenleyici ve denetleyici kurumlar, mahkeme, savcılık, icra müdürlükleri dahil ve fakat bunlarla sınırlı olmamak üzere kanunların emrettiği her tür idari, adli ve sair her tür resmi kurumlar,</p>

                                            <p class="text-dark-50 font-size-lg">-Sunduğumuz ürün veya hizmetler ile ilgili yasal haklarımızın takibi, hukuki gerekliliklerin yerine getirilmesi gibi nedenlerle avukatlar, vergi danışmanları, denetçiler ve hizmet alınan diğer üçüncü kişiler.</p>
                                        </div>
                                    </div>
                                    <!--end::Body-->
                                </div>
                                <!--end::Item-->
                                <!--begin::Item-->
                                <div class="card p-6">
                                    <!--begin::Header-->
                                    <div class="card-header" id="faqHeading3">
                                        <div class="card-title font-size-h4 text-dark collapsed" data-toggle="collapse" data-target="#faq3" aria-expanded="false" aria-controls="faq3" role="button">
                                            <div class="card-label">Kişisel Verilerin Toplanma Amaçları:</div>
                                            <span class="svg-icon svg-icon-primary">
                                                <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Angle-double-right.svg-->
                                                <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                                        <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"></path>
                                                        <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999)"></path>
                                                    </g>
                                                </svg>
                                                <!--end::Svg Icon-->
                                            </span>
                                        </div>
                                    </div>
                                    <!--end::Header-->
                                    <!--begin::Body-->
                                    <div id="faq3" class="collapse" aria-labelledby="faqHeading3" data-parent="#faq">
                                        <div class="card-body pt-3 font-size-h6 font-weight-normal text-dark-50">
                                            <p class="text-dark-50 font-size-lg">Netspeed kişisel verilerinizi Kanun’un 5 ve 6. maddelerinde belirtilen esas ve usullere uygun olarak aşağıdaki amaçlarla işlemektedir:Telekomünikasyon ürün veya hizmetlerini sunmak, pazarlamak, tanıtmak ya da katma değerli hizmet sunmak,Sunduğumuz ürün veya hizmetlere ilişkin indirim, kampanya ve ücretlendirmelere ilişkin bilgilendirme yapmak,Sunduğumuz hizmetlerin ölçümlenmesi, hizmetlerin iyileştirilmesi ve çeşitlendirilmesi, strateji belirlenmesi,</p>

                                            <p class="text-dark-50 font-size-lg">Yararlanmakta olduğunuz hizmetler ile ilgili faturalandırma yapılması, kimlik tespiti, sözleşme akdedilmesinden başlayarak sonlandırmaya kadar yapılan tüm abonelik işlemleri, çağrı merkezi hizmetlerinin sunulması, talep ve şikayet yönetimi, müşteri memnuniyetinin ölçülmesi, her tür müşteri ilişkileri faaliyetleri,</p>

                                            <p class="text-dark-50 font-size-lg">Düzenleyici ve denetleyici kurumlar ile yasal düzenlenmeler gereğince zorunlu kılınan raporlama ve sair yükümlülüklerin yerine getirilmesi,</p>

                                            <p class="text-dark-50 font-size-lg">Hukuki veya idari takip yollarına başvurulması.</p>
                                        </div>
                                    </div>
                                    <!--end::Body-->
                                </div>
                                <!--end::Item-->
                                <!--begin::Item-->
                                <div class="card p-6">
                                    <!--begin::Header-->
                                    <div class="card-header" id="faqHeading4">
                                        <div class="card-title font-size-h4 text-dark collapsed" data-toggle="collapse" data-target="#faq4" aria-expanded="false" aria-controls="faq4" role="button">
                                            <div class="card-label">Kişisel Veri Sahibi İlgili Kişi Olarak Haklarınız:</div>
                                            <span class="svg-icon svg-icon-primary">
                                                <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Angle-double-right.svg-->
                                                <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                                        <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"></path>
                                                        <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999)"></path>
                                                    </g>
                                                </svg>
                                                <!--end::Svg Icon-->
                                            </span>
                                        </div>
                                    </div>
                                    <!--end::Header-->
                                    <!--begin::Body-->
                                    <div id="faq4" class="collapse" aria-labelledby="faqHeading4" data-parent="#faq">
                                        <div class="card-body pt-3 font-size-h6 font-weight-normal text-dark-50">
                                            <p class="text-dark-50 font-size-lg">Kanun’un 11. Maddesi uyarınca kişisel verilerinizin korunması ile ilgili olarak aşağıdaki haklara sahipsiniz: Kişisel verinizin işlenip işlenmediğini öğrenme,</p>

                                            <p class="text-dark-50 font-size-lg">Kişisel veriniz işlenmişse buna ilişkin bilgi talep etme,</p>

                                            <p class="text-dark-50 font-size-lg">Kişisel verilerin işlenme amacını ve bunların amacına uygun kullanılıp kullanılmadığını öğrenme,</p>

                                            <p class="text-dark-50 font-size-lg">Yurt içinde veya yurt dışında kişisel verilerin aktarıldığı üçüncü kişileri bilme,</p>

                                            <p class="text-dark-50 font-size-lg">Kişisel verilerin eksik veya yanlış işlenmiş olması halinde bunların düzeltilmesini isteme, düzeltme yapılması halinde verilerin aktarıldığı üçüncü kişilere bilgi verilmesini isteme,</p>

                                            <p class="text-dark-50 font-size-lg">Kanun’un 7. Maddesi çerçevesinde kişisel verilerin silinmesini veya yok edilmesini isteme, silme veya yok edilmesi halinde verilerin aktarıldığı üçüncü kişilere bilgi verilmesini isteme,</p>

                                            <p class="text-dark-50 font-size-lg">İşlenen verilerin münhasıran otomatik sistemler ile analiz edilmesi sonucunda aleyhinize bir sonuç ortaya çıkması halinde itiraz etme,</p>

                                            <p class="text-dark-50 font-size-lg">Kişisel verinin kanuna aykırı olarak işlenmesi sebebiyle zarara uğraması halinde zararın giderilmesini talep etme.</p>

                                            <p class="text-dark-50 font-size-lg">Yukarıda belirtilen Kanun kapsamındaki kişisel veriler ile ilgili haklarınızı kullanmak ve talepte bulunmak için hazırlayacağınız dilekçenizi (Bu dilekçe şunları içermelidir: adınız, soyadınız, TCKN’niz, cevap almak istediğiniz adresiniz, e-posta adresiniz veya faks numaranız, başvuru tarihiniz, talebinize ilişkin detaylı açıklamalarınız) imzalı olarak aşağıdaki yöntemler ile bize iletebilirsiniz:</p>


                                            <div class="table-responsive">
                                                <table class="table table-light table-light-success">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th class="table-center">BAŞVURU YÖNTEMİ</th>
                                                            <th class="table-center">BAŞVURU YAPILACAK ADRES</th>
                                                            <th class="table-center">EKLER</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td class="font-weight-bold table-row-title">1. Yazılı Olarak Elden Teslim Başvuru  </td>
                                                            <td class="table-center">Islak imzalı başvuru formunu elden teslim  </td>
                                                            <td class="table-center">Netspeed İnternet A.Ş Saraylar Mah. 464. Sokak No:1 Durmuş Ali Çoban İş Merkezi Kat:3 No:9 20010 Merkezefendi/Denizli</td>
                                                            <td class="table-center">Nüfus cüzdanınızın ön yüzünün fotokopisi eklenecektir.</td>
                                                        </tr>
                                                        <tr class="bg-gray-100">
                                                            <td class="font-weight-bold table-row-title">2. Yazılı Olarak Noter Aracılığıyla</td>
                                                            <td class="table-center">Noterde düzenleme</td>
                                                            <td class="table-center">Netspeed İnternet A.Ş Saraylar Mah. 464. Sokak No:1 Durmuş Ali Çoban İş Merkezi Kat:3 No:9 20010 Merkezefendi/Denizli</td>
                                                            <td class="table-center">-</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="font-weight-bold table-row-title">3. Kayıtlı Elektronik Posta (KEP) Yoluyla</td>
                                                            <td class="table-center">Kayıtlı elektronik posta (KEP) adresi ile </td>
                                                            <td class="table-center">netspeed@hs01.kep.tr</td>
                                                            <td class="table-center">-</td>
                                                        </tr>
                                                        <tr class="bg-gray-100">
                                                            <td class="font-weight-bold table-row-title">4. Netspeed Sisteminde Kayıtlı Bulunan Elektronik Posta Adresiniz ile Başvuru</td>
                                                            <td class="table-center">Şirketimizin sisteminde kayıtlı bulunan elektronik posta adresiniz kullanılmak suretiyle </td>
                                                            <td class="table-center">musterihizmetleri@netspeed.com.tr </td>
                                                            <td class="table-center">-</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="font-weight-bold table-row-title">5. Netspeed Sisteminde Bulunmayan Başka Bir Elektronik Posta Adresi ile Başvuru</td>
                                                            <td class="table-center">Size ait mobil imza/e-imza ile imzalanmış yazılı bir dilekçe belgesi olmalıdır. Bu dilekçe şu bilgileri içermelidir: (Ad, soyad, TCKN, cevabınızı almak istediğiniz adres veya e-posta adresiniz, talebinize ilişkin açıklamalarınız )</td>
                                                            <td class="table-center">musterihizmetleri@netspeed.com.tr </td>
                                                            <td class="table-center">-</td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                                <p class="text-dark-50 font-size-lg">Başvurunuzu sonuçlandırabilmemiz için bize sunmuş olduğunuz bilgi ve belgelerin doğru ve güncel olması gerekmekte olup, başvurunuz ile ilgili olarak eksiklik tespit edilmesi halinde sizden ek bilgi talep edebilecektir. Başvurunuz sonucunda size temin edeceğimiz bilgi ve belgelerin ayrıca bir maliyet gerektirmesi halinde Kişisel Verileri Koruma Kurulu tarafından belirlenen ücreti ödemeniz gerekebileceği hususunu bilgilerinize sunarız.</p>

                                                <p class="text-dark-50 font-size-lg">Detaylı bilgi almak için TBMM’nin resmi internet sitesinden kanunu inceleyebilirsiniz.</p>

                                                <p class="text-dark-50 font-size-lg">İyi günler dileriz.</p>

                                                <p class="text-dark-50 font-size-lg">*6698 sayılı Kişisel Verilerin Korunması Kanunu (“KVKK”)</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Body-->



            <div class="py-10">

            </div>
        </div>
    </div>
</div>

