<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="NetspeedMainWebsite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
	<system.webServer>
		<staticContent>
			<remove fileExtension=".woff2" />
			<mimeMap fileExtension=".woff2" mimeType="font/woff2" />
		</staticContent>
	</system.webServer>

	<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
	  <bindings>
    <basicHttpBinding>
     <binding name="smsnnPortBinding" />
     <binding name="IntegrationServiceSoap" maxReceivedMessageSize="2147483647">
      <security mode="Transport" />
     </binding>
     <binding name="KPSPublicSoap">
      <security mode="Transport" />
     </binding>
     <binding name="KPSPublicYabanciDogrulaSoap">
      <security mode="Transport" />
     </binding>
     <binding name="KPSPublicV2Soap">
      <security mode="Transport" />
     </binding>
     <binding name="KPSPublicV2Soap1" />
     <binding name="BasicHttpsBinding_IAddressQueryService" maxReceivedMessageSize="2147483647">
      <security mode="Transport" />
     </binding>
     <binding name="BasicHttpBinding_IMainSiteService" />
    </basicHttpBinding>
    <basicHttpsBinding>
     <binding name="PstnBbkIptalSureSorgulaWSSoapBinding" receiveTimeout="00:05:00"
      maxReceivedMessageSize="2147483647" />
     <binding name="AboneDslamSifreSorguSoapBinding" receiveTimeout="00:05:00"
      maxReceivedMessageSize="2147483647" />
     <binding name="YeniHizmetNoSorgulaWSSoapBinding" receiveTimeout="00:05:00"
      maxReceivedMessageSize="2147483647" />
     <binding name="XDSLOperationServiceWSSoapBinding" receiveTimeout="00:05:00"
      maxReceivedMessageSize="2147483647" />
     <binding name="YeniTesisBasvurusuSoapBinding" receiveTimeout="00:05:00"
      maxReceivedMessageSize="2147483647" />
     <binding name="FttxSubscriberOperationWSSoapBinding" receiveTimeout="00:05:00"
      maxReceivedMessageSize="2147483647" />
     <binding name="AboneDetaySorgulaV2SoapBinding" receiveTimeout="00:05:00"
      maxReceivedMessageSize="2147483647" />
     <binding name="Abone8mProfilDegisikligiServisSoapBinding" receiveTimeout="00:05:00"
      maxReceivedMessageSize="2147483647" />
     <binding name="KullaniciAdiDogrulamaSoapBinding" receiveTimeout="00:05:00"
      maxReceivedMessageSize="2147483647" />
     <binding name="ServiceAvailabilityCheckWSSoapBinding" receiveTimeout="00:05:00"
      maxReceivedMessageSize="2147483647" />
     <binding name="TTAdresServisWSSoapBinding" openTimeout="00:05:00"
      receiveTimeout="00:05:00" sendTimeout="00:05:00" maxReceivedMessageSize="2147483647" />
     <binding name="XDSLTTOYSAboneHatSorgulaWSSoapBinding" receiveTimeout="00:05:00"
      maxReceivedMessageSize="2147483647" />
     <binding name="TarifeSorgulamaSoapBinding" receiveTimeout="00:05:00"
      maxReceivedMessageSize="2147483647" />
     <binding name="NDSLOperationManagerWSSoapBinding" receiveTimeout="00:05:00"
      maxReceivedMessageSize="2147483647" />
     <binding name="NDSLTransferOperationsWSSoapBinding" receiveTimeout="00:05:00"
      maxReceivedMessageSize="2147483647" />
     <binding name="NakilYeniNumaraServisSoapBinding" receiveTimeout="00:05:00"
      maxReceivedMessageSize="2147483647" />
     <binding name="BasvuruIptalEtmeSoapBinding" receiveTimeout="00:05:00"
      maxReceivedMessageSize="2147483647" />
     <binding name="BasvuruDurumSorgulamaSoapBinding" receiveTimeout="00:05:00"
      maxReceivedMessageSize="2147483647" />
     <binding name="DegisiklikBasvurusuAlSoapBinding" receiveTimeout="00:05:00"
      maxReceivedMessageSize="2147483647" />
     <binding name="XDSLFreezeWSSoapBinding" receiveTimeout="00:05:00"
      maxReceivedMessageSize="2147483647" />
     <binding name="AltyapiSorgulamaSoapBinding" receiveTimeout="00:05:00"
      maxReceivedMessageSize="2147483647" />
     <binding name="OloPortalMarsEndPointPortBinding" receiveTimeout="00:05:00"
      maxReceivedMessageSize="2147483647">
      <security mode="Transport">
       <transport clientCredentialType="Basic" realm="OLO Portal Web Services" />
       <message clientCredentialType="UserName" />
      </security>
     </binding>
    </basicHttpsBinding>
   </bindings>

	  <client>
    <endpoint address="https://xdsliss.turktelekom.com.tr/services/AboneDslamSifreSorgu"
     binding="basicHttpsBinding" bindingConfiguration="AboneDslamSifreSorguSoapBinding"
     contract="DSLAMPasswordReference.AboneDslamSifreSorgu" name="AboneDslamSifreSorgu" />
    <endpoint address="https://xdsliss.turktelekom.com.tr/services/YeniHizmetNoSorgulaWS"
     binding="basicHttpsBinding" bindingConfiguration="YeniHizmetNoSorgulaWSSoapBinding"
     contract="GetNewSubscriberNoReference.YeniHizmetNoService" name="YeniHizmetNoSorgulaWS" />
    <endpoint address="https://xdsliss.turktelekom.com.tr/services/AboneDetaySorgulaV2"
     binding="basicHttpsBinding" bindingConfiguration="AboneDetaySorgulaV2SoapBinding"
     contract="SubscriberDetailsReference.AbonelikBilgiSorgula" name="AboneDetaySorgulaV2" />
    <endpoint address="http://soap.netgsm.com.tr:8080/Sms_webservis/SMS"
     binding="basicHttpBinding" bindingConfiguration="smsnnPortBinding"
     contract="NetGsm.smsnn" name="smsnnPort" />
    <endpoint address="https://xdsliss.turktelekom.com.tr/services/ServiceAvailabilityCheckWS"
     binding="basicHttpsBinding" bindingConfiguration="ServiceAvailabilityCheckWSSoapBinding"
     contract="AvailabilityReference.ServiceAvailabilityCheckService"
     name="ServiceAvailabilityCheckWS" />
    <endpoint address="https://xdsliss.turktelekom.com.tr/services/TTAdresServisWS"
     binding="basicHttpsBinding" bindingConfiguration="TTAdresServisWSSoapBinding"
     contract="AddressReference.TTAdresServis" name="TTAdresServisWS" />
    <endpoint address="https://xdsliss.turktelekom.com.tr/services/XDSLTTOYSAboneHatSorgulaWS"
     binding="basicHttpsBinding" bindingConfiguration="XDSLTTOYSAboneHatSorgulaWSSoapBinding"
     contract="TTOYSReference.XDSLTTOYSAboneHatSorgulaService" name="XDSLTTOYSAboneHatSorgulaWS" />
    <endpoint address="https://xdsliss.turktelekom.com.tr/services/TarifeSorgulama"
     binding="basicHttpsBinding" bindingConfiguration="TarifeSorgulamaSoapBinding"
     contract="TariffQuery.TarifeSorgulama" name="TarifeSorgulama" />
    <endpoint address="https://xdsliss.turktelekom.com.tr/services/NDSLOperationManagerWS"
     binding="basicHttpsBinding" bindingConfiguration="NDSLOperationManagerWSSoapBinding"
     contract="NewApplicationReference.NDSLOperationManagerService"
     name="NDSLOperationManagerWS" />
    <endpoint address="https://xdsliss.turktelekom.com.tr/services/BasvuruIptalEtme"
     binding="basicHttpsBinding" bindingConfiguration="BasvuruIptalEtmeSoapBinding"
     contract="RegistrationCancellationReference.BasvuruIptal" name="BasvuruIptalEtme" />
    <endpoint address="https://xdsliss.turktelekom.com.tr/services/BasvuruDurumSorgulama"
     binding="basicHttpsBinding" bindingConfiguration="BasvuruDurumSorgulamaSoapBinding"
     contract="RegistrationTraceReference.BasvuruDurumSorgulama" name="BasvuruDurumSorgulama" />
    <endpoint address="https://xdsliss.turktelekom.com.tr/services/DegisiklikBasvurusuAl"
     binding="basicHttpsBinding" bindingConfiguration="DegisiklikBasvurusuAlSoapBinding"
     contract="CustomerChangeReference.DegisiklikBasvurusuAl" name="DegisiklikBasvurusuAl" />
    <endpoint address="https://olo.turktelekom.com.tr/olo-webservice-pcom/1.93/oloPortalMarsService"
     binding="basicHttpsBinding" bindingConfiguration="OloPortalMarsEndPointPortBinding"
     contract="OLOReference.OloPortalMarsEndPoint" name="OloPortalMarsEndPointPort" />
    <endpoint address="https://xdsliss.turktelekom.com.tr/services/NDSLTransferOperationsWS"
     binding="basicHttpsBinding" bindingConfiguration="NDSLTransferOperationsWSSoapBinding"
     contract="TransferReference.NDSLTransferService" name="NDSLTransferOperationsWS" />
    <endpoint address="https://xdsliss.turktelekom.com.tr/services/NakilYeniNumaraServis"
     binding="basicHttpsBinding" bindingConfiguration="NakilYeniNumaraServisSoapBinding"
     contract="TransferGetSubNoReference.NakilYeniNoBulServis" name="NakilYeniNumaraServis" />
    <endpoint address="https://xdsliss.turktelekom.com.tr/services/KullaniciAdiDogrulama"
     binding="basicHttpsBinding" bindingConfiguration="KullaniciAdiDogrulamaSoapBinding"
     contract="UsernameValidationReference.KullaniciAdiDogrulama"
     name="KullaniciAdiDogrulama" />
    <endpoint address="https://xdsliss.turktelekom.com.tr/services/Abone8mProfilDegisikligiServis"
     binding="basicHttpsBinding" bindingConfiguration="Abone8mProfilDegisikligiServisSoapBinding"
     contract="SpeedProfileStepService.Abone8mProfilDegisikligiServis"
     name="Abone8mProfilDegisikligiServis" />
    <endpoint address="https://xdsliss.turktelekom.com.tr/services/XDSLFreezeWS"
     binding="basicHttpsBinding" bindingConfiguration="XDSLFreezeWSSoapBinding"
     contract="FreezeReference.XDSLFreezeService" name="XDSLFreezeWS" />
    <endpoint address="https://integrationservicewithoutmtom.digitalplanet.com.tr/IntegrationService.asmx"
     binding="basicHttpBinding" bindingConfiguration="IntegrationServiceSoap"
     contract="NetInvoiceTestService.IntegrationServiceSoap" name="IntegrationServiceSoap" />
    <endpoint address="https://tckimlik.nvi.gov.tr/Service/KPSPublic.asmx"
     binding="basicHttpBinding" bindingConfiguration="KPSPublicSoap"
     contract="TCKValidationService.KPSPublicSoap" name="KPSPublicSoap" />
    <endpoint address="https://tckimlik.nvi.gov.tr/Service/KPSPublicYabanciDogrula.asmx"
     binding="basicHttpBinding" bindingConfiguration="KPSPublicYabanciDogrulaSoap"
     contract="ForeignerTCKValidationServiceReference.KPSPublicYabanciDogrulaSoap"
     name="KPSPublicYabanciDogrulaSoap" />
    <endpoint address="https://xdsliss.turktelekom.com.tr/services/AltyapiSorgulama"
     binding="basicHttpsBinding" bindingConfiguration="AltyapiSorgulamaSoapBinding"
     contract="InfrastructureInfoReference.AltyapiSorgulama" name="AltyapiSorgulama" />
    <endpoint address="https://tckimlik.nvi.gov.tr/Service/KPSPublicV2.asmx"
     binding="basicHttpBinding" bindingConfiguration="KPSPublicV2Soap"
     contract="TCKValidationServiceReference.KPSPublicV2Soap" name="KPSPublicV2Soap" />
    <endpoint address="https://nsadres.netspeed.com.tr/AddressQueryService.svc"
     binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IAddressQueryService"
     contract="AddressQueryServiceReference.IAddressQueryService"
     name="BasicHttpsBinding_IAddressQueryService" />
    <endpoint address="https://xdsliss.turktelekom.com.tr/services/FttxSubscriberOperationWS"
     binding="basicHttpsBinding" bindingConfiguration="FttxSubscriberOperationWSSoapBinding"
     contract="FTTXOperationsReference.FttxSubscriberOperationService"
     name="FttxSubscriberOperationWS" />
    <endpoint address="https://xdsliss.turktelekom.com.tr/services/YeniTesisBasvurusu"
     binding="basicHttpsBinding" bindingConfiguration="YeniTesisBasvurusuSoapBinding"
     contract="PSTNRegistrationReference.Basvuru" name="YeniTesisBasvurusu" />
    <endpoint address="https://xdsliss.turktelekom.com.tr/services/XDSLOperationServiceWS"
     binding="basicHttpsBinding" bindingConfiguration="XDSLOperationServiceWSSoapBinding"
     contract="WorkOrderByBBKReference.XDSLOperationService" name="XDSLOperationServiceWS" />
    <endpoint address="https://xdsliss.turktelekom.com.tr/services/PstnBbkIptalSureSorgulaWS"
     binding="basicHttpsBinding" bindingConfiguration="PstnBbkIptalSureSorgulaWSSoapBinding"
     contract="CancellationHistoryQueryReference.PstnBbkIptalSureSorgula"
     name="PstnBbkIptalSureSorgulaWS" />
    <endpoint address="http://10.184.3.63:5050/MainSiteService.svc"
     binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMainSiteService"
     contract="MainSiteServiceReference.IMainSiteService" name="BasicHttpBinding_IMainSiteService" />
   </client>
  </system.serviceModel>
  <applicationSettings>
    <NetspeedMainWebsite.Properties.Settings>
      <setting name="oimUrl" serializeAs="String">
        <value>online.netspeed.com.tr</value>
      </setting>
    </NetspeedMainWebsite.Properties.Settings>
  </applicationSettings>
</configuration>
