@{
    ViewBag.Title = " Netspeed Sözleşme ve Formlar - Bireysel Ev interneti Sözleşmeleri";
    Layout = "~/Views/Shared/_Layout.cshtml";
   
}


<div id="kt_body" class="header-fixed header-mobile-fixed subheader-enabled page-loading">

    <!--end::Section-->
    <!--begin::Content-->
    <!--begin::Subheader-->

    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <!--begin::Info-->
        <!--begin::Page Heading-->
        <div class="d-flex align-items-baseline flex-wrap my-5 mr-5">

        </div>
        <!--end::Toolbar-->
    </div>

    <!--end::Subheader-->
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <!--begin::Card-->
            <div class="card card-custom">
                <!--begin::Card Body-->
                <div class="card-body p-0">
                    <!--begin::Wizard 5-->
                    <div class="wizard wizard-5 d-flex flex-column flex-lg-row flex-row-fluid" id="kt_wizard">
                        <!--begin::Aside-->
                        <div class="wizard-aside bg-white d-flex flex-column flex-row-auto w-100 w-lg-300px w-xl-400px w-xxl-450px">
                            <!--begin::Aside Top-->
                            <div class="d-flex flex-column-fluid flex-column px-xxl-20 px-10">
                                <!--begin: Wizard Nav-->
                                <div class="wizard-nav d-flex d-flex justify-content-center pt-10 pt-lg-15 pb-8">
                                    <!--begin::Wizard Steps-->
                                    <div class="wizard-steps">
                                        <!--begin::Wizard Step 1 Nav-->
                                        <div class="wizard-step">
                                            <div class="wizard-wrapper">
                                                <div class="wizard-icon">

                                                    <span class="wizard-number">
                                                        <span class="svg-icon svg-icon-info svg-icon-2x">
                                                            <!--begin::Svg Icon--><svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                    <polygon points="0 0 24 0 24 24 0 24" />
                                                                    <path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                                    <rect fill="#000000" x="6" y="11" width="9" height="2" rx="1" />
                                                                    <rect fill="#000000" x="6" y="15" width="5" height="2" rx="1" />
                                                                </g>
                                                            </svg><!--end::Svg Icon-->
                                                        </span>
                                                    </span>
                                                </div>

                                                <div class="wizard-label">
                                                    <h3 class="wizard-title font-weight my-0 font-size-h4">Sözleşme ve Formlar</h3>
                                                </div>
                                            </div>
                                        </div>
                                        <!--end::Wizard Step 1 Nav-->

                                        <div class="text-dark-50 font-weight font-size-h6 my-6 mt-2">Başvuru formlarımızı linklerden bilgisayarınıza indirebilirsiniz. Başvuru formlarımızı görüntüleyebilmek ve yazdırmak için Adobe® Acrobat® Reader programına ihtiyacınız vardır. </div>


                                    </div>
                                    <!--end::Wizard Steps-->
                                </div>
                                <!--end: Wizard Nav-->
                                <div class="d-flex flex-row-auto bgi-no-repeat bgi-position-bottom bgi-position-center bgi-size-contain pt-15 pt-lg-10 h-250px" style="background-image: url(../../Content/media/svg/file-4.svg)"></div>
                                <br>
                            </div>
                            <!--end::Aside Top-->

                        </div>
                        <!--begin::Aside-->
                        <!--begin::Content-->

                        <div class="d-flex flex-column flex-row-fluid py-15 px-5 px-lg-10 ">


                            <!--begin::Title-->
                            <div class="text-right mb-lg-4 mb-15 mr-xxl-10">

                            </div>
                            <!--end::Title-->
                            <!--begin::Form-->
                            <div class="d-flex justify-content-center flex-row-fluid ">
                                <div class="pb-5 w-100 w-md-450px w-lg-500px" @*id="kt_form2*@>
                                    <!--begin: Wizard Step 1-->
                                    <!--begin::Title-->
                                    <div class="pb-10 pb-lg-15">
                                        <h3 class="font-weight-bolder text-info font-size-h2">Sözleşme ve Formlar İçin İndirme Linkleri</h3><hr class="my-8">

                                        <div class="d-flex align-items-center">
                                            <!--begin::Pic-->
                                            <div class="flex-shrink-0 mr-4 symbol symbol-40 ">
                                                <img src="~/Content/media/svg/files/pdf.svg" alt="image">
                                            </div>
                                            <!--end::Pic-->
                                            <!--begin::Info-->
                                            <div class="d-flex flex-column mr-auto my-6">
                                                <!--begin: Title-->
                                                <a href="https://netspeed.com.tr/sozlesme/basvuruformuvesozlesme.pdf" target="_blank" class="card-title text-hover-primary font-weight-bolder font-size-h5 text-dark mb-1">Başvuru Formu ve Abonelik Sözleşmesi</a>
                                                <small>Bireysel Başvuru Formu Abonelik Sözleşmesini indirmek için tıklayınız</small>
                                                <!--end::Title-->
                                            </div>
                                            <!--end::Info-->
                                            <!--begin::Toolbar-->

                                            <div class="text-right pr-0">
                                                <a href="https://netspeed.com.tr/sozlesme/basvuruformuvesozlesme.pdf" target="_blank" class="btn btn-icon btn-light btn-sm">
                                                    <span class="svg-icon svg-icon-md svg-icon-2x svg-icon-primary">
                                                        <!--begin::Svg Icon--><svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                <rect x="0" y="0" width="24" height="24" />
                                                                <path d="M2,13 C2,12.5 2.5,12 3,12 C3.5,12 4,12.5 4,13 C4,13.3333333 4,15 4,18 C4,19.1045695 4.8954305,20 6,20 L18,20 C19.1045695,20 20,19.1045695 20,18 L20,13 C20,12.4477153 20.4477153,12 21,12 C21.5522847,12 22,12.4477153 22,13 L22,18 C22,20.209139 20.209139,22 18,22 L6,22 C3.790861,22 2,20.209139 2,18 C2,15 2,13.3333333 2,13 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                                <rect fill="#000000" opacity="0.3" transform="translate(12.000000, 8.000000) rotate(-180.000000) translate(-12.000000, -8.000000) " x="11" y="1" width="2" height="14" rx="1" />
                                                                <path d="M7.70710678,15.7071068 C7.31658249,16.0976311 6.68341751,16.0976311 6.29289322,15.7071068 C5.90236893,15.3165825 5.90236893,14.6834175 6.29289322,14.2928932 L11.2928932,9.29289322 C11.6689749,8.91681153 12.2736364,8.90091039 12.6689647,9.25670585 L17.6689647,13.7567059 C18.0794748,14.1261649 18.1127532,14.7584547 17.7432941,15.1689647 C17.3738351,15.5794748 16.7415453,15.6127532 16.3310353,15.2432941 L12.0362375,11.3779761 L7.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" transform="translate(12.000004, 12.499999) rotate(-180.000000) translate(-12.000004, -12.499999) " />
                                                            </g>
                                                        </svg><!--end::Svg Icon-->
                                                    </span>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="d-flex align-items-center">
                                            <!--begin::Pic-->
                                            <div class="flex-shrink-0 mr-4 symbol symbol-40 ">
                                                <img src="~/Content/media/svg/files/pdf.svg" alt="image">
                                            </div>
                                            <!--end::Pic-->
                                            <!--begin::Info-->
                                            <div class="d-flex flex-column mr-auto my-6">
                                                <!--begin: Title-->
                                                <a href="https://netspeed.com.tr/sozlesme/bireyselisletmecidegisiklikformu.pdf" target="_blank" class="card-title text-hover-primary font-weight-bolder font-size-h5 text-dark mb-1">Bireysel İşletmeci Değişiklik Formu</a>
                                                <small>Bireysel İşletmeci Değişiklik Formunu indirmek için tıklayınız</small>
                                                <!--end::Title-->
                                            </div>
                                            <!--end::Info-->
                                            <!--begin::Toolbar-->
                                            <div class="text-right pr-0">
                                                <a href="https://netspeed.com.tr/sozlesme/bireyselisletmecidegisiklikformu.pdf" target="_blank" class="btn btn-icon btn-light btn-sm">
                                                    <span class="svg-icon svg-icon-md svg-icon-2x svg-icon-primary">
                                                        <!--begin::Svg Icon--><svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                <rect x="0" y="0" width="24" height="24" />
                                                                <path d="M2,13 C2,12.5 2.5,12 3,12 C3.5,12 4,12.5 4,13 C4,13.3333333 4,15 4,18 C4,19.1045695 4.8954305,20 6,20 L18,20 C19.1045695,20 20,19.1045695 20,18 L20,13 C20,12.4477153 20.4477153,12 21,12 C21.5522847,12 22,12.4477153 22,13 L22,18 C22,20.209139 20.209139,22 18,22 L6,22 C3.790861,22 2,20.209139 2,18 C2,15 2,13.3333333 2,13 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                                <rect fill="#000000" opacity="0.3" transform="translate(12.000000, 8.000000) rotate(-180.000000) translate(-12.000000, -8.000000) " x="11" y="1" width="2" height="14" rx="1" />
                                                                <path d="M7.70710678,15.7071068 C7.31658249,16.0976311 6.68341751,16.0976311 6.29289322,15.7071068 C5.90236893,15.3165825 5.90236893,14.6834175 6.29289322,14.2928932 L11.2928932,9.29289322 C11.6689749,8.91681153 12.2736364,8.90091039 12.6689647,9.25670585 L17.6689647,13.7567059 C18.0794748,14.1261649 18.1127532,14.7584547 17.7432941,15.1689647 C17.3738351,15.5794748 16.7415453,15.6127532 16.3310353,15.2432941 L12.0362375,11.3779761 L7.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" transform="translate(12.000004, 12.499999) rotate(-180.000000) translate(-12.000004, -12.499999) " />
                                                            </g>
                                                        </svg><!--end::Svg Icon-->
                                                    </span>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="d-flex align-items-center">
                                            <!--begin::Pic-->
                                            <div class="flex-shrink-0 mr-4 symbol symbol-40 ">
                                                <img src="~/Content/media/svg/files/pdf.svg" alt="image">
                                            </div>
                                            <!--end::Pic-->
                                            <!--begin::Info-->
                                            <div class="d-flex flex-column mr-auto my-6">
                                                <!--begin: Title-->
                                                <a href="https://netspeed.com.tr/sozlesme/pstnyalindslformu.pdf" target="_blank" class="card-title text-hover-primary font-weight-bolder font-size-h5 text-dark mb-1">PSTN+ADSL Abone Yalın DSL Talep Formu</a>
                                                <small>PSTN+ADSL Abone Yalın DSL Talep Formu indirmek için tıklayınız</small>
                                                <!--end::Title-->
                                            </div>
                                            <!--end::Info-->
                                            <!--begin::Toolbar-->
                                            <div class="text-right pr-0">
                                                <a href="https://netspeed.com.tr/sozlesme/pstnyalindslformu.pdf" target="_blank" class="btn btn-icon btn-light btn-sm">
                                                    <span class="svg-icon svg-icon-md svg-icon-2x svg-icon-primary">
                                                        <!--begin::Svg Icon--><svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                <rect x="0" y="0" width="24" height="24" />
                                                                <path d="M2,13 C2,12.5 2.5,12 3,12 C3.5,12 4,12.5 4,13 C4,13.3333333 4,15 4,18 C4,19.1045695 4.8954305,20 6,20 L18,20 C19.1045695,20 20,19.1045695 20,18 L20,13 C20,12.4477153 20.4477153,12 21,12 C21.5522847,12 22,12.4477153 22,13 L22,18 C22,20.209139 20.209139,22 18,22 L6,22 C3.790861,22 2,20.209139 2,18 C2,15 2,13.3333333 2,13 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                                <rect fill="#000000" opacity="0.3" transform="translate(12.000000, 8.000000) rotate(-180.000000) translate(-12.000000, -8.000000) " x="11" y="1" width="2" height="14" rx="1" />
                                                                <path d="M7.70710678,15.7071068 C7.31658249,16.0976311 6.68341751,16.0976311 6.29289322,15.7071068 C5.90236893,15.3165825 5.90236893,14.6834175 6.29289322,14.2928932 L11.2928932,9.29289322 C11.6689749,8.91681153 12.2736364,8.90091039 12.6689647,9.25670585 L17.6689647,13.7567059 C18.0794748,14.1261649 18.1127532,14.7584547 17.7432941,15.1689647 C17.3738351,15.5794748 16.7415453,15.6127532 16.3310353,15.2432941 L12.0362375,11.3779761 L7.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" transform="translate(12.000004, 12.499999) rotate(-180.000000) translate(-12.000004, -12.499999) " />
                                                            </g>
                                                        </svg><!--end::Svg Icon-->
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                        <hr class="my-8">
                                        <div class="d-flex align-items-center">
                                            <span class="text-dark-50 font-weight-bold my-8">Formları indirip yazıcıdan çıktısını alarak ilgili alanları doldurup imzalamanız ve daha sonra kimlik fotokopinizi de ekleyerek aşağıdaki adrese MNG Kargo ile karşı ödemeli olarak göndermeniz yeterlidir. </span>
                                        </div>

                                        <span class="text-dark-75 font-weight-bold my-8"> Netspeed İnternet A.Ş Saraylar Mah. 464. Sokak No:1 Durmuş Ali Çoban İş Merkezi Kat:3 No:9 20010 Merkezefendi/Denizli</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--end::Form-->
        </div>

        <!--end::Content-->
    </div>
</div>

