
@{
    ViewBag.Title = "ContractAndForms";
}

<html lang="tr">
<!--begin::Head-->
<head>
    <base href="">
    <meta charset="utf-8">
    <title> Netspeed Sözleşme ve Formlar - Bireysel Ev interneti Sözleşmeleri</title>
    <meta name="searchTitle" content="Netspeed Ev İnterneti Sözleşmeleri">
    <meta name="description" content="Limitsiz Evde İnternet keyfini Netspeed ile yaşayın! Türkiye'nin en ekonomik Taahhütsüz, Kotasız, Adsl, Vdsl, Fiber Hızında İnternet Paketleri Limitsiz Yalın Adsl - Ev ve Ofis interneti, Sınırsız Adsl.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="canonical" href="https://netspeed.com.tr/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Netspeed - Limitsiz Mutluluk">
    <meta property="og:image" content="/assets/media/logos/netspeed-only-face.png">
    <meta property="og:url" content="https://www.netspeed.com.tr/sozlesme-ve-form">
    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700">
    <!--end::Fonts-->
    <!--ilk::Gnl Styles-->
    <link href="/assets/css/wizard5-basvuru.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/plugins.bundle.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/prismjs.bundle.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/style.bundle.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/assets/css/animate.min.css">
    <!--son::Gnl Styles-->
    <link rel="shortcut icon" href="/assets/media/logos/favicon.ico">
    <style type="text/css">
.apexcharts-canvas {
  position: relative;
  user-select: none;
  /* cannot give overflow: hidden as it will crop tooltips which overflow outside chart area */
}


/* scrollbar is not visible by default for legend, hence forcing the visibility */
.apexcharts-canvas ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 6px;
}

.apexcharts-canvas ::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}


.apexcharts-inner {
  position: relative;
}

.apexcharts-text tspan {
  font-family: inherit;
}

.legend-mouseover-inactive {
  transition: 0.15s ease all;
  opacity: 0.20;
}

.apexcharts-series-collapsed {
  opacity: 0;
}

.apexcharts-tooltip {
  border-radius: 5px;
  box-shadow: 2px 2px 6px -4px #999;
  cursor: default;
  font-size: 14px;
  left: 62px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 20px;
  overflow: hidden;
  white-space: nowrap;
  z-index: 12;
  transition: 0.15s ease all;
}

.apexcharts-tooltip.apexcharts-active {
  opacity: 1;
  transition: 0.15s ease all;
}

.apexcharts-tooltip.apexcharts-theme-light {
  border: 1px solid #e3e3e3;
  background: rgba(255, 255, 255, 0.96);
}

.apexcharts-tooltip.apexcharts-theme-dark {
  color: #fff;
  background: rgba(30, 30, 30, 0.8);
}

.apexcharts-tooltip * {
  font-family: inherit;
}


.apexcharts-tooltip-title {
  padding: 6px;
  font-size: 15px;
  margin-bottom: 4px;
}

.apexcharts-tooltip.apexcharts-theme-light .apexcharts-tooltip-title {
  background: #ECEFF1;
  border-bottom: 1px solid #ddd;
}

.apexcharts-tooltip.apexcharts-theme-dark .apexcharts-tooltip-title {
  background: rgba(0, 0, 0, 0.7);
  border-bottom: 1px solid #333;
}

.apexcharts-tooltip-text-value,
.apexcharts-tooltip-text-z-value {
  display: inline-block;
  font-weight: 600;
  margin-left: 5px;
}

.apexcharts-tooltip-text-z-label:empty,
.apexcharts-tooltip-text-z-value:empty {
  display: none;
}

.apexcharts-tooltip-text-value,
.apexcharts-tooltip-text-z-value {
  font-weight: 600;
}

.apexcharts-tooltip-marker {
  width: 12px;
  height: 12px;
  position: relative;
  top: 0px;
  margin-right: 10px;
  border-radius: 50%;
}

.apexcharts-tooltip-series-group {
  padding: 0 10px;
  display: none;
  text-align: left;
  justify-content: left;
  align-items: center;
}

.apexcharts-tooltip-series-group.apexcharts-active .apexcharts-tooltip-marker {
  opacity: 1;
}

.apexcharts-tooltip-series-group.apexcharts-active,
.apexcharts-tooltip-series-group:last-child {
  padding-bottom: 4px;
}

.apexcharts-tooltip-series-group-hidden {
  opacity: 0;
  height: 0;
  line-height: 0;
  padding: 0 !important;
}

.apexcharts-tooltip-y-group {
  padding: 6px 0 5px;
}

.apexcharts-tooltip-candlestick {
  padding: 4px 8px;
}

.apexcharts-tooltip-candlestick>div {
  margin: 4px 0;
}

.apexcharts-tooltip-candlestick span.value {
  font-weight: bold;
}

.apexcharts-tooltip-rangebar {
  padding: 5px 8px;
}

.apexcharts-tooltip-rangebar .category {
  font-weight: 600;
  color: #777;
}

.apexcharts-tooltip-rangebar .series-name {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.apexcharts-xaxistooltip {
  opacity: 0;
  padding: 9px 10px;
  pointer-events: none;
  color: #373d3f;
  font-size: 13px;
  text-align: center;
  border-radius: 2px;
  position: absolute;
  z-index: 10;
  background: #ECEFF1;
  border: 1px solid #90A4AE;
  transition: 0.15s ease all;
}

.apexcharts-xaxistooltip.apexcharts-theme-dark {
  background: rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: #fff;
}

.apexcharts-xaxistooltip:after,
.apexcharts-xaxistooltip:before {
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.apexcharts-xaxistooltip:after {
  border-color: rgba(236, 239, 241, 0);
  border-width: 6px;
  margin-left: -6px;
}

.apexcharts-xaxistooltip:before {
  border-color: rgba(144, 164, 174, 0);
  border-width: 7px;
  margin-left: -7px;
}

.apexcharts-xaxistooltip-bottom:after,
.apexcharts-xaxistooltip-bottom:before {
  bottom: 100%;
}

.apexcharts-xaxistooltip-top:after,
.apexcharts-xaxistooltip-top:before {
  top: 100%;
}

.apexcharts-xaxistooltip-bottom:after {
  border-bottom-color: #ECEFF1;
}

.apexcharts-xaxistooltip-bottom:before {
  border-bottom-color: #90A4AE;
}

.apexcharts-xaxistooltip-bottom.apexcharts-theme-dark:after {
  border-bottom-color: rgba(0, 0, 0, 0.5);
}

.apexcharts-xaxistooltip-bottom.apexcharts-theme-dark:before {
  border-bottom-color: rgba(0, 0, 0, 0.5);
}

.apexcharts-xaxistooltip-top:after {
  border-top-color: #ECEFF1
}

.apexcharts-xaxistooltip-top:before {
  border-top-color: #90A4AE;
}

.apexcharts-xaxistooltip-top.apexcharts-theme-dark:after {
  border-top-color: rgba(0, 0, 0, 0.5);
}

.apexcharts-xaxistooltip-top.apexcharts-theme-dark:before {
  border-top-color: rgba(0, 0, 0, 0.5);
}

.apexcharts-xaxistooltip.apexcharts-active {
  opacity: 1;
  transition: 0.15s ease all;
}

.apexcharts-yaxistooltip {
  opacity: 0;
  padding: 4px 10px;
  pointer-events: none;
  color: #373d3f;
  font-size: 13px;
  text-align: center;
  border-radius: 2px;
  position: absolute;
  z-index: 10;
  background: #ECEFF1;
  border: 1px solid #90A4AE;
}

.apexcharts-yaxistooltip.apexcharts-theme-dark {
  background: rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: #fff;
}

.apexcharts-yaxistooltip:after,
.apexcharts-yaxistooltip:before {
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.apexcharts-yaxistooltip:after {
  border-color: rgba(236, 239, 241, 0);
  border-width: 6px;
  margin-top: -6px;
}

.apexcharts-yaxistooltip:before {
  border-color: rgba(144, 164, 174, 0);
  border-width: 7px;
  margin-top: -7px;
}

.apexcharts-yaxistooltip-left:after,
.apexcharts-yaxistooltip-left:before {
  left: 100%;
}

.apexcharts-yaxistooltip-right:after,
.apexcharts-yaxistooltip-right:before {
  right: 100%;
}

.apexcharts-yaxistooltip-left:after {
  border-left-color: #ECEFF1;
}

.apexcharts-yaxistooltip-left:before {
  border-left-color: #90A4AE;
}

.apexcharts-yaxistooltip-left.apexcharts-theme-dark:after {
  border-left-color: rgba(0, 0, 0, 0.5);
}

.apexcharts-yaxistooltip-left.apexcharts-theme-dark:before {
  border-left-color: rgba(0, 0, 0, 0.5);
}

.apexcharts-yaxistooltip-right:after {
  border-right-color: #ECEFF1;
}

.apexcharts-yaxistooltip-right:before {
  border-right-color: #90A4AE;
}

.apexcharts-yaxistooltip-right.apexcharts-theme-dark:after {
  border-right-color: rgba(0, 0, 0, 0.5);
}

.apexcharts-yaxistooltip-right.apexcharts-theme-dark:before {
  border-right-color: rgba(0, 0, 0, 0.5);
}

.apexcharts-yaxistooltip.apexcharts-active {
  opacity: 1;
}

.apexcharts-yaxistooltip-hidden {
  display: none;
}

.apexcharts-xcrosshairs,
.apexcharts-ycrosshairs {
  pointer-events: none;
  opacity: 0;
  transition: 0.15s ease all;
}

.apexcharts-xcrosshairs.apexcharts-active,
.apexcharts-ycrosshairs.apexcharts-active {
  opacity: 1;
  transition: 0.15s ease all;
}

.apexcharts-ycrosshairs-hidden {
  opacity: 0;
}

.apexcharts-selection-rect {
  cursor: move;
}

.svg_select_boundingRect, .svg_select_points_rot {
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}
.apexcharts-selection-rect + g .svg_select_boundingRect,
.apexcharts-selection-rect + g .svg_select_points_rot {
  opacity: 0;
  visibility: hidden;
}

.apexcharts-selection-rect + g .svg_select_points_l,
.apexcharts-selection-rect + g .svg_select_points_r {
  cursor: ew-resize;
  opacity: 1;
  visibility: visible;
}

.svg_select_points {
  fill: #efefef;
  stroke: #333;
  rx: 2;
}

.apexcharts-svg.apexcharts-zoomable.hovering-zoom {
  cursor: crosshair
}

.apexcharts-svg.apexcharts-zoomable.hovering-pan {
  cursor: move
}

.apexcharts-zoom-icon,
.apexcharts-zoomin-icon,
.apexcharts-zoomout-icon,
.apexcharts-reset-icon,
.apexcharts-pan-icon,
.apexcharts-selection-icon,
.apexcharts-menu-icon,
.apexcharts-toolbar-custom-icon {
  cursor: pointer;
  width: 20px;
  height: 20px;
  line-height: 24px;
  color: #6E8192;
  text-align: center;
}

.apexcharts-zoom-icon svg,
.apexcharts-zoomin-icon svg,
.apexcharts-zoomout-icon svg,
.apexcharts-reset-icon svg,
.apexcharts-menu-icon svg {
  fill: #6E8192;
}

.apexcharts-selection-icon svg {
  fill: #444;
  transform: scale(0.76)
}

.apexcharts-theme-dark .apexcharts-zoom-icon svg,
.apexcharts-theme-dark .apexcharts-zoomin-icon svg,
.apexcharts-theme-dark .apexcharts-zoomout-icon svg,
.apexcharts-theme-dark .apexcharts-reset-icon svg,
.apexcharts-theme-dark .apexcharts-pan-icon svg,
.apexcharts-theme-dark .apexcharts-selection-icon svg,
.apexcharts-theme-dark .apexcharts-menu-icon svg,
.apexcharts-theme-dark .apexcharts-toolbar-custom-icon svg {
  fill: #f3f4f5;
}

.apexcharts-canvas .apexcharts-zoom-icon.apexcharts-selected svg,
.apexcharts-canvas .apexcharts-selection-icon.apexcharts-selected svg,
.apexcharts-canvas .apexcharts-reset-zoom-icon.apexcharts-selected svg {
  fill: #008FFB;
}

.apexcharts-theme-light .apexcharts-selection-icon:not(.apexcharts-selected):hover svg,
.apexcharts-theme-light .apexcharts-zoom-icon:not(.apexcharts-selected):hover svg,
.apexcharts-theme-light .apexcharts-zoomin-icon:hover svg,
.apexcharts-theme-light .apexcharts-zoomout-icon:hover svg,
.apexcharts-theme-light .apexcharts-reset-icon:hover svg,
.apexcharts-theme-light .apexcharts-menu-icon:hover svg {
  fill: #333;
}

.apexcharts-selection-icon,
.apexcharts-menu-icon {
  position: relative;
}

.apexcharts-reset-icon {
  margin-left: 5px;
}

.apexcharts-zoom-icon,
.apexcharts-reset-icon,
.apexcharts-menu-icon {
  transform: scale(0.85);
}

.apexcharts-zoomin-icon,
.apexcharts-zoomout-icon {
  transform: scale(0.7)
}

.apexcharts-zoomout-icon {
  margin-right: 3px;
}

.apexcharts-pan-icon {
  transform: scale(0.62);
  position: relative;
  left: 1px;
  top: 0px;
}

.apexcharts-pan-icon svg {
  fill: #fff;
  stroke: #6E8192;
  stroke-width: 2;
}

.apexcharts-pan-icon.apexcharts-selected svg {
  stroke: #008FFB;
}

.apexcharts-pan-icon:not(.apexcharts-selected):hover svg {
  stroke: #333;
}

.apexcharts-toolbar {
  position: absolute;
  z-index: 11;
  max-width: 176px;
  text-align: right;
  border-radius: 3px;
  padding: 0px 6px 2px 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.apexcharts-menu {
  background: #fff;
  position: absolute;
  top: 100%;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 3px;
  right: 10px;
  opacity: 0;
  min-width: 110px;
  transition: 0.15s ease all;
  pointer-events: none;
}

.apexcharts-menu.apexcharts-menu-open {
  opacity: 1;
  pointer-events: all;
  transition: 0.15s ease all;
}

.apexcharts-menu-item {
  padding: 6px 7px;
  font-size: 12px;
  cursor: pointer;
}

.apexcharts-theme-light .apexcharts-menu-item:hover {
  background: #eee;
}

.apexcharts-theme-dark .apexcharts-menu {
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
}

@@media screen and (min-width: 768px) {
  .apexcharts-canvas:hover .apexcharts-toolbar {
    opacity: 1;
  }
}

.apexcharts-datalabel.apexcharts-element-hidden {
  opacity: 0;
}

.apexcharts-pie-label,
.apexcharts-datalabels,
.apexcharts-datalabel,
.apexcharts-datalabel-label,
.apexcharts-datalabel-value {
  cursor: default;
  pointer-events: none;
}

.apexcharts-pie-label-delay {
  opacity: 0;
  animation-name: opaque;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.apexcharts-canvas .apexcharts-element-hidden {
  opacity: 0;
}

.apexcharts-hide .apexcharts-series-points {
  opacity: 0;
}

.apexcharts-gridline,
.apexcharts-annotation-rect,
.apexcharts-tooltip .apexcharts-marker,
.apexcharts-area-series .apexcharts-area,
.apexcharts-line,
.apexcharts-zoom-rect,
.apexcharts-toolbar svg,
.apexcharts-area-series .apexcharts-series-markers .apexcharts-marker.no-pointer-events,
.apexcharts-line-series .apexcharts-series-markers .apexcharts-marker.no-pointer-events,
.apexcharts-radar-series path,
.apexcharts-radar-series polygon {
  pointer-events: none;
}


/* markers */

.apexcharts-marker {
  transition: 0.15s ease all;
}

@@keyframes opaque {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/* Resize generated styles */

@@keyframes resizeanim {
  from {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

.resize-triggers {
  animation: 1ms resizeanim;
  visibility: hidden;
  opacity: 0;
}

.resize-triggers,
.resize-triggers>div,
.contract-trigger:before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.resize-triggers>div {
  background: #eee;
  overflow: auto;
}

.contract-trigger:before {
  width: 200%;
  height: 200%;
}</style>
    <style></style>
</head>
<!--end::Head-->
<!--begin::Body-->
<body id="kt_body" class="header-mobile-fixed subheader-enabled">
    <div class="wpcc-container wpcc-banner wpcc-fontsize-tiny wpcc-bottom wpcc-color-custom-843166018 " style=""><span class="wpcc-message">Size daha iyi bir internet sitesi deneyimi ve kişiselleştirilmiş içerikler sunabilmek için çerezler kullanıyoruz. Sitemizi kullanarak, çerez kullanımına izin vermektesiniz. Daha fazla bilgi için lütfen çerez kullanım politikamızı inceleyiniz.  <a class="wpcc-privacy" href="/kvkk/" rel="noopener" target="_blank" tabindex="1"> Çerez Politikası</a></span><div class="wpcc-compliance"><a class="wpcc-btn" tabindex="2">Tamam</a></div></div>
    <!--begin::Main-->
    <!--begin::header-sm-->
    <div class="header-sm py-0 d-flex flex-lg-column" style="background-color: #1c0646;" id="kt_header">
        <!--begin::Container-->

        <div class="container d-flex flex-column flex-md-row align-items-center justify-content-between">

            <!--begin::Nav-->
            <div class="nav nav-dark order-1 order-md-1">
                <div class="d-flex flex-wrap justify-content-center my-2">
                    <a href="#" class="text-dark-25 font-size-sm text-hover-info mr-lg-8 mr-5 mb-lg-0 mb-6">Bireysel</a>
                    <a href="#" class="text-dark-50 font-size-sm text-hover-info mr-lg-8 mr-5 mb-lg-0 mb-2">Kurumsal</a>
                </div>

            </div>
            <!--end::Nav-->
        </div>

    </div>
    <!--end::Container-->
    <!--end::header-sm-->
    <!--begin::Header Mobile-->
    <div id="kt_header_mobile" class="header-mobile header-mobile-fixed">
        <div class="d-flex align-items-center">
            <!--begin::Logo-->
            <a href="/" class="mr-5">
                <img alt="Logo" src="/assets/media/svg/logos/bejjpluslogonew.svg" class="max-h-20px">
            </a>
            <!--end::Logo-->

        </div>
        <!--begin::Toolbar-->
        <!--begin::hizlimenu-->
        <button class="btn p-0 ml-0" id="kt_quick_actions_toggle" data-toggle="tooltip" data-placement="right" data-container="body" data-boundary="window" title="" data-original-title="">
            <span class="svg-icon svg-icon-xl">
                <!--begin::Svg Icon-->
                <div class="btn btn-icon btn-dropdown btn-lg mr-0">
                    <div class="btn btn-icon btn-dropdown btn-lg mr-0 pulse pulse-white">
                        <span class="svg-icon svg-icon-xl svg-icon-danger">
                            <!--begin::Svg Icon-->
                            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <rect x="0" y="0" width="24" height="24"></rect>
                                    <rect fill="#000000" x="4" y="4" width="7" height="7" rx="1.5"></rect>
                                    <path d="M5.5,13 L9.5,13 C10.3284271,13 11,13.6715729 11,14.5 L11,18.5 C11,19.3284271 10.3284271,20 9.5,20 L5.5,20 C4.67157288,20 4,19.3284271 4,18.5 L4,14.5 C4,13.6715729 4.67157288,13 5.5,13 Z M14.5,4 L18.5,4 C19.3284271,4 20,4.67157288 20,5.5 L20,9.5 C20,10.3284271 19.3284271,11 18.5,11 L14.5,11 C13.6715729,11 13,10.3284271 13,9.5 L13,5.5 C13,4.67157288 13.6715729,4 14.5,4 Z M14.5,13 L18.5,13 C19.3284271,13 20,13.6715729 20,14.5 L20,18.5 C20,19.3284271 19.3284271,20 18.5,20 L14.5,20 C13.6715729,20 13,19.3284271 13,18.5 L13,14.5 C13,13.6715729 13.6715729,13 14.5,13 Z" fill="#000000" opacity="0.3"></path>
                                </g>
                            </svg>
                            <!--end::Svg Icon-->
                        </span>
                        <span class="pulse-ring"> </span>

                    </div>
                </div>
            </span>
        </button>
    </div>
    <!--end::Toolbar-->


    <div id="kt_quick_actions" class="offcanvas offcanvas-left p-6 offcanvas-off" style="background-color: #290b63;">
        <!--begin::Header-->
        <div class="offcanvas-header d-flex align-items-center justify-content-between pb-10" kt-hidden-height="56" style="">
            <!--begin::Logo-->
            <a href="/" class="mr-7">
                <img alt="Logo" src="/assets/media/svg/logos/bejjpluslogonew.svg" class="max-h-20px">
            </a>
            <!--end::Logo-->
            <a href="#" class="btn btn-sm btn-icon btn-hover-info" id="kt_quick_actions_close">
                <i class="ki ki-close icon-sm text-muted"></i>
            </a>
        </div>
        <!--end::Header-->
        <!--begin::Content-->
        <div class="offcanvas-content pr-5 mr-n5 scroll ps" style="height: 549px; overflow: hidden;">
            <div class="row gutter-b">
                <!--begin::Item-->

                <div class="col-6">
                    <a href="kampanyalar" class="btn btn-block btn-hover-primary text-warning text-center py-5 px-5" style="background-color: #43257d">
                        <span class="fas fa-star font-size-h1 menu-icon">
                        </span>
                        <span class="d-block font-weight-bold text-white font-size-h8 mt-2">Kampanyalar</span>
                    </a>
                </div>
                <!--end::Item-->
                <!--begin::Item-->
                <div class="col-6">
                    <a href="basvur" class="btn btn-block btn-hover-primary text-warning text-center py-5 px-5" style="background-color: #43257d">
                        <span class="fab fa-wpforms font-size-h1 menu-icon">
                        </span>

                        <span class="d-block font-weight-bold text-white font-size-h8 mt-2">Şimdi Başvur</span>
                    </a>
                </div>
                <!--end::Item-->
            </div>
            <div class="row gutter-b">
                <!--begin::Item-->
                <div class="col-6">
                    <a href="altyapi-sorgula" class="btn btn-block btn-hover-primary text-center py-5 px-5" style="background-color: #43257d">
                        <i class="flaticon-placeholder-3 font-size-h1 text-warning"></i>

                        <span class="d-block font-weight-bold text-white font-size-h8 mt-2">Altyapı Sorgula</span>
                    </a>
                </div>
                <!--end::Item-->
                <!--begin::Item-->
                <div class="col-6">
                    <a href="destek" class="btn btn-block btn-hover-primary text-warning text-center py-5 px-5" style="background-color: #43257d">
                        <span class="fas fas fa-question-circle font-size-h1 menu-icon">
                        </span>

                        <span class="d-block font-weight-bold text-white font-size-h8 mt-2">Yardım &amp; Destek</span>
                    </a>
                </div>
                <!--end::Item-->
            </div>
            <div class="row gutter-b">
                <!--begin::Item-->
                <div class="col-6">
                    <a href="hiz-testi" class="btn btn-block btn-hover-primary text-warning text-center py-5 px-5" style="background-color: #43257d">
                        <span class="fas fa-tachometer-alt font-size-h2 menu-icon"></span>
                        <span class="d-block font-weight-bold text-white font-size-h8 mt-2">Hız Testi</span>
                    </a>
                </div>
                <!--end::Item-->
                <!--begin::Item-->
                <div class="col-6">
                    <a href="sozlesme-ve-form" class="btn btn-block btn-hover-primary text-warning text-center py-5 px-5" style="background-color: #43257d">

                        <!--begin::Svg Icon-->
                        <span class="fas fa-file-signature font-size-h1 menu-icon">
                        </span>
                        <span class="d-block font-weight-bold text-white font-size-h8 mt-2">Sözleşme / Formlar</span>
                    </a>
                </div>
                <!--end::Item-->
            </div>
            <div class="row">
                <!--begin::Item-->
                <div class="col-6">
                    <a href="destek/fatura-odeme" class="btn btn-block btn-hover-primary text-warning text-center py-5 px-5" style="background-color: #43257d">
                        <span class="fas fa-credit-card font-size-h1 menu-icon ">
                        </span>

                        <span class="d-block font-weight-bold text-white font-size-h8 mt-2">Fatura Ödeme</span>
                    </a>
                </div>
                <!--end::Item-->
                <!--begin::Item-->
                <div class="col-6">
                    <a href="giris" class="btn btn-block btn-hover-primary btn-info text-warning text-center py-5 px-5" style="background-color: #43257d">
                        <span class="fas fa-user-alt font-size-h1 menu-icon">
                        </span>

                        <span class="d-block font-weight-bold text-white font-size-h8 mt-2">Online İşlemler</span>
                    </a>
                </div>
                <!--end::Item-->
            </div>
            <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div><div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div>
        </div>
        <!--end::Content-->
    </div>


    <!--end::Header Mobile-->
    <!--begin::Header-->
    <div id="kt_header" class="header flex-column header-fixed">

        <!--begin::Top-->
        <div class="header-top" style="background-color: #290b63">

            <!--begin::Container-->
            <div class="container">

                <!--begin::Left-->
                <div class="d-none d-lg-flex align-items-center mr-3">
                    <!--begin::Logo-->
                    <a href="/" class="mr-10">
                        <img alt="Logo" src="/assets/media/svg/logos/bejjpluslogonew.svg" class="max-h-25px">
                    </a>
                    <!--end::Logo-->
                    <!--begin::Header Menu Wrapper-->
                    <div class="header-menu-wrapper header-menu-wrapper-left" id="kt_header_menu_wrapper">
                        <!--begin::Header Menu-->
                        <div id="kt_header_menu" class="header-menu header-menu-left header-menu-mobile header-menu-layout-default">
                            <!--begin::Header Nav-->
                            <ul class="menu-nav">

                                <li class="menu-item menu-item-rel" aria-haspopup="true">
                                    <a href="kampanyalar" class="link m-3">
                                        <span class="text-white text-hover-warning font-size-h6">Kampanyalar</span>
                                    </a>
                                </li>
                                <li class="menu-item menu-item-rel" aria-haspopup="true">
                                    <a href="basvur" class="link m-3">
                                        <span class="text-white text-hover-warning font-size-h6">Hemen Başvur</span>
                                    </a>
                                </li>
                                <li class="menu-item menu-item-rel" aria-haspopup="true">
                                    <a href="/altyapi-sorgula" class="link m-3">
                                        <span class="text-white text-hover-warning font-size-h6">Altyapı Sorgula</span>
                                    </a>
                                </li>
                                <li class="menu-item menu-item-rel" aria-haspopup="true">
                                    <ul class="menu-subnav">
                                        <li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">

                                            <a href="javascript:;" class="link m-3">
                                                <span class="text-white text-hover-warning font-size-h6">Destek</span>

                                            </a>
                                            <div class="menu-submenu menu-submenu-classic menu-submenu-left" data-hor-direction="menu-submenu-left" style="background-color: #290b63">
                                                <ul class="menu-subnav">
                                                    <li class="menu-item" aria-haspopup="true">
                                                        <a href="sozlesme-ve-form" class="menu-link">
                                                            <span class="fas fas fa-sticky-note menu-icon">
                                                            </span>
                                                            <span class="font-size-h6 text-hover-warning menu-text">Sözleşme &amp; Formlar</span>
                                                        </a>
                                                    </li>
                                                    <li class="menu-item" aria-haspopup="true">
                                                        <a href="destek" class="menu-link">
                                                            <span class="fas fas fa-question-circle menu-icon">
                                                            </span>
                                                            <span class="font-size-h6 text-hover-warning menu-text">Yardım &amp; Destek</span>
                                                        </a>
                                                    </li>
                                                    <li class="menu-item" aria-haspopup="true">
                                                        <a href="hiz-testi" class="menu-link">
                                                            <span class="fas fa-tachometer-alt menu-icon">

                                                            </span>
                                                            <span class="font-size-h6 text-hover-warning menu-text">Hız Testi</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="topbar">
                    <!--begin::Desktop Arama-->
                    <div class="d-none m-4 d-lg-flex align-items-center">
                        <div class="quick-search quick-search-inline ml-4 w-250px" id="kt_quick_search_inline">
                            <!--begin::Form-->
                            <form method="get" class="quick-search-form">
                                <div class="input-group rounded">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <span class="svg-icon svg-icon-lg">
                                                <!--begin::Svg Icon | path:assets/media/svg/icons/General/Search.svg-->
                                                <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <rect x="0" y="0" width="24" height="24"></rect>
                                                        <path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                                                        <path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" fill="#000000" fill-rule="nonzero"></path>
                                                    </g>
                                                </svg>
                                                <!--end::Svg Icon-->
                                            </span>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control h-40px" placeholder="Nasıl yardımcı olabiliriz?">
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="quick-search-close ki ki-close icon-sm" style="display: none;"></i>
                                        </span>
                                    </div>
                                </div>
                            </form>
                            <!--end::Form-->
                            <!--begin::arama-sonuclari-->
                            <div id="kt_quick_search_toggle" data-toggle="dropdown" data-offset="0px,0px"></div>
                            <!--son::Search-->
                            <!--ilk::aclrm-->
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg dropdown-menu-anim-up">
                                <div class="quick-search-wrapper scroll ps" data-scroll="true" data-height="350" data-mobile-height="200" style="height: 350px; overflow: hidden;">
                                    <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                                        <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;">
                                        </div>
                                    </div>
                                    <div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div><div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div>
                                </div>
                            </div>
                            <!--son::aclrm-->
                        </div>
                    </div>
                    <!--end::Desktop Arama-->
                    <!--end::Topbar-->
                    <!--ilk::mini panel-->
                    <div class="topbar-item">
                        <div class="btn btn-icon btn-sm btn-clean btn-text m-1 mr-2" id="kt_quick_user_toggle" data-toggle="tooltip" title="" data-original-title="Fatura Öde">
                            <a href="destek/fatura-odeme" class="text-white text-hover-warning font-weight-bold font-size-sm d-none d-md-inline mr-1">
                                <span class="svg-icon svg-icon-2x">

                                    <span class="svg-icon svg-icon-danger svg-icon-2x">
                                        <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect x="0" y="0" width="24" height="24"></rect>
                                                <rect fill="#000000" opacity="0.3" x="2" y="5" width="20" height="14" rx="2"></rect>
                                                <rect fill="#000000" x="2" y="8" width="20" height="3"></rect>
                                                <rect fill="#000000" opacity="0.3" x="16" y="14" width="4" height="2" rx="1"></rect>
                                            </g>
                                        </svg><!--end::Svg Icon-->
                                    </span>

                                </span>
                            </a>
                        </div><a href="destek/fatura-odeme" class="text-white text-hover-warning font-weight-bold font-size-sm d-none d-md-inline mr-1">
                            <!--son::mini panel-->
                            <!--begin::User-->
                        </a><div class="topbar-item">
                            <a href="destek/fatura-odeme" class="text-white text-hover-warning font-weight-bold font-size-sm d-none d-md-inline mr-1">

                            </a><a href="giris" class="btn btn-sm text-white btn-outline-info">Online İşlemler</a>
                        </div>
                    </div>
                </div>
                <!--end::Topbar-->
            </div>
        </div>
    </div>





    <!--end::Header Menu Wrapper-->
    <!--end::Section-->
    <!--begin::Content-->
    <!--begin::Subheader-->

    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <!--begin::Info-->
        <!--begin::Page Heading-->
        <div class="d-flex align-items-baseline flex-wrap my-5 mr-5">

        </div>
        <!--end::Toolbar-->
    </div>

    <!--end::Subheader-->
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <!--begin::Card-->
            <div class="card card-custom">
                <!--begin::Card Body-->
                <div class="card-body p-0">
                    <!--begin::Wizard 5-->
                    <div class="wizard wizard-5 d-flex flex-column flex-lg-row flex-row-fluid" id="kt_wizard">
                        <!--begin::Aside-->
                        <div class="wizard-aside bg-white d-flex flex-column flex-row-auto w-100 w-lg-300px w-xl-400px w-xxl-450px">
                            <!--begin::Aside Top-->
                            <div class="d-flex flex-column-fluid flex-column px-xxl-20 px-10">
                                <!--begin: Wizard Nav-->
                                <div class="wizard-nav d-flex d-flex justify-content-center pt-10 pt-lg-15 pb-8">
                                    <!--begin::Wizard Steps-->
                                    <div class="wizard-steps">



                                        <!--begin::Wizard Step 1 Nav-->
                                        <div class="wizard-step">
                                            <div class="wizard-wrapper">
                                                <div class="wizard-icon">

                                                    <span class="wizard-number">
                                                        <span class="svg-icon svg-icon-info svg-icon-2x">
                                                            <!--begin::Svg Icon--><svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                    <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                                                    <path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                                                                    <rect fill="#000000" x="6" y="11" width="9" height="2" rx="1"></rect>
                                                                    <rect fill="#000000" x="6" y="15" width="5" height="2" rx="1"></rect>
                                                                </g>
                                                            </svg><!--end::Svg Icon-->
                                                        </span>
                                                    </span>
                                                </div>

                                                <div class="wizard-label">
                                                    <h3 class="wizard-title font-weight my-0 font-size-h4">Sözleşme ve Formlar</h3>
                                                </div>
                                            </div>
                                        </div>
                                        <!--end::Wizard Step 1 Nav-->

                                        <div class="text-dark-50 font-weight font-size-h6 my-6 mt-2">Başvuru formlarımızı linklerden bilgisayarınıza indirebilirsiniz. Başvuru formlarımızı görüntüleyebilmek ve yazdırmak için Adobe® Acrobat® Reader programına ihtiyacınız vardır. </div>


                                    </div>
                                    <!--end::Wizard Steps-->
                                </div>
                                <!--end: Wizard Nav-->
                                <div class="d-flex flex-row-auto bgi-no-repeat bgi-position-bottom bgi-position-center bgi-size-contain pt-15 pt-lg-10 h-250px" style="background-image: url(/assets/media/svg/file-4.svg)"></div><br>
                            </div>
                            <!--end::Aside Top-->

                        </div>
                        <!--begin::Aside-->
                        <!--begin::Content-->

                        <div class="d-flex flex-column flex-row-fluid py-15 px-5 px-lg-10 ">


                            <!--begin::Title-->
                            <div class="text-right mb-lg-4 mb-15 mr-xxl-10">

                            </div>
                            <!--end::Title-->
                            <!--begin::Form-->
                            <div class="d-flex justify-content-center flex-row-fluid ">
                                <form class="pb-5 w-100 w-md-450px w-lg-500px" id="kt_form2">
                                    <!--begin: Wizard Step 1-->
                                    <!--begin::Title-->
                                    <div class="pb-10 pb-lg-15">

                                        <h3 class="font-weight-bolder text-info font-size-h2">Sözleşme ve Formlar İçin İndirme Linkleri</h3><hr class="my-8">






                                        <div class="d-flex align-items-center">
                                            <!--begin::Pic-->
                                            <div class="flex-shrink-0 mr-4 symbol symbol-40 ">
                                                <img src="/assets/media/svg/files/pdf.svg" alt="image">
                                            </div>
                                            <!--end::Pic-->
                                            <!--begin::Info-->
                                            <div class="d-flex flex-column mr-auto my-6">
                                                <!--begin: Title-->
                                                <a href="https://netspeed.com.tr/sozlesme/basvuruformuvesozlesme.pdf" target="_blank" class="card-title text-hover-primary font-weight-bolder font-size-h5 text-dark mb-1">Başvuru Formu ve Abonelik Sözleşmesi</a>
                                                <small>Bireysel Başvuru Formu Abonelik Sözleşmesini indirmek için tıklayınız</small>
                                                <!--end::Title-->
                                            </div>
                                            <!--end::Info-->
                                            <!--begin::Toolbar-->

                                            <a href="https://netspeed.com.tr/sozlesme/basvuruformuvesozlesme.pdf" target="_blank" class="btn btn-icon btn-light btn-sm">
                                                <span class="svg-icon svg-icon-md svg-icon-2x svg-icon-primary">
                                                    <!--begin::Svg Icon--><svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                            <rect x="0" y="0" width="24" height="24"></rect>
                                                            <path d="M2,13 C2,12.5 2.5,12 3,12 C3.5,12 4,12.5 4,13 C4,13.3333333 4,15 4,18 C4,19.1045695 4.8954305,20 6,20 L18,20 C19.1045695,20 20,19.1045695 20,18 L20,13 C20,12.4477153 20.4477153,12 21,12 C21.5522847,12 22,12.4477153 22,13 L22,18 C22,20.209139 20.209139,22 18,22 L6,22 C3.790861,22 2,20.209139 2,18 C2,15 2,13.3333333 2,13 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                                                            <rect fill="#000000" opacity="0.3" transform="translate(12.000000, 8.000000) rotate(-180.000000) translate(-12.000000, -8.000000) " x="11" y="1" width="2" height="14" rx="1"></rect>
                                                            <path d="M7.70710678,15.7071068 C7.31658249,16.0976311 6.68341751,16.0976311 6.29289322,15.7071068 C5.90236893,15.3165825 5.90236893,14.6834175 6.29289322,14.2928932 L11.2928932,9.29289322 C11.6689749,8.91681153 12.2736364,8.90091039 12.6689647,9.25670585 L17.6689647,13.7567059 C18.0794748,14.1261649 18.1127532,14.7584547 17.7432941,15.1689647 C17.3738351,15.5794748 16.7415453,15.6127532 16.3310353,15.2432941 L12.0362375,11.3779761 L7.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" transform="translate(12.000004, 12.499999) rotate(-180.000000) translate(-12.000004, -12.499999) "></path>
                                                        </g>
                                                    </svg><!--end::Svg Icon-->
                                                </span>
                                            </a>

                                        </div>





                                        <div class="d-flex align-items-center">
                                            <!--begin::Pic-->
                                            <div class="flex-shrink-0 mr-4 symbol symbol-40 ">
                                                <img src="/assets/media/svg/files/pdf.svg" alt="image">
                                            </div>
                                            <!--end::Pic-->
                                            <!--begin::Info-->
                                            <div class="d-flex flex-column mr-auto my-6">
                                                <!--begin: Title-->
                                                <a href="https://netspeed.com.tr/sozlesme/bireyselisletmecidegisiklikformu.pdf" target="_blank" class="card-title text-hover-primary font-weight-bolder font-size-h5 text-dark mb-1">Bireysel İşletmeci Değişiklik Formu</a>
                                                <small>Bireysel İşletmeci Değişiklik Formunu indirmek için tıklayınız</small>
                                                <!--end::Title-->
                                            </div>
                                            <!--end::Info-->
                                            <!--begin::Toolbar-->

                                            <a href="https://netspeed.com.tr/sozlesme/bireyselisletmecidegisiklikformu.pdf" target="_blank" class="btn btn-icon btn-light btn-sm">
                                                <span class="svg-icon svg-icon-md svg-icon-2x svg-icon-primary">
                                                    <!--begin::Svg Icon--><svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                            <rect x="0" y="0" width="24" height="24"></rect>
                                                            <path d="M2,13 C2,12.5 2.5,12 3,12 C3.5,12 4,12.5 4,13 C4,13.3333333 4,15 4,18 C4,19.1045695 4.8954305,20 6,20 L18,20 C19.1045695,20 20,19.1045695 20,18 L20,13 C20,12.4477153 20.4477153,12 21,12 C21.5522847,12 22,12.4477153 22,13 L22,18 C22,20.209139 20.209139,22 18,22 L6,22 C3.790861,22 2,20.209139 2,18 C2,15 2,13.3333333 2,13 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                                                            <rect fill="#000000" opacity="0.3" transform="translate(12.000000, 8.000000) rotate(-180.000000) translate(-12.000000, -8.000000) " x="11" y="1" width="2" height="14" rx="1"></rect>
                                                            <path d="M7.70710678,15.7071068 C7.31658249,16.0976311 6.68341751,16.0976311 6.29289322,15.7071068 C5.90236893,15.3165825 5.90236893,14.6834175 6.29289322,14.2928932 L11.2928932,9.29289322 C11.6689749,8.91681153 12.2736364,8.90091039 12.6689647,9.25670585 L17.6689647,13.7567059 C18.0794748,14.1261649 18.1127532,14.7584547 17.7432941,15.1689647 C17.3738351,15.5794748 16.7415453,15.6127532 16.3310353,15.2432941 L12.0362375,11.3779761 L7.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" transform="translate(12.000004, 12.499999) rotate(-180.000000) translate(-12.000004, -12.499999) "></path>
                                                        </g>
                                                    </svg><!--end::Svg Icon-->
                                                </span>
                                            </a>

                                        </div>







                                        <div class="d-flex align-items-center">
                                            <!--begin::Pic-->
                                            <div class="flex-shrink-0 mr-4 symbol symbol-40 ">
                                                <img src="/assets/media/svg/files/pdf.svg" alt="image">
                                            </div>
                                            <!--end::Pic-->
                                            <!--begin::Info-->
                                            <div class="d-flex flex-column mr-auto my-6">
                                                <!--begin: Title-->
                                                <a href="https://netspeed.com.tr/sozlesme/pstnyalindslformu.pdf" target="_blank" class="card-title text-hover-primary font-weight-bolder font-size-h5 text-dark mb-1">PSTN+ADSL Abone Yalın DSL Talep Formu</a>
                                                <small>PSTN+ADSL Abone Yalın DSL Talep Formu indirmek için tıklayınız</small>
                                                <!--end::Title-->
                                            </div>
                                            <!--end::Info-->
                                            <!--begin::Toolbar-->

                                            <a href="https://netspeed.com.tr/sozlesme/pstnyalindslformu.pdf" target="_blank" class="btn btn-icon btn-light btn-sm">
                                                <span class="svg-icon svg-icon-md svg-icon-2x svg-icon-primary">
                                                    <!--begin::Svg Icon--><svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                            <rect x="0" y="0" width="24" height="24"></rect>
                                                            <path d="M2,13 C2,12.5 2.5,12 3,12 C3.5,12 4,12.5 4,13 C4,13.3333333 4,15 4,18 C4,19.1045695 4.8954305,20 6,20 L18,20 C19.1045695,20 20,19.1045695 20,18 L20,13 C20,12.4477153 20.4477153,12 21,12 C21.5522847,12 22,12.4477153 22,13 L22,18 C22,20.209139 20.209139,22 18,22 L6,22 C3.790861,22 2,20.209139 2,18 C2,15 2,13.3333333 2,13 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                                                            <rect fill="#000000" opacity="0.3" transform="translate(12.000000, 8.000000) rotate(-180.000000) translate(-12.000000, -8.000000) " x="11" y="1" width="2" height="14" rx="1"></rect>
                                                            <path d="M7.70710678,15.7071068 C7.31658249,16.0976311 6.68341751,16.0976311 6.29289322,15.7071068 C5.90236893,15.3165825 5.90236893,14.6834175 6.29289322,14.2928932 L11.2928932,9.29289322 C11.6689749,8.91681153 12.2736364,8.90091039 12.6689647,9.25670585 L17.6689647,13.7567059 C18.0794748,14.1261649 18.1127532,14.7584547 17.7432941,15.1689647 C17.3738351,15.5794748 16.7415453,15.6127532 16.3310353,15.2432941 L12.0362375,11.3779761 L7.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" transform="translate(12.000004, 12.499999) rotate(-180.000000) translate(-12.000004, -12.499999) "></path>
                                                        </g>
                                                    </svg><!--end::Svg Icon-->
                                                </span>
                                            </a>

                                        </div>





                                        <hr class="my-8">



                                        <div class="d-flex align-items-center">


                                            <span class="text-dark-50 font-weight-bold my-8">Formları indirip yazıcıdan çıktısını alarak ilgili alanları doldurup imzalamanız ve daha sonra kimlik fotokopinizi de ekleyerek aşağıdaki adrese MNG Kargo ile karşı ödemeli olarak göndermeniz yeterlidir. </span>
                                        </div>

                                        <span class="text-dark-75 font-weight-bold my-8"> Netspeed İnternet A.Ş Saraylar Mah. 464. Sokak No:1 Durmuş Ali Çoban İş Merkezi Kat:3 No:9 20010 Merkezefendi/Denizli</span>
                                    </div>



                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--end::Form-->
    </div>

    <!--end::Content-->
    <!--end::Content-->
    <!--begin::Footer-top-->
    <div class="footer mt-10 py-6 d-flex flex-lg-column" style="background-color: #301065;" id="kt_footer">
        <!--begin::Container-->
        <div class="container d-flex flex-column flex-md-row align-items-center justify-content-between">
            <!--begin::Copyright-->
            <div class="text-dark order-2 order-md-1">
                <span class="text-dark-25 font-weight-bold font-size-h6 font-weight-bold mr-2">Müşteri Destek Hattı  |</span>
                <a href="tel:08508005800" class="text-dark-25 font-weight-bold font-size-h6 text-hover-warning">0850 800 5 800</a>
            </div>
            <!--end::Copyright-->
            <!--begin::Nav-->
            <div class="nav nav-dark order-1 mb-2 order-md-2">
                <span class="text-dark-25 font-weight-bold font-size-h6 font-weight-bold mt-2">Bizi Takip Edin</span>
                <a href="https://www.facebook.com/netspeedtr" class="btn btn-icon btn-sm btn-white-facebook mr-2"><i class="socicon-facebook text-hover-warning"></i></a>
                <a href="https://twitter.com/netspeedtr" class="btn btn-icon btn-sm btn-white-twitter mr-2"><i class="socicon-twitter text-hover-warning"></i></a>
                <a href="https://www.instagram.com/netspeedtr" class="btn btn-icon btn-sm btn-white-instagram mr-2"><i class="socicon-instagram text-hover-warning"></i></a>
                <a href="https://www.youtube.com/channel/UC_o84M_iunxghaC8zgLuSwA" class="btn btn-icon btn-sm btn-white-youtube mr-2"><i class="socicon-youtube text-hover-warning"></i></a>


            </div>
            <!--end::Nav-->
        </div>
        <!--end::Container-->
    </div>

    <!--end::Footer-top-->
    <!--begin::Footer-->
    <div class="footer py-4 d-flex flex-lg-column" style="background-color: #1a0340;" id="kt_footer">
        <!--begin::Container-->
        <div class="container d-flex flex-column flex-md-row align-items-center justify-content-between">
            <!--begin::Copyright-->
            <div class="text-dark order-2 order-md-2">
                <span class="text-muted font-weight-bold mr-2">©2020</span>
                <a href="/" class="mr-0">
                    <img alt="Netspeed" src="/assets/media/logos/bejlogomini.svg" class="max-h-15px mr-3">
                </a>
            </div>
            <!--end::Copyright-->
            <!--begin::Nav-->
            <div class="nav nav-dark order-1 order-md-1">
                <div class="d-flex flex-wrap justify-content-center my-2">
                    <a href="destek/bizeulasin" class="text-dark-25 text-hover-warning font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-6">Bize Ulaşın</a>
                    <a href="destek/hakkimizda" class="text-dark-25 text-hover-warning font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2">Hakkımızda</a>
                    <a href="destek/fatura-odeme" class="text-dark-25 text-hover-warning font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2">Fatura Ödeme</a>
                    <a href="destek/gizlilik" class="text-dark-25 text-hover-warning font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2">Gizlilik</a>
                    <a href="destek/cerez-politikasi" class="text-dark-25 text-hover-warning font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2">Çerez Politikası</a>
                    <a href="destek/kvkk" class="text-dark-25 text-hover-warning font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2">Kişisel Verilerin Korunması</a>
                    <a href="destek/siber-guvenlik" class="text-dark-25 text-hover-warning font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2">Siber Güvenlik</a>

                </div>

            </div>
            <!--end::Nav-->
        </div>

    </div>
    <!--end::Container-->
    <!--end::Footer-->
    <!--end::Wrapper-->
    <!--end::Page-->
    <!--end::Main-->



    <div class="wa__btn_popup animate__animated animate__bounceInRight animate__delay-5s">
        <div class="wa__btn_popup_txt font-weight-bolder font-size-h8 text-info rounded-lg animate__animated animate__backOutRight animate__delay-20s">Yardım mı Lazım? <strong> </strong></div>
        <div class="wa__btn_popup_icon"></div>
    </div>


    <div class="wa__popup_chat_box">
        <div class="wa__popup_heading">
            <div class="wa__popup_title">Merhaba</div>
            <div class="wa__popup_intro font-size-h5">
                Size Nasıl Yardımcı Olabiliriz?
                <div id="\&quot;eJOY__extension_root\&quot;"></div>
            </div>
        </div>
        <!-- /.wa__popup_heading -->
        <div class="wa__popup_content wa__popup_content_left">

            <div class="wa__popup_content_list">
                <div class="wa__popup_content_item ">
                    <a href="tel:08508005800" class="wa__stt wa__stt_online">
                        <div class="wa__popup_avatar">
                            <span class="svg-icon svg-icon-3x svg-icon-danger m-0">

                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24"></rect>
                                        <path d="M13.0799676,14.7839934 L15.2839934,12.5799676 C15.8927139,11.9712471 16.0436229,11.0413042 15.6586342,10.2713269 L15.5337539,10.0215663 C15.1487653,9.25158901 15.2996742,8.3216461 15.9083948,7.71292558 L18.6411989,4.98012149 C18.836461,4.78485934 19.1530435,4.78485934 19.3483056,4.98012149 C19.3863063,5.01812215 19.4179321,5.06200062 19.4419658,5.11006808 L20.5459415,7.31801948 C21.3904962,9.0071287 21.0594452,11.0471565 19.7240871,12.3825146 L13.7252616,18.3813401 C12.2717221,19.8348796 10.1217008,20.3424308 8.17157288,19.6923882 L5.75709327,18.8875616 C5.49512161,18.8002377 5.35354162,18.5170777 5.4408655,18.2551061 C5.46541191,18.1814669 5.50676633,18.114554 5.56165376,18.0596666 L8.21292558,15.4083948 C8.8216461,14.7996742 9.75158901,14.6487653 10.5215663,15.0337539 L10.7713269,15.1586342 C11.5413042,15.5436229 12.4712471,15.3927139 13.0799676,14.7839934 Z" fill="#000000"></path>
                                        <path d="M14.1480759,6.00715131 L13.9566988,7.99797396 C12.4781389,7.8558405 11.0097207,8.36895892 9.93933983,9.43933983 C8.8724631,10.5062166 8.35911588,11.9685602 8.49664195,13.4426352 L6.50528978,13.6284215 C6.31304559,11.5678496 7.03283934,9.51741319 8.52512627,8.02512627 C10.0223249,6.52792766 12.0812426,5.80846733 14.1480759,6.00715131 Z M14.4980938,2.02230302 L14.313049,4.01372424 C11.6618299,3.76737046 9.03000738,4.69181803 7.1109127,6.6109127 C5.19447112,8.52735429 4.26985715,11.1545872 4.51274152,13.802405 L2.52110319,13.985098 C2.22450978,10.7517681 3.35562581,7.53777247 5.69669914,5.19669914 C8.04101739,2.85238089 11.2606138,1.72147333 14.4980938,2.02230302 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                                    </g>
                                </svg><!--end::Svg Icon-->
                            </span>
                        </div>

                        <div class="wa__popup_txt">
                            <div class="wa__member_name text-info font-size-h4">Bizi Arayın</div>

                            <!-- /.wa__member_name -->
                            <div class="wa__member_duty">0850 800 5 800</div>
                            <!-- /.wa__member_duty -->
                        </div>
                        <!-- /.wa__popup_txt -->
                    </a>
                </div>





                <div class="wa__popup_content_item ">
                    <a data-toggle="modal" data-target="#exampleModal" class="wa__stt wa__stt_online">
                        <div class="wa__popup_avatar">
                            <h1 class="fas fa-headset font-weight-boldest text-primary  my-2"></h1>
                        </div>

                        <div class="wa__popup_txt">
                            <div class="wa__member_name text-info font-size-h5">Biz Sizi Arayalım mı?</div>
                            <!-- /.wa__member_name -->
                            <div class="wa__member_duty">Aranma Talebinde Bulunun</div>
                            <!-- /.wa__member_duty -->
                        </div>
                        <!-- /.wa__popup_txt -->
                    </a>
                </div>
                <div class="wa__popup_content_item ">
                    <a target="_blank" href="https://m.me/netspeedtr" class="wa__stt wa__stt_online">
                        <div class="wa__popup_avatar">
                            <h1 class="fab fa-facebook-messenger font-weight-boldest text-primary  my-2"></h1>
                        </div>

                        <div class="wa__popup_txt">
                            <div class="wa__member_name text-info font-size-h5">Facebook Messenger</div>
                            <!-- /.wa__member_name -->
                            <div class="wa__member_duty">Şimdi Sohbet Başlat</div>
                            <!-- /.wa__member_duty -->
                        </div>
                        <!-- /.wa__popup_txt -->
                    </a>
                </div>
                <div class="wa__popup_content_item ">
                    <a href="destek" class="wa__stt wa__stt_online">
                        <div class="wa__popup_avatar">
                            <h1 class="fas fa-question font-weight-boldest text-warning  my-2"></h1>
                        </div>

                        <div class="wa__popup_txt">
                            <div class="wa__member_name text-info font-size-h5">Sıkça Sorulan Sorular</div>
                            <!-- /.wa__member_name -->
                            <div class="wa__member_duty">
                                Bizden aldığınız internet hizmeti ile ilgili Sıkça Sorulan Sorular ve yanıtlara buradan ulaşabilirsiniz.
                            </div>
                            <!-- /.wa__member_duty -->
                        </div>
                        <!-- /.wa__popup_txt -->
                    </a>
                </div>
            </div>
            <!-- /.wa__popup_content_list -->
        </div>
        <!-- /.wa__popup_content -->
    </div>
    <!--begin::Global Config(global config for global JS scripts)-->
    <script>var NtsAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1200 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#0BB783", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#8950FC", "warning": "#FFA800", "danger": "#F64E60", "light": "#F3F6F9", "dark": "#212121" }, "light": { "white": "#ffffff", "primary": "#D7F9EF", "secondary": "#ECF0F3", "success": "#C9F7F5", "info": "#EEE5FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#212121", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#ECF0F3", "gray-300": "#E5EAEE", "gray-400": "#D6D6E0", "gray-500": "#B5B5C3", "gray-600": "#80808F", "gray-700": "#464E5F", "gray-800": "#1B283F", "gray-900": "#212121" } }, "font-family": "Poppins" };</script>

    <!--end::Global Config-->
    <!--begin::Standart Full(used by all pages)-->
    <script src="/assets/js/plugins.bundle.js"></script>
    <script src="/assets/js/prismjs.bundle.js"></script>
    <script src="/assets/js/scripts.bundle.js"></script>
    <script src="/assets/js/helpbubscript.js"></script>
    <!--end::Standart Full-->
    <!--begin::Sayfa Ozel Full-->
    <!--end::Page Vendors-->
    <!--begin::Page Scripts(Sayfa Ozel Full)-->
    <script src="/assets/js/input-mask.js"></script>
    <script src="/assets/js/hide-show-fields-form.js"></script>
    <script src="/assets/js/widgets.js"></script>
    <script src="/assets/js/cookieconsent.min.js" defer=""></script>
    <!--end::Page Scripts-->
    <svg id="SvgjsSvg1001" width="2" height="0" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" style="overflow: hidden; top: -100%; left: -100%; position: absolute; opacity: 0;"><defs id="SvgjsDefs1002"></defs><polyline id="SvgjsPolyline1003" points="0,0"></polyline><path id="SvgjsPath1004" d="M0 0 "></path></svg>
</body><!--end::Body-->
</html>