@model NetspeedMainWebsite.Models.ViewModel.ApplicationViewModel


@{ ViewBag.Title = "Sistemsel Hata";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
 }

<div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
    <!--begin::Info-->
    <!--begin::Page Heading-->
    <div class="d-flex align-items-baseline flex-wrap my-5 mr-5">

    </div>
    <!--end::Toolbar-->
</div>

<!--end::Subheader-->
<!--begin::Entry-->
<div class="d-flex flex-column-fluid">
    @*  @Html.AntiForgeryToken()*@
    <!--begin::Container-->
    <div class="container">
        <div class="card card-custom wizard-content d-flex flex-column flex-row-fluid py-15 px-5 px-lg-10 ">
            <!--begin::Title-->
            <div class="text-right mb-lg-4 mb-15 mr-xxl-10">
            </div>
            <!--end::Title-->
            <!--begin::Form-->
            <div class="d-flex justify-content-center flex-row-fluid ">
                @*<div class="pb-5 w-100 w-md-450px w-lg-500px" novalidate="novalidate" id="kt_form">

                    <div class="pb-5 w-100 w-md-550px w-lg-600px" id="kt_form2">*@
                        <!--begin: Wizard Step 1-->
                        <!--begin::Title-->
                        <div class="pb-10 pb-lg-15">
                            <h3 class="font-weight-bolder text-info font-size-h2">Sistemsel Bir Hatadan Dolayı İşleminizi Gerçekleştiremiyoruz.</h3>
                            <hr class="my-8">
                            <h4>Bize Aşağıdaki Numaralardan Ulaşabilir veya Destek Kaydı Açabilirsiniz.</h4>
                            <br />
                            <div class="bg-secondary rounded d-flex align-items-center justify-content-between text-white position-relative ml-auto p-7">
                               
                                <div class="row">
                                    
                                    <div class="col-lg-6">
                                        <!--begin::Callout-->
                                        <div class="card card-custom p-2 mb-8 mb-lg-0" style="
                                    box-shadow:-webkit-box-shadow: -10px 68px 106px -16px rgba(0,0,0,0.37);
                                    -moz-box-shadow: -13px 68px 106px -16px rgba(0,0,0,0.37);
                                    box-shadow: box-shadow:-webkit-box-shadow: -10px 68px 106px -16px rgba(0,0,0,0.37);
                                    -moz-box-shadow: -13px 68px 106px -16px rgba(0,0,0,0.37);
                                    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
                                    ">
                                            <div class="card-body">
                                                <div class="row">
                                                    <!--begin::Content-->
                                                    <div class="col-sm-7">
                                                        <h3 class="text-dark font-weight-bolder mb-4">Zaten bizim müşterimiz misiniz?</h3>
                                                        <h2 class="text-info mb-4">0850 800 5 800</h2>
                                                        <p class="text-dark-50 font-size-lg">Müşteri desteğimiz haftanın 7 günü size yardımcı olmak için hizmetinizdedir.</p>
                                                    </div>
                                                    <!--end::Content-->
                                                    <!--begin::Button-->
                                                    <div class="col-sm-5 d-flex align-items-center justify-content-sm-end">
                                                        <a href="https://online.netspeed.com.tr" class="btn font-weight-bolder  btn-primary py-3 px-6">Destek Kaydı Açın</a>
                                                    </div>
                                                    <!--end::Button-->
                                                </div>
                                            </div>
                                        </div>
                                        <!--end::Callout-->
                                    </div>
                                    <div class="col-lg-6">
                                        <!--begin::Callout-->
                                        <div class="card card-custom p-2 mb-0 mb-lg-0" style="
                                    box-shadow:-webkit-box-shadow: -10px 68px 106px -16px rgba(0,0,0,0.37);
                                    -moz-box-shadow: -13px 68px 106px -16px rgba(0,0,0,0.37);
                                    box-shadow: box-shadow:-webkit-box-shadow: -10px 68px 106px -16px rgba(0,0,0,0.37);
                                    -moz-box-shadow: -13px 68px 106px -16px rgba(0,0,0,0.37);
                                    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
                                    ">
                                            <div class="card-body">
                                                <div class="row">
                                                    <!--begin::Content-->
                                                    <div class="col-sm-7">
                                                        <h3 class="text-dark font-weight-bolder mb-4">Bize katılmayı mı düşünüyorsunuz?</h3>
                                                        <h2 class="text-info mb-4">444 0 217</h2>
                                                        <p class="text-dark-50 font-size-lg">Satış ekibimiz size her aşamada yardımcı olmaktan mutluluk duyacaktır.</p>
                                                    </div>
                                                    <!--end::Content-->
                                                    <!--begin::Button-->
                                                    <div class="col-sm-5 d-flex align-items-center justify-content-sm-end">

                                                        <button type="button" class="btn font-weight-bolder  btn-info py-3 px-6 " data-toggle="modal" data-target="#exampleModal">
                                                            Sizi Biz Arayalım
                                                        </button>
                                                        <!--end::Button-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="my-0">
                    </div>
                </div>
            </div>
        </div>
        <!--end: Wizard Actions-->



