
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="form-group" id="otherFieldGroupDiv">
    <div class="alert alert-custom alert-outline-primary fade show mb-5" role="alert">
        <div class="alert-icon"><i class="animate__animated animate__flash flaticon-exclamation-2"></i></div>
        <div class="alert-text">10 Haneli Hizmet Numaranızı mevcut operatörünüzün faturasından veya online işlem merkezine giriş yaparak öğrenebilirsiniz. </div>
        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="ki ki-close"></i></span>
            </button>
        </div>
    </div>  
</div>

<div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
    <!--begin::Info-->
    <!--begin::Page Heading-->
    <div class="d-flex align-items-baseline flex-wrap my-5 mr-5">

    </div>
    <!--end::Toolbar-->
</div>

<!--end::Subheader-->
<!--begin::Entry-->
<div class="d-flex flex-column-fluid">
    @*  @Html.AntiForgeryToken()*@
    <!--begin::Container-->
    <div class="container">
        <div class="card card-custom wizard-content d-flex flex-column flex-row-fluid py-15 px-5 px-lg-10 ">
            <!--begin::Title-->
            <div class="text-right mb-lg-4 mb-15 mr-xxl-10">
            </div>
            <!--end::Title-->
            <!--begin::Form-->
            <div class="d-flex justify-content-center flex-row-fluid ">
                <div class="pb-5 w-100 w-md-450px w-lg-500px" novalidate="novalidate" id="kt_form">

                    <div class="pb-5 w-100 w-md-550px w-lg-600px" id="kt_form2">
                        <!--begin: Wizard Step 1-->
                        <!--begin::Title-->
                        <div class="pb-10 pb-lg-15">
                            <h3 class="font-weight-bolder text-info font-size-h2">Kayıtlı Müşteri</h3><hr class="my-8">
                            <div class="bg-secondary rounded d-flex align-items-center justify-content-between text-white position-relative ml-auto p-7">
                                <!--begin::Shape-->
                                <div class="row">


                                    <!--end::Shape-->
                                    <h3 class="font-weight-bolder text-dark font-size-h4">İşlemlerinizi Yapmak İçin Lütfen Netspeed Online İşlem Merkezini Ziyaret Ediniz. </h3>




                                </div>
                            </div>
                        </div>
                        <hr class="my-0">
                    </div>
                </div>
            </div>
        </div>
        <!--end: Wizard Actions-->
    </div>
</div>







