@model NetspeedMainWebsite.Models.ViewModel.ApplicationViewModel
@*<div class="card card-custom wizard-content d-flex flex-column flex-row-fluid py-15 px-5 px-lg-10 ">*@


<!--begin::Title-->
<div class="text-right mb-lg-4 mb-15 mr-xxl-10">

</div>
<!--begin::Form-->
<div class="d-flex justify-content-center flex-row-fluid ">
    <div class="pb-5 w-100 w-md-450px w-lg-500px" novalidate="novalidate" id="kt_form">
        <!--begin: Wizard Step 1-->
        <div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">
            <!--begin::Title-->
            <div class="pb-10 pb-lg-15">
                <div class="text-dark font-weight font-size-h8 mt-5">Cep Telefonunuza doğrulama kodu içeren bir sms göndereceğiz.</div>
            </div>
            <!--begin::Title-->
            <!--begin::Form Group-->
            <div class="form-group is-required">
                <label class="font-size-h6 font-weight-bolder m-2 text-dark">Lütfen GSM Numaranızı Yazınız</label>
                @Html.EditorFor(m => m.PhoneNumber, new
           {
               htmlAttributes = new
               {
                   @class = "form-control h-auto p-4 border-0 rounded-lg font-weight-bolder text-info font-size-h6",
                   @placeholder = "Telefon Numaranız",
                   @autocomplete = "off"
               }

           })
                <div class="text-danger"> @Html.ValidationMessageFor(model => model.PhoneNumber)</div>
                <span class="text-danger required-error">GSM numaranızı yazınız</span>

            </div>
            <!--end::Form Group-->
            <!--end: Wizard Step 1-->

        </div>
    </div>
</div>

